@import "../documentation-list.component.scss";
.physician-conatinar {
  .header {
    display: flex;
    justify-content: space-between;
    .admission-date {
      white-space: pre;
      font-size: 14px;
      font-weight: bolder;
      margin: 0;
    }

    .header-filter {
      display: flex;
      width: 30%;
      align-items: center;
    }
  }

  .chief-complain {
    textarea {
        height: 100px;
        border-radius: 10px;
        font-size: 12px;
    }
    span.input-title{
      position: relative !important;
      cursor: text;
      font-size: 12px;
      opacity: 1;
      top: 0.6em;
      left: 20px;
      z-index: 3;
      line-height: 0.2 !important;
      font-weight: bold;
      color: #0890c5;
      background: #fff;
      padding: 0 10px;
    }
    .z-indexlabel{
      z-index: 999;
    }
  }
  .admitting-physician{
    white-space: pre;
      font-size: 14px;
      font-weight: bolder;
      margin: 0;
  }
  .form-control{
    border: 1px solid #0056b0;
  }
  .source-info{
    position: relative;
    bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 21px 18px;
    border-radius: 7px;
  }
}

.date-function {
  input {
    font-size: 12px;
  }
  img {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    width: 14px;
  }
}

.border {
    border: 1px solid #cacaca !important;
    padding: 4px 10px 4px 10px;
    align-items: center;
    border-radius: 6px;
    margin: 10px 30px 0px 0px;
}

.checkbox-list {
    border: 1px solid #cacaca;
    border-radius: 10px;
    padding: 0 10px 10px 15px;
}

.impression {
    border: 1px solid #cacaca;
    border-radius: 6px;
    .header {
        padding: 10px;
        border-bottom: 1px solid #cacaca;
    }
}

.personal-hist-drop {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    padding: 0 0 0 10px;
    border-radius: 6px;
    justify-content: space-between;
}

.drop-down-list {
    display: flex;
    justify-content: space-between;
    height: 28px;
}

.h-28 {
    max-height: 28px !important;
    height: 28px !important;
}

.comment-input {
    width: 100%;
    display: flex;
    padding: 5px 15px 0 25px;
    align-items: center;
}
.create-diagnosis{
  border: 1px solid;
  background: #3b82f6;
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 700;
}
.nav-item a{
  font-size: 18px;
    font-weight: bold;
}
.table th,
.table td {
  border-color: #5d5c5c !important;
}
.gyno-history-block{
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 7px;
}
// physical exam part

/*FRIST SECTION CSS START*/ 
.physical-examination .container {
    width: 98%;
    padding: 15px;
    margin: 15px;
    max-width: 100%;
} 
.main-border {
    border: 2px solid #bababc;
    border-radius: 15px;
}
.physical-examination .New-border {
    border: 1px solid #355473;
    padding: 10px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 0px 2px #355473;
}
.physical-examination .mode-label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.physical-examination .New-border ul.general-boxes {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background: #e9edee;
    position: relative;
    font-size: 13px;
    color: #000;
    font-weight: 500;
}
.physical-examination .New-border ul.general-boxes li {
    padding: 8px 5px;
    border-bottom: 1px solid #c8cccf;
}
.physical-examination select.new-slect-box, .physical-examination .input-boxes input {
    width: 100%;
    border: 1px solid #0056b0 ;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-bottom: 6px !important;
    padding: 0px 5px;
    font-size: 14px;
    box-shadow: 0px 0px 1px #0056b0 !important;
}
.physical-examination select.new-slect-box:last-child, .physical-examination input:last-child {
    margin: 0px;
}
.physical-examination select.new-slect-box:focus-visible, .physical-examination input:focus-visible {
    border:  1px solid #324c7d;
    background: #fff !important;
    outline: none;
}
/*FRIST SECTION CSS CLOSE*/

/*SECOUND SECTION CSS START*/
ul.respiratory-check-box, ul { padding: 0px;list-style: none; position: relative; margin-top: 11px;}
ul.respiratory-check-box li label.form-check-label { padding-left: 30px;padding-top: 2px;}
ul.respiratory-check-box li input.form-check-input {
    width: 20px;
    border: none;
    box-shadow: inherit;
    height: 25px;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.physical-examination .mode-label.label-new-respiratory {
    position: absolute;
    top: -22px;
    left: 20px;
    background: #fff;
    padding: 0px 10px;
}
ul.respiratory-check-box li {
    font-weight: 500;
    font-size: 11px;
    color: #444444;
    width: 32.1%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
}
.textarea-box textarea::placeholder {color: #324c7d;}
.textarea-box textarea {
    width: 100%;
    border: 1px solid #324c7d;
    border-radius: 5px;
    width: 100%;
    height: 55px;
    padding: 15px 10px 10px;
    font-size: 16px;
    box-shadow: 0px 0px 1px #355473;
    border-radius: 13px;
}

.right-bottom-text input {
    width: 20px;
    border: none;
    box-shadow: inherit;
    height: 25px;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.right-bottom-text label.form-check-label {
    padding-left: 25px;
    font-weight: 500;
    color: #000;
}
.right-bottom-text {
    text-align: right;
}
.elimination-box ul.respiratory-check-box {
    vertical-align: middle;
    align-items: center;
    display: flex;
}
ul.respiratory-check-box li .box-one-disable input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #000;
    border: 1px solid #cfcfcf;
}
/*SECOUND SECTION CSS CLOSE*/
ul.respiratory-check-box .form-check {  padding: 0px;}
ul.respiratory-check-box .form-check label {line-height: 19px;}

@media only screen and (max-width:3000px) {
  ul.respiratory-check-box.peripheral {  min-height: 215px;}
  .pap-smear-head {gap: 0%; align-items: center; padding-left: 28px;    padding-right: 0;}
  .pap-smear-head .main-head-first {
    width: 13.5%;
}

}
@media only screen and (max-width:1920px) {
  
}
@media only screen and (max-width:1600px) {
  ul.respiratory-check-box.peripheral {  min-height: 235px;}
  
}
@media only screen and (max-width:1290px) {
  ul.respiratory-check-box.peripheral {  min-height: 260px;} 
}


