
.data_body{
  text-transform: capitalize;
    .row{
      margin-bottom: 8px;
      align-items: center;
    }
    label{
      margin-bottom: 0;
      text-transform: capitalize;
      text-transform: capitalize;
  }
  .label{
      min-width: max-content;
      text-transform: capitalize;
  }
      
      .nav-pills li{
          height: 40px;
          cursor: pointer;
          display: flex;
          padding: 10px;
          margin-bottom: 0px;
          border: 1px solid #ccc;
      }
      .active{
          color: #fff;
          background-color: #0056b0;
      }
      .row{
          margin-bottom: 8px;
          align-items: center;
      }
      label{
          margin-bottom: 0;
          text-transform: capitalize;
      }
      .title-main {
          border-bottom: 3px solid #0056b0;
      }
      table{
          th{
              white-space: nowrap;
          }
          tr{
              td{
              text-align: justify;
              }
          }
      }
      .form-group{
          display: flex;
          align-items: center;
          margin-bottom: 10px;
      label{
          margin: 0;
          min-width: 80px;
      }
      .label{
          min-width: max-content;
          text-transform: capitalize;
      }
      }
}

.scale-box-main {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
  
    .scale-box {
      justify-content: space-between;
      padding: 0px 10px;
      width: 100%;
  
      .scale-box-checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 0px;
  
        input[type="checkbox"] {
          width: 18px;
          height: 18px;
          accent-color: #0056b0;
        }
  
        label {
          display: inline-block;
          margin-bottom: 0rem !important;
        }
      }
  
      .scale-box-table {
        max-height: 296px;
        overflow: auto;
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(5) {
                  text-align: center;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                width: 25%;
  
                &:nth-child(5) {
                  width: 3%;
                  text-align: center;
                  cursor: pointer;
                }
  
                &:nth-child(6) {
                  width: 3%;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
  
      .third-table {
  
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(1) {
                  text-align: center;
                  width: 3%;
                }
  
                &:nth-child(2) {
                  text-align: center;
                  width: 0%;
                }
  
                &:nth-child(3) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(4) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(5) {
                  text-align: center;
                  width: 2%;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                // width: 25%;
              }
            }
          }
        }
      }
  
      .four-table {
        max-height: 296px;
        overflow: auto;
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(1) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(2) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(3) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(4) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(5) {
                  text-align: center;
                  width: 10%;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                // width: 25%;
              }
            }
          }
        }
      }
    }
  }


  .review-btn{
    background: #0056b0;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    width: 90px;
    border: none;
  }


  .disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }

  .max-height350{
    max-height:386px;
    }