<div class="sidebar-main">
  <div class="menu">
    <div class="main-menu">
      <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true }">
        <div class="site-menu-icon text-center">
          <img src="assets/img/favico.png" alt="" />
        </div>
        <ul>
          <li><a class="mb-0" placement="right" tooltip="e-Kardex"  title="e-Kardex" routerLinkActive="active" routerLink="/e-kardex" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_ekardex.png" alt="e-Kardex" width="48"></a></li>
          <li><a class="mb-0" placement="right" tooltip="e-Order"  title="e-Order"  routerLinkActive="active" routerLink="/e-order" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_eorder.png" alt="e-order" width="48"></a></li>
          <li><a class="mb-0" placement="right" tooltip="Radiology"  title="Radiology" routerLinkActive="active"  (click)="openModuleRad()" ><img src="assets/img/icon_radiology.jpg" alt="Radiology" width="48"></a></li>
          <li *ngIf="ePrescriptionActive"><a class="mb-0" placement="right" tooltip="e-Prescription" title="e-Prescription" routerLinkActive="active" routerLink="/e-prescription" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_eprescription.jpg" alt="e-Prescription" width="48"></a></li>
          <li *ngIf="!ePrescriptionActive"><a class="mb-0" placement="right" tooltip="e-Prescription" title="e-Prescriptionsssss" (click)="openEPrescription()"><img src="assets/img/icon_eprescription.jpg" alt="e-Prescription" width="48"></a></li>
          <li><a class="mb-0" placement="right" tooltip="Lab Chart" title="Lab Chart" routerLinkActive="active" (click)="openModuleLabChart()"><img src="assets/img/icon_lab.png" alt="Lab Chart" width="48"></a></li>
          <li ><a class="mb-0" placement="right" tooltip="IP Profile View"  title="IP Profile View"  routerLinkActive="active" [routerLink]="redirectUrl" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img style="height: 50px;" src="assets\img\admit_process_profile_preview.png" alt="e-order" width="48"></a></li>
          <!-- <li><a class="mb-0" placement="right" tooltip="Visit Note" title="Visit Note" routerLinkActive="active"><img src="assets/img/icon_visit_note.png" alt="Visit Note" width="48"></a></li> -->
        </ul>
      </perfect-scrollbar>
    </div>
    <div class="sub-menu">
      <perfect-scrollbar class="scroll" [config]="{ suppressScrollX: true }">
        <div class="site-menu-icon text-center">
          <img src="assets/img/ahlogo.png" alt="" />
        </div>
        <ul class="d-block">
          <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="e-Kardex" routerLinkActive="active" routerLink="/e-kardex" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_ekardex.png" alt="e-Kardex" width="33">e-Kardex</a></li>
          <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="e-Order" routerLinkActive="active" routerLink="/e-order" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_eorder.png" alt="e-order" width="33">e-Order</a></li>
          <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="Radiology" routerLinkActive="active" (click)="openModuleRad()"><img src="assets/img/icon_radiology.jpg" alt="Radiology" width="33">Radiology</a></li>
          <li *ngIf="ePrescriptionActive"><a class="mb-0" placement="right" tooltip="e-Prescription" title="e-Prescription" routerLinkActive="active" routerLink="/e-prescription" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_eprescription.jpg" alt="e-Prescription" width="48">e-Prescription</a></li>
          <li *ngIf="!ePrescriptionActive"><a class="mb-0" placement="right" tooltip="e-Prescription" title="e-Prescription" (click)="openEPrescription()"><img src="assets/img/icon_eprescription.jpg" alt="e-Prescription" width="48">e-Prescription</a></li>
          <!-- <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="e-Prescription" routerLinkActive="active" routerLink="/e-prescription" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/icon_eprescription.jpg" alt="e-Prescription" width="33">e-Prescription</a></li> -->
          <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="Lab Chart" routerLinkActive="active" (click)="openModuleLabChart()"><img src="assets/img/icon_lab.png" alt="Lab Chart" width="33">Lab Chart</a></li>
          <li ><a class="mb-0" data-toggle="tooltip" data-placement="right" title="IP Profile View" routerLinkActive="active" [routerLink]="redirectUrl" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets/img/admit_process_profile_preview.png" alt="IP Profile View" width="33" style="height: 36px;">IP Profile View</a></li>
          <!-- <li ><a class="mb-0" placement="right" tooltip="IP Profile View"  title="IP Profile View"  routerLinkActive="active" routerLink="/admit-process" [queryParams]="{ patnr: PATNR,falnr:FALNR,einri:EINRI,lfdnr:LFDBW}"><img src="assets\img\admit_process_profile_preview.png" alt="e-order" width="48"></a></li> -->

          <!-- <li><a class="mb-0" data-toggle="tooltip" data-placement="right" title="Visit Note" routerLinkActive="active"><img src="assets/img/icon_visit_note.png" alt="Visit Note" width="33">Visit Note</a></li> -->
        </ul>
      </perfect-scrollbar>
    </div>
  </div>
</div>
