<ng-template #medicationPopup>
  <div class="pt-3 pl-3 pr-3 pb-0">
    <input class="form-control " type="text" name="Search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
  </div>
  <div class="medication-popup" *ngIf="configurationData &&
    configurationData.length">
    <div class="medication-header d-flex w-100 align-items-center pl-2">
      <div class="medicate-select line-height-0 p-1 bg-white">
        <input type="checkbox" width="25" height="25"
          (change)="onCheckallMedicationData($event)"
          class="isbigcheckbox">
      </div>
      <div class="medicate-data d-flex w-100 pl-3">
        <div class="medication-title w-40 px-3">
          <h4 class="m-0">DrugName</h4>
        </div>
        <div class="medication-title w-20 px-3">
          <h4 class="m-0 text-center">Dosage/Unit</h4>
        </div>
        <div class="medication-title w-15 px-3">
          <h4 class="m-0 text-center">Route</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Frequency</h4>
        </div>
        <!-- <div class="medication-title w-4 px-3">
          <h4 class="m-0 text-center">Prior to Admission</h4>
        </div> -->
        <div class="medication-title w-22 px-3">
          <h4 class="m-0 text-center">Order Remarks</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Orders' statuses</h4>
        </div>
      </div>
      <div class="medicate-icon" (click)="setSelectedMedication()">
        <img src="assets/img/texteditor.png" width="40" class="p-1
          bg-white">
      </div>
    </div>
    <div class="medication-body">
      <div class="medication-inner-body d-flex w-100 align-items-center pl-2
        mt-2" *ngFor="let element of configurationData  | filter : searchText">
        <div class="medicate-select line-height-0 p-1">
          <input type="checkbox" width="25" height="25"
            [(ngModel)]="element.isSelected" class="isbigcheckbox">
        </div>
        <div class="medication-data d-flex w-100 pl-3">
          <div class="medication-field w-40 pr-2">
            <input type="text" class="form-control m-0"
              [value]="element.Descrlt" readonly>
          </div>
          <div class="medication-field w-30 d-flex">
            <div class="medication-inner-field pr-2">
              <input type="text" class="form-control m-0"
                value="{{element.Quan}}" readonly>
            </div>
            <div class="medication-inner-field w-55 pr-2">
              <input type="text" class="form-control m-0"
                [value]="element.Quantunittxt" readonly>
            </div>
          </div>
          <div class="medication-field w-15 pr-2 flex-15">
            <input type="text" class="form-control m-0"
              [value]="element.Routedescr" readonly>
          </div>
          <div class="medication-field w-25 pr-2 flex-25">
            <input type="text" class="form-control m-0"
              [value]="element.N1ztxt" readonly>
          </div>
          <!-- <div class="medication-field d-flex justify-content-center align-items-center w-8 pr-2 flex-25">
            <div class="d-flex align-items-center position-relative">
                <input type="checkbox" class="mr-1 checkbox-panel" [checked]="element.Mesid" readonly disabled title="{{element.Mesid}}">
                <span class="mr-2 admin admin-gray"></span>
            </div>
          </div> -->
          <div class="medication-field w-22 pr-2 flex-25" *ngIf="element.Prn === true">
            <input type="text" class="form-control m-0"
              [value]="element.Prncond" [title]="element.Prncond" readonly>
          </div>
          <div class="medication-field w-22 pr-2 flex-25" *ngIf="element.Prn === false">
            <input type="text" class="form-control m-0"
              [value]="element.PomTxt" [title]="element.PomTxt" readonly>
          </div>
          <div class="medication-field w-25 pr-2 flex-25">
            <input type="text" class="form-control m-0"
              [value]="element.Descr" readonly>
          </div>
        </div>
        <div class="medicate-icon" style="width: 40px;">
        </div>
      </div>
    </div>
  </div>
</ng-template>
