
.time-out-check-main {
    height: calc(100vh - 250px);
    overflow: auto;
}
.header-date {
    span {
        position: relative;
        top: 30px;
        right: 4px;
        float: right;
        margin-top: -26px;
        font-size: 18px;
    }
}

.pre-procedure-tab {

    label {
        font-size: 14px;
    }
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.department-footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.tab-navigation-part {
    background: none !important;

    .tab-content {
        border-radius: 7px;

        .notice-bar {
            p {
                color: gray;
            }
        }

        .allergy-box {
            max-height: 296px;
            overflow: auto;

            .allergy-checkbox-section {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 15px 0px;

                input[type="checkbox"] {
                    width: 18px;
                    height: 18px;
                    accent-color: #0056b0;
                }

                label {
                    display: inline-block;
                    margin-bottom: 0rem !important;
                }
            }

            table {
                thead {
                    background-color: #e4edf5;
                    color: black;

                    tr {
                        th {
                            &:nth-child(3) {
                                text-align: center;
                            }
                        }
                    }
                }

                tbody {
                    background-color: #fbfcff;

                    tr {
                        padding: 10px !important;
                        width: 15%;

                        td {
                            text-align: left;
                            padding-left: 24px !important;
                            line-height: 39px;

                            &:nth-child(3) {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

.tab-navigation-part .tab-navigate .tab-nav {
    padding: 10px 20px 0 !important;
    border-bottom: none !important;
}

.border-bottom {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 11px;
}