.tab-ui::-webkit-scrollbar {
  height: 10px !important;
}

.tab-ui {
  border-bottom: 1px solid #d6d6d6;
  white-space: nowrap;
  overflow: auto;
  gap: 0 !important;
}

.tab-nav {
  border: none !important;
  padding: 10px 6px 0 !important;
}

.na-title {
  input {
    width: 16px !important;
  }
  label {
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
  }
}

// .tab-navigation-part .tab-navigate .tab-nav ul li {
//   border: 1px solid #cacaca !important;
//     padding: 0px 15px !important;
// }

// .tab-navigation-part .tab-navigate .tab-nav ul li.active {
//   background: #3552b3;
//   p {
//     color: white !important;
//   }  
// }

// .tab-navigation-part {
//   background: none !important;
//   border: 1px solid #cacaca;
//   padding: 10px 16px;
//   border-radius: 12px;
// }

.tab-navigation-part {
  background: none !important;
  border: 1px solid #cacaca;
  border-radius: 12px;
  .tab-content {
    border-radius: 7px;
  }
}

.tab-navigation-part .tab-navigate .tab-nav {
  padding: 10px 13px 0 !important;
  border-bottom: none !important;
}

.tab-navigation-part .tab-navigate .tab-nav ul li p{
  font-size: 16px !important;
  font-weight:500 !important;
}

.tab-color-active{
  color: #1976D2 !important;
}
.tab-color{
  color: #002754 !important;
}


.tab-content {
  height: calc(100vh - 350px);
  overflow: auto;
  padding: 20px;
}

.tab-contant {
  padding: 6px;
  .nutrotion-problem {
    border: 1px solid #cacaca;
    padding: 6px 10px;
    height: 100%;

    label {
      margin-left: 6px !important;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px !important;
    }

    input[type='checkbox'] {
      position: relative;
      top: 3px;
      width: 15px;
      height: 15px;
    }
  }
}

.disabled-form {
    img {
      pointer-events: none !important;
    }
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    textarea,
    ng-select {
        pointer-events: none !important;
        cursor: not-allowed !important;
    }
}