
<!-- <ng-template #medicationspopup>
  <div class="additional-input additional-input p-3">
    <label for="medicationspopup w-100">Medicationsdata End</label>

    <table class="w-100">
      <tr #medicationspopup *ngFor="let item of configurationdata; let i=
        index" (click)="onMedicationsdata(item)">
        <td class="border-bottom p-2 c-pointer">{{item.Descr}}</td>
        <td class="border-bottom p-2 c-pointer">{{item.Einri}}</td>
        <td class="border-bottom p-2 c-pointer">{{item.Rcode}}</td>
        <td class="border-bottom p-2 c-pointer">{{item.Rcodeid}}</td>
      </tr>
    </table>
  </div>
</ng-template> -->
