.order-set-details {
    height: calc(100vh - 200px);
      background: white;
      border-radius: 10px;
      /* width: 100%; */
      margin-top: 5px;
      margin-left: 34px;
      border: 1px solid rgba(0, 0, 0, 0.18);
      padding: 15px;
  
      .order-details-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  }
  
  .clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
  }
  
  .arrow-steps .step {
  font-size: 12px;
  text-align: center;
  color: #0056b0;
  cursor: default;
  margin: 0 3px;
  padding: 10px 3px;
  float: left;
  position: relative;
  background-color: #fff;
  border:1px solid #0056b0;
  border-radius: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  transition: background-color 0.2s ease;
  width: 8%;
  }
  
  .arrow-steps .step:after,
  .arrow-steps .step:before {
  position: absolute;
  top: 1px;
  right: -16px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #105b9e;	
  z-index: 2;
  transition: border-color 0.2s ease;
  }
  
  .arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;	
  z-index: 0;
  }
  
  .arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  }
  
  .arrow-steps .step span {
  position: relative;
  }
  
  // .arrow-steps .step span:before {
  // content: "";
  // position: absolute;
  // top: 7px;
  // left: -17px;
  // border: 2px dotted black;
  // width: 8px;
  // }
  
  .arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
  }
  
  .arrow-steps .step.current {
  color: #fff;
  background-color: #0056b0;
  border-radius: 8px;
  width: 8%;
  }
  
  .arrow-steps .step.current:after {
  border-left: 17px solid #d9e3f7;	
  }
  
  .sub-title-header {
    font-size: 12px;
    font-weight: bold;
    background: #d5dce4;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 6px;
    height: 27px;
  }
  
  
  .order-step {
    p {
      font-size: 10px;
      font-weight: bold;
      line-height: 15px;
  
      span {
        font-size: 16px;
      }
    }
  }
 .allergy-table input{
    width: 100%;
    border: none;
    background: #fbfcff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }
 .allergy-table ::ng-deep.ng-select{
        .ng-select-container{
          background: none !important;
          border: 0;
        }
    .ng-clear-wrapper{
          border: 1px solid;
      border-radius: 20px;
      background-color: #c6c8ca;
      color: white;
      text-align: center;
      display: none;
        }
      }

    
   .risk-table input{
     width: 100%;
     border: none;
     background: #fbfcff;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
  }
  .risk-table ::ng-deep.ng-select{
         .ng-select-container{
           background: none !important;
           border: 0;
         }
     .ng-clear-wrapper{
           border: 1px solid;
       border-radius: 20px;
       background-color: #c6c8ca;
       color: white;
       text-align: center;
       display: none;
         }
       }
 
   .risk-table tr td{
    padding: 0 !important;
   }
   .allergy-table tr td{
    padding: 0 !important;
   }