.calendar {
  width: 300px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
}

.subg-color{
  background-color: #fff !important;
  height: 640px;
  border-radius: 10px;
}
.sur-header{
  color: black;
  font-size: 19px;
}
.su-font-size {
  .ng-dropdown-panel{
    .ng-dropdown-panel-items{

      font-size: 11px !important;
    }
  }
}

.su-font-size{
  font-size: 15px;
  font-weight: bold;
  height: 35px !important;
  border-radius: 8px;
  border: none;
}

.table-header{
  height: auto !important;
  line-height: normal;
}

.ng-select-container.ng-has-value {
  border: 2px solid rgb(80, 78, 78);
  border-radius: 10px !important;

}
.su-table{
  border-radius: 20px;
  position: relative;
}
.su-thead-color{
  background: #EDF6FD;
  }
.su-border{
  border: 1px solid #C4D6FB;
  border-radius: 10px;
  align-items: center;
  height: 80px;
  row-gap: 3px;
}

.su-imager{
padding: 10px;
width: 30px;
height: 30px;
background: white;
border-radius: 50%;
z-index: 4;
box-shadow: 0px 0px 90px rgb(66, 65, 65)
}
.my-left-position{
  position: absolute;
  top: 35px;
  left: -5px;
  z-index: 999;
}
.my-right-position{
  position: absolute;
  top: 35px;
  right: -5px;
  z-index: 999;
}
.heading-border{
  border-radius: 10px;
    overflow: hidden;
    border:1px solid #f2f2f2;
    height: 550px;
    overflow: auto;
}
.heading-item{
border-right: 2px solid #d4d8e0;
height: 430px;
}
.heading-dayitems{

  margin: 10px;
  // background: #fff2ec;
  // border: 2px solid #ff8f5f;
  border-radius: 10px;

}
.font-h3{
  font-size: 17px;
    font-weight: bold;
}

.heading-border div:last-child .heading-item {
  border-right: none;
}
.had-word{
  word-break: break-all;
}


.sr-blank-data {
  background: #dfdfdf;
  border-color: #AFB1AE;
}

.sr-red-data {
  background: #feeef0;
  border-color: #ff5c54;
}

.sr-green-data {
  background: #F1FCF4;
  border-color: #B0D4C8;
}

.sr-yellow-data {
  background: #fafad8;
  border-color: #f6f629;
}

.sr-blue-data {
  background: #e8f0fc;
  border-color: #0f6dfd;
}

.sr-orange-data {
  background: #fff2ec;
  border-color: #ff8f5f;
}
.not-brder{
  border: 1px solid rgb(223, 223, 223);
  margin: 10px;
  border-radius: 10px;
  color: #8694a0;
  font-size: 14px;
}
.active{
  .su-thead-color{
    .su-border{
      background-color: #0056b0 !important;
      color: white;
    }
  }
}
.day-font{
  font-size: 20px;
}
.day-border{
  border-right: 2px solid #e3ecf3;
}
.d-grid{
  display: grid;
}
.time-padding{
  padding: 20px !important;
}

.week-position{
  position: sticky;
  top: 0;
  z-index: 30;
}

.font-su
{
  font-size: 13px;
}
.header-width{
  max-width: 14.28571428571429%;
}
.had-white-space{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.su-thead-color {
  position: sticky;
  top: 0;
  z-index: 30;
}

input.form-control,
        .ng-select .ng-select-container {
          padding: 0;
          margin: 0;
          border: none;
        }
