<form [formGroup]="nursingDischargeForm" class="pl-3 pr-3">
  <div class="row m-0 mb-4">
    <div class="col-md-4">
      <div class="d-flex align-items-center">
        <label class="m-0 mr-3">Environmental Safety</label>
        <ng-select class="p-0 mb-2 w-40" formControlName="EnvironmentalSafety">
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex align-items-center">
        <label class="m-0 mr-3">Environmental Assessment</label>
        <ng-select
          class="p-0 mb-2 w-40"
          formControlName="EnvironmentalAss"
          (change)="envAssessment($event)"
        >
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-12">
      <h4>Environmental Safety</h4>
    </div>
    <div class="col-md-4">
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsShower"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Shower</label>
      </div>
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsTub"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Cool/dry Place</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsRefrigerator"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Tub</label>
      </div>
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsCool"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Toilet</label>
      </div>
    </div>
    <div class="col-md-4">
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsToilet"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Refrigerator</label>
      </div>
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsDoorway"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Doorway</label>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-4">
      <div class="d-flex align-items-center mb-2">
        <input
          class="mr-2"
          type="checkbox"
          formControlName="EsStairs"
          [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"
        />
        <label class="m-0">Stairs</label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="d-flex align-items-center mb-2">
        <input class="mr-2" type="checkbox" formControlName="EsOther" [attr.disabled]="nursingDischargeForm.get('EnvironmentalAss').value != '2' ? true : null"/>
        <label class="m-0 mr-4">Other</label>
        <input
          class="form-control w-40"
          [disabled]="nursingDischargeForm.get('EsOther').value == false"
          [readOnly]="nursingDischargeForm.get('EsOther').value == false"
          formControlName="EsOtherTxt"
        />
      </div>
    </div>
  </div>
</form>
