.bg-color {
  background-color: #0056B0 !important;
  border-radius: 20px;
  color: #fff !important;
}

.add-comment {
  width: 100%;
  padding: 20px;
}

.widht-data {
  width: 97% !important;
}

.bg-comm {
  background: #EDF6FD !important;
}