.table {
  .table-thead {
    background: #0082c8 !important;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9 !important;
  }

  tr th:nth-child(2) {
    min-width: 200px;
  }

  tr td:nth-child(9) {
    max-width: 350px;
  }
}

.phyorder-table {
  tr th:nth-child(2) {
    min-width: 100px;
  }

  tr td:nth-child(5) {
    max-width: 150px;
    overflow: hidden;
  }
}

.order-short-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.phyorder-butt {
  float: right;
  border: 1px solid;
  background: #3b82f6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 0 0px 0 0;
  font-weight: 700;
  position: relative;
  bottom: 2px;
  left: 105px;
}

.modal-header {
    display: flex;
    padding: 17px;
    background-color: #0082c8;
    color: white;
    border-radius: 16px 16px 0 0;
}

.execute-footer-note {
    position: relative;
    left: -15px;
    top: 1px;
    font-weight: bold;
    color: #82949e;
}

.create-phyorder {
  background-color: #0082c8;
  color: white;
  text-align: center;
  margin: 2px;
  height: 35px;
}