<div
  class="modal-header"
  style="display: flex; padding: 17px; background-color: #0082c8; color: white"
>
  <h4 class="modal-title" style="color: white">
    Maintain Delivery Data <span class="under-deve">(Under Development)</span>
  </h4>
  <button
    type="button"
    class="close"
    style="color: white !important"
    (click)="activeModal.dismiss('Cross click')"
  >
    &times;
  </button>
</div>
<div class="patient-info p-3">
  <div class="patient-header">
      <strong>{{headerData?.PatientName}},</strong><br />
      <strong>{{getDate(headerData?.PatientDob) | date : 'dd.MM.y'}}</strong>
    </div>
    <div class="patient-details">
      <div class="left">
        <p><strong>Sex</strong> <span>{{ getGenderFromPatname(headerData?.Patname) }}</span></p>
        <p><strong>Case</strong> <span>{{headerData?.CaseNumber}}</span></p>
      </div>
      <div class="right">
        <p><strong>Admission Date</strong> <span>{{getDate(headerData?.AdmissionDate) | date : 'dd.MM.y'}}</span></p>
        <p><strong> Discharge Date</strong> <span>{{getDate(headerData?.DischargeDate) | date : 'dd.MM.y'}}</span></p>
      </div>
    </div>
</div>
<div class="modal-body p-3 pb-3">
  <!--new design-->
  <div
    id="exTab1"
    style="border-bottom: 3px solid #0056b0; padding-bottom: 10px"
  >
    <ul class="nav nav-pills">
      <li
        [class.active]="activeTab === 'deliverydata'"
        (click)="setActiveTab('deliverydata')"
      >
        Delivery Data
      </li>
      <li
        [class.active]="activeTab === 'birthdata'"
        (click)="setActiveTab('birthdata')"
      >
        Birth Data
      </li>
    </ul>
  </div>
  <div class="d-flex mt-3"></div>
  <div class="tab-content clearfix scroll-bar">
    <form [formGroup]="documentingForm">
      <div *ngIf="activeTab === 'deliverydata'">
        <div class="form-section">
          <h6 class="scale-result">Birth Data</h6>
          <div>
            <div class="d-flex">
              <div class="col-md-5">
                <input
                  type="checkbox"
                  style="width: 10px !important"
                  name="resp"
                  [disabled]="isFormDisable"
                />
                <label for="name" class="col-md-3">Name</label>
                <input
                  id="name"
                  class="col-md-4 mrglft30"
                  style="margin-left: 22px !important"
                  type="text"
                  [readOnly]="isFormDisable"
                />
              </div>
              <div class="col-md-4 d-flex">
                <label for="name" class="mr-3 mt-3">Case</label>
                <input id="name" type="text" readonly />
              </div>
            </div>

            <div class="d-flex mt-2">
              <div class="col-md-5 d-flex">
                <label
                  for="birthdate"
                  class="col-md-4 mr-3"
                  style="margin-left: 8px"
                  >Birthdate</label
                >
                <input
                  id="birthdate"
                  type="date"
                  class="mrlf11 mrlft20"
                  [readOnly]="isFormDisable"
                />
              </div>
              <div class="col-md-4 d-flex">
                <label for="tob" class="mr-3 mt-2">ToB</label>
                <input
                  id="tob"
                  type="time"
                  class="col-md-4 p-0"
                  [readOnly]="isFormDisable"
                />
              </div>
              <div class="col-md-4 d-flex">
                <label for="sex" class="mr-3">Sex</label>
                <ng-select
                  [items]="sexes"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Select Sex"
                  class="col-md-4 p-0"
                  style="height: 32px"
                  [readonly]="isFormDisable"
                >
                </ng-select>
              </div>
            </div>

            <div class="form-group mt-2">
              <label
                for="apgar"
                class="adjustStyle"
                style="max-width: 150px !important"
                >Delivery Type</label
              >
              <ng-select
                [items]="delvTypes"
                class="col-md-3 mrlf11 p-0"
                style="height: 32px; margin-left: -10px !important"
                bindLabel="label"
                bindValue="value"
                placeholder="Select Delivery Type"
                [readonly]="isFormDisable"
              >
              </ng-select>
              <div class="col-md-7"></div>
              <label
                ><input
                  type="checkbox"
                  style="width: 15px"
                  [disabled]="isFormDisable"
                />
                Stillbirth</label
              >
            </div>

            <div class="form-group mt-2">
              <label for="weight" class="adjustStyle">Weight</label>
              <input
                id="weight"
                type="text"
                class="mr-2 mrlf11"
                style="max-width: 255px !important"
                [readOnly]="isFormDisable"
              />
              <span class="mt-2">G</span>
              <span for="length" class="mr-3 ml-3 mt-2">Length</span>
              <input
                id="length"
                type="text"
                class="mr-2"
                style="max-width: 255px !important"
                [readOnly]="isFormDisable"
              />
              <span class="mt-2">CM</span>
              <!-- <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px"
              ></ng-select> -->
            </div>

            <div class="form-group mt-2">
              <div class="d-flex">
                <label
                  for="outcome"
                  class="adjustStyle"
                  style="margin-left: 5px !important"
                ></label>
                <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
                <ng-select
                  [items]="apgar"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Select APGAR"
                  class="col-md-2 p-0"
                  style="height: 32px; width: 300px"
                  [readonly]="isFormDisable"
                ></ng-select>
                <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
                <ng-select
                  [items]="apgar"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Select APGAR"
                  class="col-md-2 p-0"
                  style="height: 32px; width: 300px"
                  [readonly]="isFormDisable"
                ></ng-select>
                <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
                <ng-select
                  [items]="apgar"
                  bindLabel="label"
                  bindValue="value"
                  placeholder="Select APGAR"
                  class="col-md-2 p-0"
                  style="height: 32px; width: 300px"
                  [readonly]="isFormDisable"
                ></ng-select>
              </div>
            </div>

            <div class="form-group">
              <label for="birthplace" class="adjustStyle">Birth Place</label>
              <ng-select
                [items]="birthplaces"
                class="col-md-6 mrlf11 p-0"
                style="height: 32px"
                bindLabel="label"
                bindValue="value"
                placeholder="Select Birthplace"
                [readonly]="isFormDisable"
              >
              </ng-select>
            </div>

            <div class="form-group comment">
              <label for="comment" class="adjustStyle">Comment</label>
              <input
                id="comment"
                class="col-md-6 mrlf11"
                type="text"
                style="width: 100%"
                [readOnly]="isFormDisable"
              />
            </div>
          </div>
        </div>

        <div class="form-section">
          <h6 class="scale-result">Delivery Data</h6>
          <div class="form-group">
            <label for="delivery-date" class="adjustStyle">Date</label>
            <input
              id="delivery-date"
              class="col-md-3 mrlf11"
              type="date"
              [readOnly]="isFormDisable"
            />
            <span for="name" class="ml-3 mr-3 mt-2">Time</span>
            <input
              id="name"
              class="col-md-2"
              type="time"
              [readOnly]="isFormDisable"
            />
          </div>

          <div class="form-group">
            <label for="outcome" class="adjustStyle">Delivery Outcome</label>
            <ng-select
              [items]="delOutcomes"
              bindLabel="label"
              bindValue="value"
              placeholder="Select Delivery Outcome"
              class="col-md-3 mrlf11 p-0"
              style="height: 35px"
              [readonly]="isFormDisable"
            >
            </ng-select>
            <label class="d-flex"
              ><input type="checkbox" class="mr-2" [disabled]="isFormDisable" />
              Complications</label
            >
          </div>

          <div class="form-group comment">
            <label for="delivery-comment" class="adjustStyle">Comment</label>
            <input
              id="delivery-comment"
              class="col-md-6 mrlf11"
              type="text"
              [readOnly]="isFormDisable"
              style="width: 100%"
            />
          </div>
        </div>
      </div>
      <div *ngIf="activeTab === 'birthdata'">
        <div>
          <div class="d-flex">
            <div class="col-md-4">
              <input
                type="checkbox"
                style="width: 10px !important"
                name="resp"
                [disabled]="isFormDisable"
              />
              <label for="name" class="col-md-3">Name</label>
              <input
                id="name"
                class="col-md-4"
                style="margin-left: 42px !important"
                type="text"
                [readOnly]="isFormDisable"
              />
            </div>
            <div class="col-md-4 d-flex">
              <label for="name" class="mr-3 mt-3">Case</label>
              <input id="name" type="text" readonly />
            </div>
          </div>

          <div class="d-flex mt-2">
            <div class="col-md-4 d-flex">
              <label
                for="birthdate"
                class="col-md-4 mr-3"
                style="margin-left: 8px"
                >Birthdate</label
              >
              <input id="birthdate" type="date" [readOnly]="isFormDisable" />
            </div>
            <div class="col-md-4 d-flex">
              <label for="tob" class="mr-3 mt-2">ToB</label>
              <input
                id="tob"
                type="time"
                class="col-md-4 p-0"
                [readOnly]="isFormDisable"
              />
            </div>
            <div class="col-md-4 d-flex">
              <label for="sex" class="mr-3">Sex</label>
              <ng-select
                [items]="sexes"
                bindLabel="label"
                bindValue="value"
                placeholder="Select Sex"
                class="col-md-4 p-0"
                style="height: 32px"
              >
              </ng-select>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="apgar" class="adjustStyle">Delivery Type</label>
            <ng-select
              [items]="delvTypes"
              class="col-md-3 mrlf11 p-0"
              style="height: 32px; margin-left: -5px"
              bindLabel="label"
              bindValue="value"
              placeholder="Select Delivery Type"
              [readonly]="isFormDisable"
            >
            </ng-select>
            <div class="col-md-7"></div>
            <label
              ><input
                type="checkbox"
                style="width: 15px"
                [disabled]="isFormDisable"
              />
              Stillbirth</label
            >
          </div>

          <div class="form-group mt-2">
            <label for="weight" class="adjustStyle">Weight</label>
            <input
              id="weight"
              type="text"
              class="mr-2 mrlf11"
              style="max-width: 255px !important"
              [readOnly]="isFormDisable"
            />
            <span class="mt-2">G</span>
            <span for="length" class="mr-3 ml-3 mt-2">Length</span>
            <input
              id="length"
              type="text"
              class="mr-2"
              [readOnly]="isFormDisable"
              style="max-width: 255px !important"
            />
            <span class="mt-2">CM</span>
            <!-- <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
            <ng-select
              [items]="apgar"
              bindLabel="label"
              bindValue="value"
              placeholder="Select APGAR"
              class="col-md-2 p-0"
              style="height: 32px"
            ></ng-select> -->
          </div>
          <div class="form-group mt-2">
            <div class="d-flex">
              <label
                for="outcome"
                class="adjustStyle"
                style="margin-left: 5px !important"
              ></label>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
            </div>
          </div>

          <div class="form-group">
            <label for="birthplace" class="adjustStyle">Birth Place</label>
            <ng-select
              [items]="birthplaces"
              class="col-md-6 mrlf11 p-0"
              style="height: 32px"
              bindLabel="label"
              bindValue="value"
              placeholder="Select Birthplace"
              [readonly]="isFormDisable"
            >
            </ng-select>
          </div>

          <div class="form-group comment">
            <label for="comment" class="adjustStyle">Comment</label>
            <input
              id="comment"
              class="col-md-6 mrlf11"
              type="text"
              style="width: 100%"
              [readOnly]="isFormDisable"
            />
          </div>
        </div>
        <div class="">
          <div class="d-flex">
            <div class="col-md-4">
              <input
                type="checkbox"
                [disabled]="isFormDisable"
                style="width: 10px !important"
                name="resp"
              />
              <label for="name" class="col-md-3">Name</label>
              <input
                id="name"
                class="col-md-4"
                style="margin-left: 42px !important"
                type="text"
                [readOnly]="isFormDisable"
              />
            </div>
            <div class="col-md-4 d-flex">
              <label for="name" class="mr-3 mt-3">Case</label>
              <input id="name" type="text" readonly />
            </div>
          </div>

          <div class="d-flex mt-2">
            <div class="col-md-4 d-flex">
              <label
                for="birthdate"
                class="col-md-4 mr-3"
                style="margin-left: 8px"
                >Birthdate</label
              >
              <input
                id="birthdate"
                type="date"
                [readOnly]="isFormDisable"
                class=""
              />
            </div>
            <div class="col-md-4 d-flex">
              <label for="tob" class="mr-3 mt-2">ToB</label>
              <input
                id="tob"
                type="time"
                [readOnly]="isFormDisable"
                class="col-md-4 p-0"
              />
            </div>
            <div class="col-md-4 d-flex">
              <label for="sex" class="mr-3">Sex</label>
              <ng-select
                [items]="sexes"
                bindLabel="label"
                bindValue="value"
                placeholder="Select Sex"
                class="col-md-4 p-0"
                style="height: 32px"
                [readonly]="isFormDisable"
              >
              </ng-select>
            </div>
          </div>

          <div class="form-group mt-2">
            <label for="apgar" class="adjustStyle">Delivery Type</label>
            <ng-select
              [items]="delvTypes"
              class="col-md-3 mrlf11 p-0"
              style="height: 32px; margin-left: -5px"
              bindLabel="label"
              bindValue="value"
              placeholder="Select Delivery Type"
              [readonly]="isFormDisable"
            >
            </ng-select>
            <div class="col-md-7"></div>
            <label
              ><input
                type="checkbox"
                style="width: 15px"
                [disabled]="isFormDisable"
              />
              Stillbirth</label
            >
          </div>

          <div class="form-group mt-2">
            <label for="weight" class="adjustStyle">Weight</label>
            <input
              id="weight"
              type="text"
              class="mr-2 mrlf11"
              style="max-width: 255px !important"
              [readOnly]="isFormDisable"
            />
            <span class="mt-2">G</span>
            <span for="length" class="mr-3 ml-3 mt-2">Length</span>
            <input
              id="length"
              type="text"
              class="mr-2"
              style="max-width: 255px !important"
              [readOnly]="isFormDisable"
            />
            <span class="mt-2">CM</span>
            <!-- <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
            <ng-select
              [items]="apgar"
              bindLabel="label"
              bindValue="value"
              placeholder="Select APGAR"
              class="col-md-2 p-0"
              style="height: 32px"
            ></ng-select> -->
          </div>

          <div class="form-group mt-2">
            <div class="d-flex">
              <label
                for="outcome"
                class="adjustStyle"
                style="margin-left: 5px !important"
              ></label>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
              <span for="apgar" class="ml-3 mr-3 mt-2">APGAR</span>
              <ng-select
                [items]="apgar"
                bindLabel="label"
                bindValue="value"
                placeholder="Select APGAR"
                class="col-md-2 p-0"
                style="height: 32px; width: 300px"
                [readonly]="isFormDisable"
              ></ng-select>
            </div>
          </div>

          <div class="form-group">
            <label for="birthplace" class="adjustStyle">Birth Place</label>
            <ng-select
              [items]="birthplaces"
              class="col-md-6 mrlf11 p-0"
              style="height: 32px"
              bindLabel="label"
              bindValue="value"
              placeholder="Select Birthplace"
              [readonly]="isFormDisable"
            >
            </ng-select>
          </div>

          <div class="form-group comment">
            <label for="comment" class="adjustStyle">Comment</label>
            <input
              id="comment"
              class="col-md-6 mrlf11"
              type="text"
              [readOnly]="isFormDisable"
              style="width: 100%"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    style="background-color: #0082c8; border: #0082c8; color: red"
    (click)="activeModal.dismiss('Cross click')"
  >
    Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="background-color: #0082c8; border: #0082c8"
    [disabled]="isFormDisable"
  >
    Save
  </button>
</div>
<div></div>
