.movmentType {
  font-size: 12px;
}

::ng-deep .checkout_list {
  width: 100% !important;
  min-width: 10% !important;
  max-width: 85% !important;

  .modal-header {
    background: #fff !important;
    padding: 10px !important;
    color: black !important;

    h3 {
      margin: 0;
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.patient-info{
  label{
    font-size: 15px;
    font-weight: bold;
  }
  .col-sm-7{
    line-height: 26px;
  }
}

::ng-deep .patient-info-modal-size {
  width: 50% !important;
  min-width: 50% !important;
}

.allergy-header-title {
  font-size: 23px;
  font-weight: bold;
}

.allergy-header-details {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}

.img-size {
  width: 35px;
  float: right;
}

.close-icon {
  border: none;
  padding: 0;
  margin: 0;
  flex: 1;
}