.checkin-table {

  &:nth-child(1) {
    width: 300px !important;
    max-width: 300px !important;
    min-width: 300px !important;
    border: none;
    // background: #fbfcff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.save-risk {
  border: 1px solid;
  background: #3b82f6;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  font-weight: 700;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
}
.table.checkin-table tr {
  background-color: #fbfcff;
}
.allergy-header {
  background: #0056b0;
  position: relative;
  padding: 15px 15px 10px;
  border-radius: 15px 15px 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.allergy-header-ul {
  width: 100%;
  padding: 0px 0px 0px 10px;
  text-align: right;
  margin: 0px;
  line-height: 0px;
}
.allergy-header-item {
  padding: 17px;
  font-weight: 500;
  list-style: none;
  display: inline-block;
  font-size: 14px;
  border: 1px solid #d3d1d1;
  border-radius: 6px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 5px;
  text-align: center;
}
.create-form-inputs {
  margin-bottom: 6px;
}
.create-form-inputs input::placeholder {
  font-size: 12px;
  font-style: italic;
}
.allergy-table input {
  width: 100%;
  border: none;
  background: #fbfcff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.allergy-table ::ng-deep.ng-select {
  .ng-select-container {
    background: none !important;
    border: 0;
  }
  .ng-clear-wrapper {
    border: 1px solid;
    border-radius: 20px;
    background-color: #c6c8ca;
    color: white;
    text-align: center;
    display: none;
  }
}
.allergy-table tr td {
  padding: 0 !important;
}
.risk-table tr td {
  padding: 0 !important;
}
.risk-table input {
  width: 100%;
  border: none;
  background: #fbfcff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.risk-table ::ng-deep.ng-select {
  .ng-select-container {
    background: none !important;
    border: 0;
  }
  .ng-clear-wrapper {
    border: 1px solid;
    border-radius: 20px;
    background-color: #c6c8ca;
    color: white;
    text-align: center;
    display: none;
  }
}

.risk-table tr td {
  padding: 0 !important;
}

.border-right {
  border-right: 1px solid #e4edf5 !important;
}
.border-bottom {
  border-bottom: 1px solid #e4edf5 !important;
}

.border-top-left {
  border-left: 1px solid #e4edf5 !important;
  border-top-left-radius: 10px !important;
  border-top: 1px solid #e4edf5 !important;
}
.border-top-right {
  border-right: 1px solid #e4edf5 !important;
  border-top-right-radius: 10px !important;
  border-top: 1px solid #e4edf5 !important;
}
.border-bottom-right {
  border-right: 1px solid #e4edf5 !important;
  border-bottom-right-radius: 10px !important;
  border-bottom: 1px solid #e4edf5 !important;
}
.border-bottom-left {
  border-left: 1px solid #e4edf5 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom: 1px solid #e4edf5 !important;
}
.border-top-action {
  border-left: 1px solid #e4edf5 !important;
  border-top: 1px solid #e4edf5 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-right: 1px solid #e4edf5 !important;
}
.border-bottom-action {
  border-left: 1px solid #e4edf5 !important;
  border-bottom: 1px solid #e4edf5 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-right: 1px solid #e4edf5 !important;
}
.border-right {
  border-right: 1px solid #e4edf5 !important;
}
.border-bottom {
  border-bottom: 1px solid #e4edf5 !important;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fbfcff !important;
}

.waiting-time-td {
  border: 2px solid #89a7e0 !important;
  background: none !important;
  border-radius: 10px !important;
  height: 20px !important;
  color: #2e5aac !important;
}

.custom-table-striped tbody tr:nth-child(even) {
  background-color: #f8fbff; /* Light background color for odd rows */
}

.custom-table-striped tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White background color for even rows */
}
.border-top-none {
  border-top: none !important;
}

table {
  border-collapse: separate !important;
  border-spacing: 0 !important;
  border: none !important;
}

.waiting-time-td {
  border: 1px solid #dee2e6;
  background-color: #dee2e6;
  color: black;
  margin-left: 3px;
  margin-right: 3px;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  height: 18px;
  width: 60px;
  text-align: center;
}
.update-risk-save-btn {
  border: 1px solid;
  background: #0056b0;
  color: #fff;
  padding: 8px 20px;
  border-radius: 16px px;
  font-weight: 700;
  border-radius: 24px;
}
.modal-body{
  p{
    margin: 0px;
      font-size: 15px;
      padding: 20px;
      font-weight: bold;
      color: black;
  }
}

.modal-footer {
  border: none;
  padding: 1rem !important;
}