.tab-content{
    p{
        margin: 0px;
        padding: 0px;
        color:#000;
        font-weight: 600;
    }
    .p-box{
        width: 100%;
        height:fit-content;
        // overflow-x: auto;
        border: 1px solid #00000017 ;
        border-radius: 10px;
        padding: 10px 5px;
    }
    .scale-box-checkbox {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 9px 0px;
  
      input[type="checkbox"] {
        width: 18px;
        height: 18px;
        accent-color: #0056b0;
      }
  
      label {
        display: inline-block;
        margin-bottom: 0.0rem !important;
      }
    }
  }