<form action="" [formGroup]="ePrescriptionService.formDetailGroup">
  <div class="tab-search-panel d-flex align-items-center">
    <div class="patient-medication c-pointer" (click)="onOpenTemplatePopup()">
      <img src="assets/img/pdf-print.png" height="40px"
        class="pdf-print">
    </div>
    <div class="search-functionality col-md-3 ml-3 pl-0">
      <img src="assets/img/pres-search-icon.svg">
      <ctrl-search-select-template [defaultTemplateMedication]="this.ePrescriptionService.templateMedicationData"></ctrl-search-select-template>
    </div>
    <div class="texteditor">
      <h5 class="mb-0">Patient Medications</h5>
      <img src="assets/img/texteditor.png" width="40" class="c-pointer" (click)="onOpenMedicationPopup()">
    </div>
  </div>
</form>

<medication-popup #medicationPopup></medication-popup>
<template-popup #templatePopup></template-popup>
<template-detail-popup #templateDetailPopup></template-detail-popup>
