<div class="treatment-header">
    <div class="col-md-9">
        <div class="row" style="color: white; font-size: 15px; font-weight: bold; width: 99%">
            <span class="col-md-5" style="margin-left: 15px; cursor: pointer">{{ patient.name }}</span>
            <span class="col-md-4" style="
          margin-left: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        " title="{{ patient.allergyInfo }}">Allergies: {{ patient.allergyInfo || "-" }}</span>
            <span class="col-md-2" style="margin-left: 14px">{{
                patient?.location?.room || "-"
                }}</span>
        </div>
        <div class="row" style="color: white; font-size: 15px; font-weight: bold; width: 99%">
            <span class="col-md-5" style="
          margin-left: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        ">MRN: {{ patient.id
                }}<span style="margin-left: 50px" [title]="patient?.gender">{{
                    patient?.gender
                    }}</span></span>
            <span class="col-md-2" style="
          margin-left: 14px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        " [title]="patient?.primDiaTxt">Dx: {{ patient?.primDiaTxt }}</span>
            <span class="col-md-2"
                style="margin-left: 14px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"
                [title]="caseNumberReturn(patient?.case)">Case#: {{ caseNumberReturn(patient?.case) }}</span>
            <span class="col-md-2" style="
          margin-left: 27px;
          border: 1px solid;
          border-radius: 16px;
          padding: 3px 13px 3px 13px;
          background-color: #1768bc;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        " [title]="patient.financeCat">{{ patient.financeCat || "-" }}</span>
        </div>
    </div>
    <div class="col-md-1" style="padding: 0; color: white; font-size: 12px; font-weight: bold">
        <div>
            Height : {{ patient?.height?.value || "N/A" }}{{ patient?.height?.unit }}
        </div>
        <div>
            Weight : {{ patient?.weight?.value || "N/A" }}{{ patient?.weight?.unit }}
        </div>
        <div>BMI : {{ patient?.bmi?.value || "N/A" }}{{ patient?.bmi?.unit }}</div>
    </div>
    <div class="col-md-2" style="padding: 0">
        <img src="assets/img/er-treatment.png" style="width: 189px; height: 78px; float: right" />
    </div>
</div>