.font-use{
  font-size: 16px !important;
  font-weight: 400 !important;
}
.bg-comm {
  background: #EDF6FD !important;
}

.bg-color {
  background-color: #0056B0 !important;
  border-radius: 20px;
  color: #fff !important;
}

.font-witnss{
  font-size: 20px;
}
