.er-btn-create{
    border: none;
    padding: 10px 27px;
    background-color: #0056b0;
    border-radius: 40px;
    font-size: 14px;
    color: #ffffff;
    width: 100%;
    }
 .texteditor{
    flex: 0 0 75.8% !important;
 }   