<div class="end-container">
  <div class="sph-box">
    <label class="box-label">Orientation of the unit</label>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">ID Band</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Bathroom</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Batch Call Light</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Nurse Call</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Mell Times</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Visiting Hours</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Tv Control</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Non-smoking Policy</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Equal</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Telephone</label>
        </div>
        <div class="col-md-2 d-flex mb-2">
          <input type="checkbox" />
          <label class="m-0">Fall Risk Score</label>
        </div>
      </div>
    </div>
  </div>
</div>
