<ng-container *ngIf="group" [formGroup]="group">
  <ng-select class="d-grid d-grid-am result-name" formControlName="Result_Drug_Name"
    (keyup)="someMethod($event, searchTypeOnKeyEnter)"
    [markFirst]="false"
    [title]="group.get('Result_Drug_Name').value !== null ?
    group.get('Result_Drug_Name').value : ''"
    [typeahead]="searchTerm"
    (clear)="broadcastEvent($event)"
    (change)="broadcastEvent($event)"
    [appendTo]="'body'"
    [ngClass]="group.touched &&
    group.get('Result_Drug_Name').errors && isSubmitted ?
    'ep-error-message': ''">
    <ng-option
      *ngFor=" let medicationDrug of medicationDrugList"
      [value]="medicationDrug.Drugid" >
      <!-- <span style="color: green" *ngIf=" medicationDrug.Stocktext !== 'N/A' && medicationDrug.Stocktext !== '0.000' ">{{ medicationDrug.Stocktext + ' - '}}</span>
      <span style="color: red" *ngIf=" medicationDrug.Stocktext === 'N/A' || medicationDrug.Stocktext === '0.000' ">{{ medicationDrug.Stocktext + ' - ' }}</span>
      {{!HeaderConfigurationData ?' Phot :- ' +medicationDrug.Phot:''}}{{HeaderConfigurationData ?' Phot :- ' +medicationDrug.Phot +' Phin :- ' +medicationDrug.Phin +' Pher :- ' +medicationDrug.Pher:''}} -->
      <span title=" {{ medicationDrug.Drugname }}-{{!HeaderConfigurationData ?' Phot'+'(' +medicationDrug.Phot+ ')':'' }}{{HeaderConfigurationData ?' Phot'+'(' +medicationDrug.Phot+ ')'+' - '+' Phin'+'(' +medicationDrug.Phin+ ')'+' - '+' Pher'+'(' +medicationDrug.Pher+ ')':''}}">
        <span> {{ medicationDrug.Drugname }}</span>
        <span style="color: green" *ngIf=" medicationDrug.Stocktext !== 'N/A' && medicationDrug.Stocktext !== '0.000' ">{{ 'Stock'+'('+medicationDrug.Stocktext +')'+' - '}}</span>
            <span style="color: red" *ngIf=" medicationDrug.Stocktext === 'N/A' || medicationDrug.Stocktext === '0.000' ">{{ 'Stock'+'('+medicationDrug.Stocktext + ')'+' - '}}</span>
            {{!HeaderConfigurationData ?' Phot'+'(' +medicationDrug.Phot+ ')':'' }}{{HeaderConfigurationData ?' Phot'+'(' +medicationDrug.Phot+ ')'+' - '+' Phin'+'(' +medicationDrug.Phin+ ')'+' - '+' Pher'+'(' +medicationDrug.Pher+ ')':''}}
      </span>
    </ng-option>
  </ng-select>
</ng-container>
