<form [formGroup]="nursingAdmissionForm">
  <div class="end-container">
    <div class="sph-box">
      <label class="box-label">Physical Assessment (Review of Systems)</label>
      <div class="container-fluid">
        <div class="row m-0 mb-4 ml-3">
          <input type="checkbox" formControlName="disabledAllPhy" (change)="disabledAllValue()" />
          <label class="m-0">Cannot be Assessed</label>
        </div>
        <div class="tab-navigation-part">
          <div class="tab-navigate">
            <div class="tab-nav w-100">
              <ul class="m-0 p-0 d-flex mb-2 tab-ui">
                <li *ngFor="let tab of tabList" class="d-flex m-0 align-items-center" (click)="assessmentTabSelect(tab)"
                  [ngClass]="selectedTabName == tab ? 'active' : ''">
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">{{ tab }}</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-content pl-2 mb-3" style="border-radius: 7px">
            <div *ngIf="selectedTabName == 'Skin'">
              <div class="row m-0">
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Rashes</label>
                  </div>
                  <div class="col-md-4 row m-0">
                    <label class="m-0">Type of Rash</label>
                    <ng-select formControlName="GMicturition" class="w-40 ml-2">
                      <ng-option *ngFor="let item of typeOfRash" [value]="item.value">{{ item.label }}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Itching</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Change in hair or nails</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3">
                  <div class="col-md-8 d-flex">
                    <label class="m-0">Comments</label>
                    <input class="form-control w-70 ml-3" />
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Head'">
              <div class="row m-0">
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-4">
                    <input type="checkbox" [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Head Injury</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3">
                  <div class="col-md-4 d-flex">
                    <label class="m-0" style="white-space: nowrap;">Head Circumference (cm)</label>
                    <input class="form-control ml-3 w-70" />
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Eyes'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Glasses or contacts</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Change in vision</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Eye pain</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Double vision</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Flashing lights</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Glaucoma/Cataracts</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Last Eye exam </label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 ml-2 mt-3">
                  <label class="m-0 mr-3">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'ENT'">
              <div class="row m-0 mb-3">
                <div class="col-md-2 row m-0">
                  <div class="col-md-2">
                    <label class="m-0">EARS</label>
                  </div>
                </div>
                <div class="col-md-10 row m-0">
                  <div class="col-md-12">
                    <input type="checkbox" />
                    <label class="m-0">No reported abnormalities</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgRectalPain"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Change in hearing</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Tymapanic Membrane</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Ear discharge</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Ringing</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Dizziness</label>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-3">
                <div class="col-md-2 m-0 row">
                  <div class="col-md-2">
                    <label class="m-0">NOSE/SINUSES</label>
                  </div>
                </div>
                <div class="col-md-10 row m-0">
                  <div class="col-md-12">
                    <input type="checkbox" />
                    <label class="m-0">No reported abnormalities</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgRectalPain"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Nose bleeds</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Nasal stuffiness</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Nasal Flaring</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Frequent colds</label>
                  </div>
                </div>
              </div>
              <div class="row m-0 mb-3">
                <div class="col-md-2 row m-0">
                  <div class="col-md-2">
                    <label class="m-0">MOUTH/THROAT</label>
                  </div>
                </div>
                <div class="col-md-10 row m-0">
                  <div class="col-md-12">
                    <input type="checkbox" />
                    <label class="m-0">No reported abnormalities</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgRectalPain"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Bleeding gums</label>
                  </div>
                  <div class="col-md-2 d-flex">
                    <input type="checkbox" formControlName="GgIndigestion"
                      [attr.disabled]="isDisabled() ? true : null" />
                    <label class="m-0">Sore tongue</label>
                  </div>
                  <div class="col-md-3 d-flex">
                    <label class="m-0 w-30">Lip Color</label>
                    <input class="form-control ml-3" />
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Neck'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Lumps</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Swollen Glands</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Goiter</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Stiffiness</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-2">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Breast'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Lumps</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Pain</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Nipple discharge</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Skin Abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-2">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Respiratory/Cardiac'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Shotness of breath</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Cough</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Wheezing</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Coughing up blood</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Production of phlegm, color</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Chest pain</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Night sweats</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Blue fingers/toes</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Swelling in hands/feet</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Bronchitis/Emphysema</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Heart muemur</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">HX of heart medication</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Skipping heart beats</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-2">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Gestrointestinal'">
              <div class="row m-0 mb-2">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Change in appetite or weight</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Problems swallowing</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Nausea</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Heartburn</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Vomiting</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Vomiting blood</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Constipation</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Diarrhea</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Change in bowel habits</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Abdominal pain</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Excessive belching</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Excessive flatus</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Food intolerance</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Rectal bleeding/Hemarrhoids</label>
                  </div>
                  <div class="col-md-3 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Yellow colour of skin(jaundice/hepatitis)</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3">
                  <div class="col-md-2 row m-0">
                    <label class="ml-2 m-0">ELIMINATION</label>
                  </div>
                  <div class="col-md-10 row m-0">
                    <div class="col-md-12 row m-0 p-0">
                      <div class="col-md-2 row m-0 p-0">
                        <input type="checkbox" class="m-0" />
                        <label class="ml-2 m-0">Toilet Trained</label>
                      </div>
                      <div class="col-md-2 row m-0">
                        <label class="m-0">Freq.</label>
                        <input type="text" class="form-control m-0" />
                      </div>
                    </div>
                    <div class="col-md-12 row m-0 p-0">
                      <div class="col-md-2 row m-0 p-0">
                        <input type="checkbox" class="m-0" />
                        <label class="ml-2 m-0">Uses Diaper</label>
                      </div>
                      <div class="col-md-2 row m-0">
                        <label class="m-0">Freq.</label>
                        <input type="text" class=" form-control m-0" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-2">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Urinary'">
              <div class="row m-0 mb-2">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Difficulty of urination</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Pain or burning on urination</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Frequent urination at night</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Urgent need to urinate</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Incontinence of urine</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Dribbling</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Decreased urine stream</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Blood in urine</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">UTI/Stones/Prostate infection</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Peripheral Vascular'">
              <div class="row m-0">
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">No reported abnormalities</label>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">Leg cramps</label>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">Vericose veins</label>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">Clots in veins</label>
                </div>
                <div class="col-md-12 row m-0 mt-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Musculoskeletal'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Pain</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Swelling</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Stiffness</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Decreased joint motion</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Broken bone</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Serious Sprains</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Arthritis</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Gout</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Neurologic'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Headaches</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Seizures</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Paralysis</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Weekness</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Loss of consciousness / Fainting</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Loss of muscle size</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Muscle spasm</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Tremor</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Involuntary movement</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Incoordination</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Numbness</label>
                  </div>
                  <div class="col-md-3 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Feeling of 'pins and needles/tingles'</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Hematolo'">
              <div class="row m-0">
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">No reported abnormalities</label>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">Anemia</label>
                </div>
                <div class="col-md-12">
                  <input type="checkbox" class="m-0" />
                  <label class="ml-2 m-0">Easy bruising/bleeding</label>
                </div>
                <div class="col-md-12 row m-0 mt-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Endocrine'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Abnormal growth</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Increased appetite</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Increased thirst</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Increased urine production</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Thyroid trouble</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Heat/Cold intolerance</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Excessing sweating</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Diabetes</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
            <div *ngIf="selectedTabName == 'Psychiatric'">
              <div class="row tab-content scale-box mt-3 m-0" style="border-radius: 7px">
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">No reported abnormalities</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0">
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Tension/Anxiety</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Depression/Suicide ideation</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Memory problems</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Past treatment with Psychiatrist</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Sleep problems</label>
                  </div>
                  <div class="col-md-2 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Unusual problems</label>
                  </div>
                  <div class="col-md-3 row m-0">
                    <input type="checkbox" class="m-0" />
                    <label class="ml-2 m-0">Change in mood / change in attitude towards family/friends</label>
                  </div>
                </div>
                <div class="col-md-12 row m-0 mt-3 ml-3">
                  <label class="m-0 mr-2">Comments</label>
                  <input class="form-control w-70" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>