<div class="haemodialysis-main">
    <form [formGroup]="MorsefallForm">
        <div class="haemodialysis-info">
            <div class="container-fluid" style="padding: 0px;">
                <div class="haemodialysis-dialysis-info position-relative p-3 mb-4 mt-4">
                    <label for="" class="title-text m-0">Scale Information</label>
                    <div class=" my-3">
                        <div class="d-flex align-items-center">
                            <div class="col-6 px-0 mb-2">
                                <div class="row align-items-center w-100 custom-input">
                                    <label for="" class="text-nowrap m-0 col-2">Scale Name</label>
                                    <input type="text" class="col-6" value="Ramsay Sedation Scale" style="width: 100%;"
                                        disabled>
                                </div>
                            </div>
                            <div class="col-6 px-0 ">
                                <div class="row align-items-center w-100 custom-input">
                                    <label for="" class="text-nowrap m-0 col-2">Realized by</label>
                                    <input type="text" class="col-2" formControlName="AttendPhy" readonly>
                                    <input type="text" class="col-4" [value]="realizedDescription" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 px-0 mb-2">
                            <div class="row align-items-center w-100 custom-input">
                                <label for="" class="text-nowrap m-0 col-2">Date</label>
                                <input type="text" class="col-2" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY', showWeekNumbers: false }"
                                    [bsValue]="CurrentDateAndTime" disabled>
                                <input type="text" class="col-2" bsDatepicker
                                    [bsConfig]="{ dateInputFormat: 'hh:mm:ss', showWeekNumbers: false }"
                                    [bsValue]="CurrentDateAndTime" disabled>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="haemodialysis-dialysis-info position-relative p-3 mb-5">
                    <label for="" class="title-text m-0">Ramsay Sedation</label>
                    <div class="haemodialysis-content my-3">
                        <div class="d-flex align-items-end my-3 risk-input-wrap">
                            <div class="row score-input">
                                <label for="" class="common-label mb-4 col-5 pr-0">Score</label>
                                <label for="" class="common-label m-0 col-5 px-0">Responsiveness</label>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">0</label>
                            <div class="custom-input mr-5 ">
                                <div class="d-flex align-items-center ">
                                    <input type="radio" value="0" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(0)">
                                    <label for="" class="mx-3">Not answered</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">1</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="1" name="HistoryFalls"
                                        formControlName="HistoryFalls" (change)="calculateTotal(1)">
                                    <label for="" class="mx-3">Patient is anxious and agitated and/or restless</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">2</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="2" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(2)">
                                    <label for="" class="mx-3">Patient is cooperative, oriented and quiet</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">3</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="3" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(3)">
                                    <label for="" class="mx-3">Patient responds to commands only</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">4</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="4" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(4)">
                                    <label for="" class="mx-3">Patient exhibits brisk response to light glabellar tap</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">5</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="5" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(5)">
                                    <label for="" class="mx-3">Patient exhibits a sluggish response to light glabellar tap</label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex my-3 risk-wrap">
                            <label for="" class="common-label m-0">6</label>
                            <div class="custom-input mr-5">
                                <div class="d-flex align-items-center">
                                    <input type="radio" value="6" name="HistoryFalls" formControlName="HistoryFalls"
                                        (change)="calculateTotal(6)">
                                    <label for="" class="mx-3">Patient exhibits no response</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="haemodialysis-dialysis-info position-relative p-3 mb-5">
                    <label for="" class="title-text m-0">Scale Result</label>
                    <div class=" my-3">
                        <div class="col-6 px-0">
                            <div class="row align-items-center w-100 custom-input">
                                <label for="" class="text-nowrap m-0 col-2">Total score</label>
                                <input type="text" class="col-2" [value]="totalScore" readonly>
                                <input type="text" class="col-7" [value]="description" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="haemodialysis-dialysis-info position-relative p-3 mb-4">
                    <div class=" my-0">
                        <div class="col-8 px-0">
                            <div class="row align-items-center w-100 custom-input">
                                <label for="" class="text-nowrap m-0 col-1 morse-label-comments">Comments</label>
                                <input type="text" class="col-10" style="width: 100%;" formControlName="Comments">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>