.td-pointer{
cursor: pointer;
}

.td-pointer:hover {
    color: blue;
  }

  .e-hospi-home-table td {
    border: 1px solid black;
    min-width: 102px;
    max-width: 267px!important;
    overflow: hidden;

    .allergy {
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .dropup, .dropright, .dropdown, .dropleft {
      position: inherit;
    }
}

::-webkit-scrollbar {
  height: 5px;
}

.main-hospital-home {
  overflow: auto; 
  max-height: 61vh; 
  margin: 0px 6px; 
  width: 100%
}

.set-width-3 {
  width: 250px !important; 
  max-width: 250px !important; 
  min-width: 250px !important;
}

.table-row-width {
  width: 170px !important;
  max-width: 170px !important;
  min-width: 170px !important;
}

.copy-toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.risk-history-main {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
}



.modal-header {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.modal-footer {
  border-top: 1px solid #cacaca;
  padding: 0.75rem !important;
}

.img-size {
  width: 35px;
  float: right;
  cursor: pointer;
}

.close-icon {
  border: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}


.shape {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.square {
  background-color: green;
}

.circle {
  background-color: red;
  border-radius: 50%;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid yellow;
}