<div class="nursing-admission-main">
  <div>
    <app-admission-data-section [isFormValidError]="isFormValidError"
      [nursingAdmissionForm]="nursingAdmissionForm"
    ></app-admission-data-section>
  </div>

  <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Allergies</label>
      <div class="container-fluid">
        <div class="tab-navigation-part p-0 mt-3">
          <div class="tab-navigate allergies-header">
            <div class="tab-nav mb-3 align-items-center">
              <label class="m-0">Allergies</label>
              <input
                type="text"
                class="form-control w-70"
                [value]="
                  toAllergyArr.length ? 'Allergy Exists' : 'No Known Allergies'
                "
              />
            </div>
            <div class="" (click)="openModalForAllergy()">
              <img
                src="assets/img/file1.svg"
                title="Create & Import"
                class="img-size"
              />
            </div>
          </div>
          <div class="tab-content">
            <div>
              <div class="allergy-box">
                <table class="table table-bordered past-table">
                  <thead>
                    <tr>
                      <th scope="col">Group</th>
                      <th scope="col">Description</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of toAllergyArr; let i = index">
                      <td>{{ item.Agroup || item.AllergenGrp }}</td>
                      <td>{{ item.Description || item.Allergen }}</td>
                      <td>
                        <img
                          src="assets/img/Delete.svg"
                          alt="delete"
                          (click)="deleteFromAllergy(item, i)"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: none !important">
    <app-medication-substances-section></app-medication-substances-section>
  </div>

  <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Scales</label>
      <div class="container-fluid">
        <div class="row create-form-inputs">
          <div class="scale-box">
            <div class="scale-box-checkbox">
              <input
                type="checkbox"
                id="noScaleAppicable"
                [(ngModel)]="noScaleAppicable"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="isDockeyAvailable()"
              />
              <label class="admitting-physician" for="noScaleAppicable"
                >No Scale Applicable</label
              >

              <div style="display: flex; width: 88%; justify-content: end;">
                    <img src="assets/img/file1.svg" title="Create & Import" class="img-size" (click)="openModalForScales(scalesOrderCase)" />
              </div>
            </div>
            <div class="scale-box-table">
              <table class="table table-bordered past-table">
                <thead>
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Measured Value</th>
                    <th scope="col">Normal Range</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col" colspan="3">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of scalesList; let i = index">
                    <td>{{ item.ScaleType }}</td>
                    <td>{{ item.LastScore }}</td>
                    <td>{{ item.ScoreDesc }}</td>
                    <td>{{ item.Datetimee }}</td>
                    <td>
                      <a (click)="openScaleModel(item)">Create</a>
                    </td>
                    <td>
                      <a (click)="viewGlosgowModel(item)">View</a>
                    </td>
                    <td>
                      <img src="assets/img/Delete.svg" title="Delete" class="cursor-pointer ml-1" (click)="removeScale(i)" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-vaccination-exposure-section [nursingAdmissionForm]="nursingAdmissionForm" (addTableRow)="addTableRow($event)"></app-vaccination-exposure-section>
  </div>

  <div class="end-container">
    <div class="sph-box">
      <label class="box-label"
        >Social / Psychological History / Occupational History / Economic
        History</label
      >
      <div class="container-fluid">
        <div class="tab-navigation-part">
          <div class="tab-navigate">
            <div class="tab-nav w-100">
              <ul class="m-0 p-0 d-flex flex-wrap mb-2">
                <li
                  class="d-flex m-0 align-items-center"
                  (click)="socialAndPsychologicalTabs('social')"
                  [ngClass]="socialHistory ? 'active' : ''"
                >
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">Social history</p>
                </li>
                <li
                  (click)="socialAndPsychologicalTabs('psychological')"
                  class="d-flex m-0 align-items-center"
                  [ngClass]="psychologicalHistory ? 'active' : ''"
                >
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">Psychological history</p>
                </li>
                <li
                  (click)="socialAndPsychologicalTabs('occupational')"
                  class="d-flex m-0 align-items-center"
                  [ngClass]="occupationalHistory ? 'active' : ''"
                >
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">Occupational history</p>
                </li>
                <li
                  (click)="socialAndPsychologicalTabs('economic')"
                  class="d-flex m-0 align-items-center"
                  [ngClass]="economicHistory ? 'active' : ''"
                >
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">Economic history</p>
                </li>
              </ul>
            </div>
          </div>
          <form [formGroup]="nursingAdmissionForm">
            <div class="tab-content p-2" style="border-radius: 7px">
              <div *ngIf="socialHistory" class="psychological-main">
                <div class="scale-box-checkbox">
                  <input
                    type="checkbox"
                    id="noHabitApplicable"
                    [(ngModel)]="noHabitApplicable"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <label class="admitting-physician" for="noHabitApplicable"
                    >No habits applicable</label
                  >
                </div>
                <div class="main-tab-contant">
                  <div>
                    <table class="table table-bordered table-er-traige">
                      <thead>
                        <tr>
                          <th scope="col">Habit</th>
                          <th scope="col">Status</th>
                          <th scope="col">Consumption quantity</th>
                          <th scope="col">Duration</th>
                          <th scope="col">Year</th>
                          <th scope="col">Last Update</th>
                          <th scope="col">Add Habit</th>
                          <th scope="col">No Consumption</th>
                          <th scope="col">Delete</th>
                        </tr>
                      </thead>
                      <tbody style="background-color: #fbfcff">
                        <tr
                          style="height: 30px"
                          *ngFor="let item of socialHistoryList; let i = index"
                        >
                          <td>{{ item.label }}</td>
                          <td>{{ item.Status }}</td>
                          <td>{{ item.Quantity }}</td>
                          <td>{{ item.Duration }}</td>
                          <td>{{ item.Year }}</td>
                          <td>
                            {{ getDate(item.DateFrom) | date : "dd/MM/yyyy" }}
                          </td>
                          <td class="text-center">
                            <input
                              type="checkbox"
                              [checked]="item.Status && item.Status != 'No'"
                              [disabled]="noHabitApplicable"
                              style="height: 16px; width: 15px"
                              (click)="openModelForAddHabitSocial(i, item)"
                            />
                          </td>
                          <td class="text-center">
                            <input
                              type="checkbox"
                              [checked]="item.Status && item.Status == 'No'"
                              [disabled]="noHabitApplicable"
                              style="height: 16px; width: 15px"
                              (click)="noConsumeSocial(i, item, 'noConsume')"
                            />
                          </td>
                          <td>
                            <img
                              src="assets/img/Delete.svg"
                              title="Delete"
                              class="cursor-pointer"
                              style="margin-left: 11px"
                              (click)="deleteData(i, item)"
                            />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="mt-4">
                    <div class="row">
                      <div class="col-md-3 row m-0 align-items-center">
                        <div class="col-md-6">Marital Status</div>
                        <div class="col-md-6">
                          <input
                            class="form-control"
                            placeholder="Married"
                            [disabled]="true"
                          />
                        </div>
                      </div>
                      <div class="col-md-2 row m-0 align-items-center">
                        <div class="col-md-3">Since</div>
                        <div class="col-md-8">
                          <input class="form-control" formControlName="Since" />
                        </div>
                      </div>
                      <div class="col-md-3 row m-0 align-items-center">
                        <div class="col-md-6">Number of spouse</div>
                        <div class="col-md-6">
                          <input class="form-control" formControlName="NumberSpouse" />
                        </div>
                      </div>
                    </div>
                    <div class="row mt-3">
                      <div class="col-md-12 row m-0 align-items-center">
                        <div class="col-md-1" style="margin-right: 38px">
                          <label>Comments</label>
                        </div>
                        <div class="col-md-10">
                          <textarea class="form-control" formControlName="HComments"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="psychologicalHistory" class="psychological-main">
                <div class="d-flex mb-2">
                  <div class="scale-box-checkbox">
                    <input
                      type="checkbox"
                      id="PsyNoProblem"
                      formControlName="PsyNoProblem"
                      (change)="onCheckboxChange($event)"
                    />
                    <label class="admitting-physician" for="PsyNoProblem"
                      >No Psychological Applicable</label
                    >
                  </div>
                </div>
                <div class="row checbox-list m-0 p-0">
                  <div
                    class="col-md-2 d-flex align-items-center habit-box-checkbox"
                    *ngFor="let item of psychologicalHistoryList"
                  >
                    <input
                      type="checkbox"
                      [formControlName]="item.controlname"
                      [id]="item.label"
                      [attr.disabled]="
                        nursingAdmissionForm.get('PsyNoProblem').value
                          ? true
                          : null
                      "
                    />
                    <label class="admitting-physician" [for]="item.label">{{
                      item.label
                    }}</label>
                  </div>
                </div>
                <div class="row align-items-center">
                  <div class="col-md-2">
                    <label class="admitting-physician">Comments</label>
                  </div>
                  <div class="col-md-10">
                    <textarea
                      formControlName="PsyComments"
                      class="form-control"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div *ngIf="occupationalHistory" class="psychological-main">
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label>Current Occupational Status</label>
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccOccupationalStatus">
                        <ng-option
                          *ngFor="let item of currentOccupationList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccOccupationalStatusTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4" style="padding-left: 20px !important">
                    <label>Nuture of job</label>
                  </div>
                  <div class="col-md-7">
                    <input
                      class="form-control"
                      formControlName="OccJobNature"
                      style="height: 33px"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label
                        >Left any previous job because of health
                        problems?</label
                      >
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccHealthProblems">
                        <ng-option
                          *ngFor="let item of occupationalOtherList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccHealthProblemsTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label
                        >Been restricted in your work or given light duty
                        because of your health injury?</label
                      >
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccHealthInjury">
                        <ng-option
                          *ngFor="let item of occupationalOtherList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccHealthInjuryTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label>Content with the job</label>
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccJob">
                        <ng-option
                          *ngFor="let item of occupationalOtherList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccJobTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label>Can manage daily needs</label>
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccDailyNeeds">
                        <ng-option
                          *ngFor="let item of occupationalOtherList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccDailyNeedsTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-6 row m-0">
                    <div class="col-md-8">
                      <label>Does your spouse work?</label>
                    </div>
                    <div class="col-md-4">
                      <ng-select formControlName="OccSpouseWork">
                        <ng-option
                          *ngFor="let item of occupationalOtherList"
                          [value]="item.value"
                          >{{ item.label }}</ng-option
                        >
                      </ng-select>
                    </div>
                  </div>
                  <div class="col-md-6 row m-0">
                    <div class="col-md-4 text-right">
                      <label>Comments</label>
                    </div>
                    <div class="col-md-6">
                      <input
                        class="form-control"
                        formControlName="OccSpouseWorkTxt"
                        style="height: 33px"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-4" style="padding-left: 20px !important">
                    <label>Comments</label>
                  </div>
                  <div class="col-md-7">
                    <input
                      class="form-control"
                      formControlName="OccComments"
                      style="height: 33px"
                    />
                  </div>
                </div>
              </div>
              <div *ngIf="economicHistory" class="psychological-main">
                <div class="row mb-3">
                  <div class="col-md-8 row m-0">
                    <div class="col-md-3 pl-0">
                      <label>Living with</label>
                    </div>
                    <div class="col-md-6 pl-1">
                      <input
                        class="form-control"
                        style="height: 33px"
                        formControlName="EcoLiving"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 row m-0">
                    <div class="col-md-3">
                      <label>No. People</label>
                    </div>
                    <div class="col-md-4">
                      <input
                        class="form-control"
                        style="height: 33px"
                        formControlName="EcoNoPeople"
                      />
                    </div>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <label>Relationaship</label>
                  </div>
                  <div class="col-md-2">
                    <ng-select formControlName="EcoRelationship">
                      <ng-option
                        *ngFor="let item of relationashipList"
                        [value]="item.value"
                        >{{ item.label }}</ng-option
                      >
                    </ng-select>
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      style="height: 33px"
                      formControlName="EcoRelationshipTxt"
                      [disabled]="
                        nursingAdmissionForm.get('EcoRelationship').value != '7'
                      "
                      [readOnly]="
                        nursingAdmissionForm.get('EcoRelationship').value != '7'
                      "
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <label>Phone</label>
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      style="height: 33px"
                      formControlName="EcoPhone"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <label>Father's job</label>
                  </div>
                  <div class="col-md-5">
                    <input
                      class="form-control"
                      style="height: 33px"
                      formControlName="EcoFatherJob"
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-md-2">
                    <label>Insurance</label>
                  </div>
                  <div class="col-md-2">
                    <ng-select formControlName="EcoInsurance">
                      <ng-option
                        *ngFor="let item of occupationalOtherList"
                        [value]="item.value"
                        >{{ item.label }}</ng-option
                      >
                    </ng-select>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-assessment-section [isFormValidError]="isFormValidError"
      [nursingAdmissionForm]="nursingAdmissionForm"
    ></app-assessment-section>
  </div>
  <div>
    <app-orientation-section
      [nursingAdmissionForm]="nursingAdmissionForm"
    ></app-orientation-section>
  </div>
  <div>
    <app-physical-assessment-section
      [nursingAdmissionForm]="nursingAdmissionForm"
    ></app-physical-assessment-section>
  </div>
</div>
<app-physician-allergy
  #createAllergyId
  (importEvent)="importAllergyData($event)"
></app-physician-allergy>

<!-- <app-glos-gow-comma-scale-popup
  #scalesGlosgow
  (glasgowValue)="glasgowValue($event)"
></app-glos-gow-comma-scale-popup>
<app-face-pain-scale-popup
  #scalesFacePain
  (facePainValue)="facePainValue($event)"
></app-face-pain-scale-popup>
<app-numeric-rating-scale-popup
  #scalesNumericRating
  (numericValue)="numericValue($event)"
></app-numeric-rating-scale-popup> -->
<app-social-habit #socialAddHabit (saveHabitData)="saveHabitData($event)"></app-social-habit>
<app-glos-gow-comma-scale-popup #scalesGlosgow (scaleStoreValue)="scaleStoreInTable($event, 'glosgow')"></app-glos-gow-comma-scale-popup>
<app-morse-fall-scale #morseFallScale (scaleStoreValue)="scaleStoreInTable($event, 'morseFall')"></app-morse-fall-scale>
<app-braden-scale #bradenScaleTemp (scaleStoreValue)="scaleStoreInTable($event, 'braden')"></app-braden-scale>

<ng-template #scalesOrderCase>
  <div>

      <div class="allergy-header">
          <div style="
      font-size: 23px;
      font-weight: bold">

              <span>Import Scales</span>
          </div>



      </div>
  </div>
  <div class="modal-body" style="padding: 0 11px 0px;">
      <div style="display: flex;
  justify-content: end;
  padding-right: 1rem;">
          <button (click)="scalesImport()" style="border: 1px solid;
    background: #3b82f6;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: 700;margin-top: 4px;">
              Import
          </button>
      </div>
      <form style="max-height: 350px;
  overflow: auto;">
      <table class="table table-bordered past-table mt-3" >
          <thead style="background-color: #e4edf5;
  color: black;text-align: center;position: sticky;
  top: 0;">
              <tr>
                  <th scope="col" style="    text-align: -webkit-center;">
                      <input type="checkbox" [checked]="selectedScales.length === toScaleArr.length" class="form-control"
                          (change)="collectAllScalesData($event)" style="width:20px" />
                  </th>
                  <th>Scale Type</th>
                  <th style="width: 270px;">Last Score</th>
                  <th>Score Description</th>
                  <th>Date/Time</th>
                  <th>Create</th>
                  <th>Display</th>
      
              </tr>
          </thead>
          <tbody style="background-color: hsl(225, 100%, 99%);">
              <tr *ngFor="let item of toScaleArr;let i=index" style="text-align:center">
                  <td style="text-align: -webkit-center;"> <span class="input-text-field d-inline-block align-top w-100">
                          <ng-container>
                              <input type="checkbox" class="form-control" [checked]="item.isSelected"
                                  (change)="collectScalesIData($event,item, i)" style="width:20px" />
                          </ng-container>
                      </span></td>
                  <td>{{item!.Scaletype}}</td>
                  <td style="width: 270px;">{{item?.Score}}</td>
                  <td style="text-align: center;pointer-events: none;">{{item?.ScoreDesc}}</td>
                  <td style="text-align: center;pointer-events: none;">{{item?.DateTime}}</td>
                  <td></td>
                  <td></td>

      
              </tr>
          </tbody>
      </table>
      </form>

  </div>
</ng-template>
