<ng-template #progressNotesKardexModal>
  <div class="modal-body" style="padding: 0 !important;">
    <div class="allergy-header">
      <div style="
        font-size: 23px;
        font-weight: bold">
        <span>Progress Notes</span>
        </div>
        <div style="display: flex;
      justify-content: end;align-items: center;flex:1">
      <ul class="allergy-header-ul d-flex"><li class="allergy-header-item" style="margin-left:10%">Patient Name : <span >{{ storageService.patientData?.name }}
  <ng-container *ngIf="storageService.patientData?.age">
    (
    {{ storageService.patientData?.gender?.includes('Male') ? 'M' : 
      storageService.patientData?.gender?.includes('Female') ? 'F' : '' }},
    {{ storageService.patientData.age }}
      )
    
  </ng-container></span></li><li  class="allergy-header-item">MRN: {{storageService.patnr}}</li>
        <li  class="allergy-header-item">Admission date: {{storageService.patientData.periodStart | date : "dd.MM.y"}}</li>
      <li  class="close-icon allergy-header-item" style="border: none;
        padding: 0;
        margin: 0;flex:1"><img  src="assets/img/CloseTab.svg" class="img-size" style="width: 35px;float:right" (click)="calltab()"></li></ul>
      </div>
        </div>
    <app-physician-orders
              (onSetDateFilterEventForProgressNotes)="
                progressNotesFilterList($event)
              "
              (onSetDateFilterEvent)="progressNotesFilterList($event)"
              [occupationalGroupData]="occupationalGroupData"
              (onSearchChangEvent)="onSearchChange($event)"
              (onSearchChangEventForProgressNotes)="onSearchChange($event)"
            ></app-physician-orders>
            <div
            class="order-templete-main mt-3" *ngIf="this.emergencyService.ProgressNotes" style="padding: 10px;"
          >
            <app-progress-notes
              [searchString]="searchString"
              (dataToParents)="dataGetEvent($event)"
              [ProgressNotesList]="ProgressNotesList"
              [occupationalGroupData]="occupationalGroupData"
            ></app-progress-notes>
          </div>
  </div>
</ng-template>