<div class="overflow-auto">
  <div class="card-body p-0 row flex-nowrap px-3">
    <ng-container *ngFor="let vital of listVitals">
      <div
        class="card card-inner mr-2"
        [ngClass]="{ red_border: vital?.isAbnormal }"
      >
        <div class="d-flex px-3 py-2">
          <div class="mr-2">
            <div class="font-bold">
              {{ vital?.PairVital ? vital?.PairKeyName : vital.ItemName }}
            </div>
            <span class="fs-10 text-gray">{{
              vital.ValDateTimeUTC | date : "dd.MM.yyyy HH:mm"
            }}</span>
          </div>
          <div class="text-right">
            <div class="font-bold">
              <app-vertical-arrow-indicator
                [props]="{ process: vital.ValRangeType }"
              ></app-vertical-arrow-indicator>
              {{
                vital?.PairVital
                  ? vital?.LastValue + "/" + vital?.PairVital?.LastValue
                  : vital.LastValue
              }}
            </div>
            <span class="fs-10 text-gray">{{ vital.UnitText }}</span>
          </div>
        </div>
      </div>
      <!--if add class red_border------ -->
    </ng-container>
  </div>
</div>
<!-- 



<ng-container *ngFor="let vital of listVitals">
    <div class="card card-inner mr-2">
        <div class="d-flex px-3 py-2">
            <div class="mr-2">
                <div class="font-bold"></div>
                <span class="fs-10 text-gray"></span>
            </div>
            <div class="text-right">
                <div class="font-bold"></div>
                <span class="fs-10 text-gray">{{  vital.UnitText }}</span>
            </div>
        </div>
    </div>
</ng-container> -->
