$color_1: #000000;
$color_2: white;
$color_3: #7eb2e6;
$color_4: #404040;
$color_5: #808080;
$color_6: #0056b0;
$color_7: #000;
$color_8: #fff;
$color_9: #3587d7;
$color_10: #2f3f4c;
$color_11: #a7a7a7;
$color_12: #787474;
$background-color_1: #fff;
$background-color_2: white;
$background-color_3: #fafbff;
$background-color_4: #0056b0;
$border-color_1: #1768bc;
$border-color_2: #318bca;

/* nursing */
/* soap modal */
/*  */
.top-bar-templete {
  input {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 30%;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #0056b0;
  }

  .box-border-top {
    background: #fbfcff;
    padding: 5px;
    border-radius: 11px;
  }
}

.row.top-bar-templete {
  font-size: 13px;
  font-weight: 500;
  font-size: 13px;
  font-weight: 500;

  .col-first {
    .select-box {
      width: 100%;
      height: 45px;
    }

    width: 15%;
  }

  .box-border-last-box {
    input {
      width: 22%;
    }
  }
}

ul.list-simple {
  padding: 0px;
  text-align: left;
  margin: 0px;
  line-height: 0px;
  cursor: pointer;

  li {
    .header-date {
      background: inherit;
      border: none;
      font-weight: 400;
      font-size: 12px;
      width: fit-content;
      display: inline-block;
      padding: 10px;
    }

    font-weight: 500;
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    border: 1px solid #d3d1d1;
    border-radius: 11px;
    padding: 8px;
    width: fit-content;
    margin: 0px 5px;
    text-align: start;

    input {
      &:focus-visible {
        outline: none;
        border: none;
      }

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        color: $color_4;
        font-weight: 500;
      }
    }
  }

  li.right-icons {
    background: #0156b1;
    border-radius: 50px !important;
    float: right;
    width: 40px;
    height: 40px;
    padding: 0px;
    vertical-align: middle;
    align-items: center;
    line-height: 35px;

    img {
      width: 39px;
    }
  }
}

.selected-li {
  background: #1768bc;
  color: $color_2;
}

.error-border {
  border: 1px solid red;
}

span.draf {
  color: $color_3;
}

.er-physician-assessment {
  .top-header {
    margin: 10px 0px;

    .top-title-bar {
      h3 {
        font-weight: bolder;
      }
    }

    .search-functionality {
      margin-bottom: 4px;

      img {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
      }

      input {
        height: 38px;
        font: 600 14px/1.5 Nunito, sans-serif;
        color: #848f96;
        border-radius: 8px !important;
        box-shadow: none;
        padding: 10px 10px 10px 42px;
      }
    }

    .date-function {
      border-radius: 8px;
      position: relative;
      top: -10px;
      min-width: 15%;

      img {
        position: relative;
        top: 37px;
        right: 6px;
        float: right;
        transform: translateY(-50%);
      }

      input {
        border-radius: 8px;
      }
    }

    .select-functionality {
      min-width: 12%;
      margin-bottom: 4px;
    }

    .list-simple {
      flex: 1
    }

    .doc-box {}

  }
}

.top-row-inputs {
  input {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #0056b0;
  }
}

.er-physician-assessment-secound-bar {
  margin: 0px 5px;

  textarea {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #0056b0;

    &::focus-visible {
      outline: none;
      box-shadow: inherit;
    }

    &::focus {
      outline: none;
      box-shadow: inherit;
    }

    &::placeholder {
      color: $color_5;
      font-weight: 400;
      font-size: 14px;
    }
  }

  input {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #0056b0;

    &::focus-visible {
      outline: none;
      box-shadow: inherit;
    }

    &::focus {
      outline: none;
      box-shadow: inherit;
    }

    &::placeholder {
      color: $color_5;
      font-weight: 400;
      font-size: 14px;
    }
  }

  .sick-leave {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #0056b0;
  }

  h3.common-heade {
    font-size: 16px;
    margin: 20px 0px 10px;
    font-weight: bold;
  }

  .box-shadow {
    border: 2px solid #d3d1d1;
    border-radius: 11px;
    padding: 10px;
    background: #fff;

    span.pn-input-title {
      position: absolute !important;
      left: 11px;
      cursor: text;
      font-size: 12px;
      opacity: 1;
      z-index: 3;
      line-height: 2px !important;
      color: $color_6;
      padding: 0 10px;
      background-color: $background-color_2;
    }
  }
}

.col-md-6.left-colum {
  input {
    padding: 5px 10px;
  }
}

.col-md-6.right-colum {
  input {
    padding: 5px 10px;
  }
}

div#Mediacal-history {
  .border-boxes {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #0056b0;

    span.vital-sign {
      font-size: 16px;
      font-weight: 500;
    }

    .form-check {
      display: flex;
      width: fit-content;
      float: right;

      input {
        margin: 0px;
        position: relative;
      }

      label.form-check-label {
        padding: 0px 10px;
      }
    }
  }
}

.box-commun {
  .top-bar-templete-new {
    input {
      background-color: $background-color_1;
      color: $color_1;
      outline: 0;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 8px;
      border: 1px solid #0056b0;
      margin: 0px 5px 0px 5px;
      height: 30px;
      width: 26%;
    }
  }

  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 10px;

  .row.top-bar-templete-new {
    .col-md-4 {
      width: fit-content;
    }
  }

  .fall-risk {
    .top-bar-templete-new {
      input {
        background-color: $background-color_1;
        color: $color_1;
        outline: 0;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 8px;
        border: 1px solid #0056b0;
        margin: 0px 5px 0px 5px;
        height: 30px;
        width: 54%;
      }
    }
  }

  .functional {
    input {
      background-color: $background-color_1;
      color: $color_1;
      outline: 0;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 8px;
      border: 1px solid #0056b0;
      margin: 0px 5px 0px 5px;
      height: 36px;
      width: 100%;
    }
  }
}

.top-bar-templete-new {
  .box-border-top {
    background: #fbfcff;
    border: 1px solid #dedfe1;
    padding: 5px 10px;
    border-radius: 10px;
  }
}

.row.top-bar-templete-new {
  .col-first {
    .select-box {
      width: 100%;
      height: 45px;
    }
  }
}

.row.top-bar-templete-new-textarea {
  textarea {
    background-color: $background-color_1;
    color: $color_1;
    outline: 0;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #dedfe1;
    width: 100%;
  }
}

.tab-new {
  .nav-tabs {
    button.nav-link {
      background: #fafdff;
      border: 1px solid #dedfe1;
      padding: 5px 15px;
      border-radius: 25px;
      color: $color_7;
      font-size: 16px;
      font-weight: 600;
      margin-right: 20px;
    }

    button.nav-link.isactive {
      background: #1768bc;
      color: $color_8;
      border-color: $border-color_1;
    }

    border: none;
    margin-bottom: 10px;
  }

  .tab-content {
    .border-box-tab {
      border: 1px solid #dfdfdf;
      border-radius: 5px;
      padding: 0px;

      .same-five-boxes {
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        padding: 5px 10px 5px 35px;
        width: 19%;
        display: inline-block;
        margin: 5px 5px 5px 5px;
      }

      .three-boxes {
        width: 32.4%;
      }
    }
  }
}

span.pn-input-title {
  position: absolute !important;
  top: 17px;
  left: 7px;
  cursor: text;
  font-size: 12px;
  opacity: 1;
  left: 7;
  z-index: 3;
  line-height: 2px !important;
  color: $color_6;
  padding: 0 10px;
  background-color: $background-color_2;
}

.box-col {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 10px;


  .doc-header {
    gap: 9px;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 5px;
    padding-bottom: 12px;
  }

  .doc-content {
    max-height: 500px;
    height: 500px;
    overflow-x: hidden;
  }

  .scrollable-div {
    overflow-y: auto;
  }
}

.header-file {
  border: 1px solid black;
  border-radius: 31px;
  padding: 7px 3px;
  width: 32px;
  height: 32px;
  background: #293a4a;
  text-align: center;
}



.status-color {
  color: $color_9;
}

.docs-event {
  font-weight: bold;
  cursor: pointer;
}

.selected-item {
  border-color: $border-color_2 !important;
  background: #d9edff6b !important;
}

.action-doc {
  border: 1px solid;
  background: #0056b0;
  color: $color_8;
  padding: 5px 10px;
  border-radius: 47px;
  display: flex;
  font-weight: 700;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: center;
}

.progress-document {
  border: none !important;
}

.display-center {
  display: flex;
  align-items: center;

  strong {
    font-size: 14px;
  }
}


.progress-contant {
  .form-control {
    box-shadow: none !important;
    font-size: 14px;
    height: 70px;
  }

  .document-overflow {
    height: -webkit-fill-available;
    overflow: auto;
  }
}

.medical-value-list {
  display: flex;
  margin: 2%;
}

.main-white-boxes {
  padding: 8px;
  background: #fff;
  border-radius: 20px;
}

h4.top-head-h4 {
  font-size: 16px;
  color: $color_10;
  font-weight: 700;
  margin: 0px;
  padding: 10px 0px;
}

.attachment-main-new {
  padding: 10px;
  border-radius: 16px;
  border: 2px solid #dee8f4;
  margin: 10px 5px 10px;
  width: 100%;
  vertical-align: top;
  display: block;
  background: #f3fcff;

  span {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
  }
}

.attachment {
  input {
    width: 100%;
    background-color: $background-color_3;
    color: $color_1;
    outline: 0;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #dedfe1;
    margin: 0px 5px 5px 0px;
    height: 40px;
    font-weight: 500;

    &::placeholder {
      color: $color_11;
      font-size: 12px;
      font-weight: 500;
    }
  }

  select {
    width: 50%;
    background-color: $background-color_3;
    color: $color_1;
    outline: 0;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #dedfe1;
    margin: 0px 5px 5px 0px;
    height: 40px;
    font-weight: 500;
  }
}

.attachment-main-new.upload-box {
  span {
    border-bottom: 2px solid #dee8f4;
    padding-bottom: 10px;
  }

  display: block;
  vertical-align: bottom;
  align-items: end;

  .btns-save-cancel {
    button.btn-save {
      border: none;
      background: #2b78c8;
      font-size: 16px;
      color: $color_8;
      padding: 8px 25px;
      border-radius: 50px;
      font-weight: 600;
    }
  }

  .attachment {
    width: 63%;
    display: inline-block;

    #myfile {
      height: 50px;
      padding-top: 7px;
      border: 3px dotted #a0acac;
      border-radius: 0px;
    }
  }
}

.choose-filebut {
  background: #e6e6e6;
  width: 177px;
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: $color_12;
}

.btn-primary {
  background-color: $background-color_4;
}

.attachment-btn {
  gap: 10px;
  top: 50%;
  right: 4%;
  z-index: 1;
  transform: translate(0, -50%);

  button {
    padding: 5px 15px !important;
    border-radius: 8px;
    background: #e6e6e6;
  }
}

.choose-filename {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 240px;
  overflow: hidden;
  background: #e6e6e6;
  padding: 5px 15px;
  border-radius: 5px;
  color: $color_12;
}


.splitter {
  border-bottom: 10px solid #f2f4f6;
  width: 104%;
  position: relative;
  left: -21px;
}
.popup-box{
  width: 800px;
  height: 560px;
  background-color: #b9bdc1;
  transform: translate(-20%, 0%);
  padding: 15px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.popup-box-iframe{
  width: 800px;
  height: 92vh;
  background-color: #b9bdc1;
  transform: translate(-20%, 0%);
  padding: 15px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.ifrem-box{
  width: -webkit-fill-available !important;
  height: -webkit-fill-available !important;
  
}
.btns-save-cancel-2 .btn-save-2{
  border: none;
  background: #2b78c8;
  font-size: 16px;
  color: #fff;
  padding: 8px 25px;
  border-radius: 50px;
  font-weight: 600;
  position: absolute;
    bottom: 7px;
    left: 41%;
}

.btns-save-cancel-2 .btn-cancel{
  border: none;
  background: #2b78c8;
  font-size: 16px;
  color: #fff;
  padding: 8px 25px;
  border-radius: 50px;
  font-weight: 600;
  position: absolute;
    bottom: 7px;
    left: 53%;
}

.fileName{
  margin: 0px;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  min-width: 180px;
}

.under-deve {
  color: red;
  font-size: 12px;
}