.admission-graph {
    background-color: #186f8a;
    margin: 2px 0px;
}

.newadmission-graph {
    background-color: #a80200;
    margin: 2px 0px;
}

.planneddischarges-graph {
    background-color: #5903a5;
    margin: 2px 0px;
}

.discharges-graph {
    background-color: #000000;
    margin: 2px 0px;
}