<div class="edash-rightSide">
  <div class="edash-mainContent">
    <div class="container-fluid check-in-table">
      <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
        <img src="assets/img/pres-search-icon.svg" alt="" />
        <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100"
          (input)="filterPatients()" (keyup.enter)="filterPatients()" />
      </div>
      <table class="table checkin-table custom-table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="sortTable('PatientName')" style="padding-left: 11px;">
              Patient Name
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'PatientName', 'fa-sort-up': sortColumn === 'PatientName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'PatientName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Patient')">
              MRN
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Patient', 'fa-sort-up': sortColumn === 'Patient' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Patient' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Falnr')">
              Case #
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Falnr', 'fa-sort-up': sortColumn === 'Falnr' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Falnr' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('RoomidText')">
              Room
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'RoomidText', 'fa-sort-up': sortColumn === 'RoomidText' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'RoomidText' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('FinancecategoryName')">
              Financial Cat.
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'FinancecategoryName', 'fa-sort-up': sortColumn === 'FinancecategoryName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'FinancecategoryName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('AttendingPhysicianName')">
              Attending Physician
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'AttendingPhysicianName', 'fa-sort-up': sortColumn === 'AttendingPhysicianName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'AttendingPhysicianName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of patientWithoutConsumableList | filter:searchString ; let i = index"
            (click)="redirectToTreatByName(item)">
            <td [title]="item.PatientName" class="border-top-none" style="padding-left: 11px;">
              {{ item.PatientName }}
            </td>
            <td [title]="item.Patient" class="border-top-none">{{ item.Patient }}</td>
            <td [title]="item.Falnr" class="border-top-none">{{ item.Falnr }}</td>
            <td [title]="item.RoomidText" class="border-top-none">{{ item.RoomidText }}</td>
            <td [title]="item.FinancecategoryName" class="border-top-none">{{ item.FinancecategoryName }}</td>
            <td [title]="item.AttendingPhysicianName" class="border-top-none">{{ item.AttendingPhysicianName }}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="patientWithoutConsumableList?.length == 0" style="text-align: center">
        No results
      </div>
    </div>
  </div>
</div>
