.header-tab {
    padding: 12px 0 !important;
    border: 1px solid #cacaca !important;
    font-size: 16px !important;
}

label {
    margin: 0;
    margin-left: 2%;
}

.border-all {
    border: 1px solid #cacaca;
}

.disabled-form {
    img {
        pointer-events: none !important;
    }

    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    textarea,
    ng-select {
        pointer-events: none !important;
        cursor: not-allowed !important;
    }
}