<div class="fall-risk-main">
    <div>
        <div class="row m-0 header-tab">
            <div class="col-md-4">
                <strong>Category</strong>
            </div>
            <div class="col-md-4">
                <strong>Fall Risk Assessment</strong>
            </div>
            <div class="col-md-4">
                <strong>Score</strong>
            </div>
        </div>
        <div class="border-all">
            <div class="row m-0 mt-3">
                <div class="col-md-4">
                    <strong>Prior History</strong>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="checkbox" />
                        <label for="">(2) HX of a fall</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(2) HX of a bedrest</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(3) Visual Impairment</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(0) None</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control">
                </div>
            </div>
            <div class="row m-0 mt-3">
                <div class="col-md-4">
                    <strong>Cardiovascular</strong>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="checkbox" />
                        <label for="">(2) HX of anemia or preeclampsia</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(3) Orthostatic</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(2) Dizziness</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(0) None</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control">
                </div>
            </div>
            <div class="row m-0 mt-3">
                <div class="col-md-4">
                    <strong>Hemorrhage</strong>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="checkbox" />
                        <label for="">(3) PP Hemorrhage</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(3) DX abruption or previa</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(0) None</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control">
                </div>
            </div>
            <div class="row m-0 mt-3">
                <div class="col-md-4">
                    <strong>Motor/ Activity</strong>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="radio" />
                        <label for="">(1) Able to SLR but not bridge</label>
                    </div>
                    <div>
                        <input type="radio" />
                        <label for="">(2) Unable to SLR</label>
                    </div>
                    <div>
                        <input type="radio" />
                        <label for="">(0) None</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control">
                </div>
            </div>
            <div class="row m-0 mt-3">
                <div class="col-md-4">
                    <strong>Medication</strong>
                </div>
                <div class="col-md-4">
                    <div>
                        <input type="checkbox" />
                        <label for="">(1) IV / IM Narcotics w in 30 min</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(3) Anti-hypertensives</label>
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label for="">(0) None</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <input class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="header-tab">
            <h4 class="m-0 pl-3">Scale Result</h4>
        </div>
        <div class="border-all">

            <div class="row m-0 mt-3">
                <div class="col-md-3">
                    <label>Total Score :</label>
                    <input class="form-control w-40" />
                </div>
                <div class="col-md-1">
                    <input type="radio" />
                    <label class="m-0 ml-2">Low</label>
                </div>
                <div class="col-md-1">
                    <input type="radio" />
                    <label class="m-0 ml-2">Mederate</label>
                </div>
                <div class="col-md-1">
                    <input type="radio" />
                    <label class="m-0 ml-2">High</label>
                </div>
            </div>
            <div class="mt-2" style="padding-left: 12px;">
                <label class="ml-0">Recommendations</label>
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div class="mt-4">
        <div class="row m-0">
            <div class="col-md-6 header-tab">
                <h4 class="m-0">Fall Risk Score</h4>
            </div>
            <div class="col-md-6 header-tab">
                <h4 class="m-0">Intervention</h4>
            </div>
        </div>
        <div class="border-all">
            <div class="row m-0">
                <div class="col-md-6">
                    <label>Low Fall Risk (0-2)</label>
                </div>
                <div class="col-md-6">
                    <label>Assist out of bed as provided</label><br>
                    <label>Provide safe environment</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-6">
                    <label>Moderate Fall Risk (3-5)</label>
                </div>
                <div class="col-md-6">
                    <label>Assist out of bed every time</label><br>
                    <label>Edicate patient and family to call for assistance</label>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-md-6">
                    <label>High Fall Risk (>5)</label>
                </div>
                <div class="col-md-6">
                    <label>Defer Walking Patient</label><br>
                    <label>Have staff assist if attempt walking</label>
                </div>
            </div>
        </div>
    </div>
</div>