.card {
  border: initial;
  background: #fff;
  border-radius: 0.1rem;
  box-shadow: 0 1px 15px #0000000a, 0 1px 6px #0000000a;
  margin-top: 20%;
}

.logo-single {
  width: 250px;
  height: 75px;
  background-position: 50%;
}
