.order-main {
  height: 100vh;
  padding: 10px;
  background: #fff;

  .order-header-title {
    width: 10%;
    h4 {
      font-size: 12px;
      background: #cecece;
      padding: 4px;
      margin: 0;
      position: absolute;
      z-index: 99000;
      left: 30px;
      padding: 5px 5px 5px 22px;
      width: 10%;
      font-weight: bolder;
      border-radius: 5px;
    }
  }

  .order-header-contant {
    border: 2px solid #cacaca;
    position: relative;
    top: 10px;
    display: flex;
    height: 125px;
  }
}
.card-body {
  padding: 10px !important;
}

.collaspe-label {
  border: 1px solid #cacaca;
  padding: 5px 20px 5px 20px;
  font-weight: bold;
  border-radius: 5px;
}
.switch input {
  display: none;
}
.switch {
  display: inline-block;
  width: 45px;
  height: 16px;
  transform: translateY(50%);
  position: relative;
  top: -4px;
  margin-left: 5px;
}
.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.4s;
}
.form-control {
  height: 28px !important;
  padding: 2px 0px 3px 10px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  font-size: 12px;
}
.slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #777;
  border-radius: 30px;
  transform: translateX(-30px);
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(30px);
  background: #009d57;
}
input:checked + .slider {
  box-shadow: 0 0 0 2px #009d57, 0 0 2px #009d57;
}

.switch.flat .slider {
  box-shadow: none;
}
.switch.flat .slider:before {
  background: #fff;
}
.switch.flat input:checked + .slider:before {
  background: white;
}
.switch.flat input:checked + .slider {
  background: #02a3ef;
}

.assign-user {
    height: 110px;
    overflow: auto;
    padding: 10px 0px 0 20px !important;
  p {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 8px;
  }
}

// .container .panel-heading {
//   transition: all 0.5s ease;
// }
// .panel-heading:hover {
//   cursor: pointer;
//   background-color: indianred;
//   color: white;
// }

// .panel-title > a:before {
//   float: right !important;
//   font-family: FontAwesome;
//   content: "\f068";
//   padding-right: 5px;
// }
// .panel-title > a.collapsed:before {
//   float: right !important;
//   content: "\f067";
// }
// .panel-title > a:hover,
// .panel-title > a:active,
// .panel-title > a:focus {
//   text-decoration: none;
// }

.card-header {
  padding: 0 !important;
}
.collapse-seq {
  padding: 4px 15px 4px 15px;
  border: 1px solid #cacaca;
}

.precheck-input {
  position: relative;
  top: 2px;
}

.collapse-title {
  font-size: 12px;
  background: #cecece;
  padding: 5px 5px 5px 22px;
  margin: 0;
  width: 12%;
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}
// .hover-effect {
//   display: inline-block;
//   position: absolute;
//   left: 3px;
//   right: 3px;
//   top: 9px;
//   bottom: 3px;
//   background: #fff;
// }

// .crete-tamplate {
//   .ng-dropdown-panel .scroll-host {
//     position: fixed !important;
//     z-index: 999999 !important;
//     border: 1px solid;
//     width: 180px;
//   }
// }

// tbody {
//   .borderbottom {
//     border-bottom: 2px solid rgb(212, 203, 203);

//     .ma-radius {
//       border-bottom-left-radius: 10px;
//       border-bottom-right-radius: 10px;
//     }

//     .filter-color {
//       filter: brightness(0) invert(1);
//     }

//     .borderright {
//       border-right: 1px solid rgb(212, 203, 203) !important;
//       width: 6%;

//       .z-indexlabel {
//         z-index: 99;
//       }

//       .patient-dropdown {
//         &:hover,
//         &.open-mo-detail {
//           img {
//             //   content: url(../../../assets/img/selected.svg);
//           }

//           label {
//             color: #0681c5;
//           }
//         }
//       }

//       .fontsize {
//         span {
//           font-size: 11px;
//         }
//       }

//       .detals-w {
//         width: 20px;
//       }

//       label {
//         font-size: 12px;
//         color: black;
//         font-weight: bold;
//       }

//       .position-relative {
//         position: relative;

//         .checkbox-panel {
//           position: absolute;
//           opacity: 0;
//           left: 0;
//           top: 0;
//           width: 100%;
//           height: 100%;
//           z-index: 1;

//           &:checked ~ span::before {
//             opacity: 1;
//             visibility: visible;
//           }
//         }

//         span.admin {
//           min-width: 20px;
//           min-height: 20px;
//           border: 2px solid #c0c4d5;
//           border-radius: 3px;
//           position: relative;

//           &::before {
//             content: "";
//             position: absolute;
//             border: 2px solid #0a5bd8;
//             background-color: #0064fe;
//             //   background-image: url('../../../assets/img/check-icon.svg');
//             background-size: contain;
//             background-position: center;
//             left: -2px;
//             top: -2px;
//             right: -2px;
//             bottom: -2px;
//             border-radius: 3px;
//             opacity: 0;
//             visibility: hidden;
//           }
//         }

//         .color {
//           color: #8b7d80;
//         }

//         label {
//           color: #000;
//           font-weight: bold;
//           font-size: 13px;
//         }
//       }
//     }
//   }
// }

// .tab-color {
//   background-color: transparent !important;

//   .selectbordernone.ng-select {
//     background: none;

//     .ng-select-container {
//       border: none;
//       padding: 0 !important;
//       height: auto;
//       min-height: auto;
//       margin-top: -10px !important;
//     }

//     .ng-value-container {
//       padding: 0 !important;
//     }

//     input[type="text"] {
//       padding: 0 !important;
//     }
//   }
// }

// .border-tb-0 {
//   border-top: 0 !important;
//   border-bottom: 0 !important;
// }

// .orderPurpose {
//   width: 180px;
// }

// .eorderMedicine::placeholder {
//   font-size: 14px;
//   font-weight: 600;
//   color: #000;
// }

.border-buttom-custom {
  border-bottom: 2px solid #cacaca;
}

.btn-link {
  border-bottom: 2px solid #cacaca;
  border-radius: 0;
  width: 100%;
  text-align: inherit;
}

.collapse-card {
  box-shadow: none !important;
  border: 2px solid #cecece;
  border-bottom: 2px solid #cecece !important;
}

.dots {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;

  .active {
    a {
      -webkit-transform: scale3d(1.3, 1.3, 1.3);
      transform: scale3d(1.3, 1.3, 1.3);

      &:after {
        height: 100%;
      }
    }
  }

  li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;

    a {
      top: 15px;
      left: -35px;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      text-indent: -999em;
      cursor: pointer;
      position: absolute;
      overflow: hidden;
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #02a3ef;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      z-index: 99999999;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 1px #fff;
        -webkit-transition: height 0.3s ease;
        transition: height 0.3s ease;
      }
    }
  }
}

.btn-link i:after {
  content: "-";
  float: left;
  padding: 6px;
  background: #0082c8;
  color: #fff;
  font-size: 30px;

  height: 25px;
  display: flex;
  align-items: center;
}

.btn-link i.collapsed:after {
  content: "+";
  padding: 6px;
  background: #0082c8;
  color: #fff;
  font-size: 22px;

  height: 25px;
  display: flex;
  align-items: center;
}

.left-border {
  border: 1px solid #02a3ef;
  min-height: calc(100vh - 270px);
  height: fit-content;
  width: 0px;
  border-left: 5px solid #02a3ef;
  position: absolute;
  left: 20px;
  z-index: 9999;
}
.contant-details {
  padding: 0 0 0 20px;
}
.main-contant {
  height: calc(100vh - 250px);
  overflow: auto;
  margin-top: 30px;
}

.arrow-right,
.arrow-left,
.long-arrow-right,
.long-arrow-left{
  display: block;
  width: 18px;
  height: 18px;
  border-top: 2px solid #cacaca;
  border-left: 2px solid #cacaca;
  background: #fff;
  z-index: 99;
  position: relative;
  left: 29px;
  margin-top: 16px;
}
.arrow-right,
.long-arrow-right{
 transform: rotate(135deg);
}

.arrow-left,
.long-arrow-left{
 transform: rotate(-45deg);
}
