<div>
    <div class="row m-0 mb-2">
        <div class="col-md-4 row m-0">
            <div class="col-md-6">
                <label>Date</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" style="color: #000; border-radius: 8px" type="text" placeholder=""
                    [minDate]="" [maxDate]="" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ showWeekNumbers: false,
                          dateInputFormat: 'DD.MM.YYYY' }" />
            </div>
        </div>
        <div class="col-md-4 row m-0">
        </div>
        <div class="col-md-4 row m-0">
            <div class="col-md-4">
                <label>Time</label>
            </div>
            <div class="col-md-6">
                <input type="time" step="2" class="form-control" min="08:00:00" max="17:00:00" />
            </div>
        </div>
    </div>
    <div class="row m-0 mb-2">
        <div class="col-md-4 row m-0">
            <div class="col-md-6">
                <label>Mode of Delivery</label>
            </div>
            <div class="col-md-6">
                <ng-select>
                    <ng-option></ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-md-4 row m-0">
            <div class="col-md-6">
                <label>Assessment Done</label>
            </div>
            <div class="col-md-6">
                <ng-select>
                    <ng-option></ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-md-4 row m-0">
            <div class="col-md-4">
                <label>Assessed By</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div class="row m-0 mb-2">
        <div class="col-md-4 row m-0">

        </div>
        <div class="col-md-4 row m-0">
            <div class="col-md-6">
                <label>Date of Birth</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" style="color: #000; border-radius: 8px" type="text" placeholder=""
                    [minDate]="" [maxDate]="" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ showWeekNumbers: false,
                          dateInputFormat: 'DD.MM.YYYY' }" />
            </div>
        </div>
        <div class="col-md-4 row m-0">
            <div class="col-md-4">
                <label>Time of Birth</label>
            </div>
            <div class="col-md-6">
                <input type="time" step="2" class="form-control" min="08:00:00" max="17:00:00" />
            </div>
        </div>
    </div>

    <div class="end-container">
        <div class="scale-box-main">
            <label class="box-label">Anthropometric Measurements</label>
            <div class="container-fluid">
                <div class="tab-navigation-part p-0">
                    <div class="container-fluid">
                        <div class="row m-0 mb-2">
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Birth Weight</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <ng-select>
                                        <ng-option></ng-option>
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Head Circumference</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label>CM</label>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 mb-2">
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Length of the Baby</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label>CM</label>
                                </div>
                            </div>
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Chest Circumference</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label>CM</label>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 mb-2">
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Gestation</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-3">
                                    <label>Weeks</label>
                                </div>
                            </div>
                            <div class="col-md-6 row m-0">
                                <div class="col-md-3">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="end-container">
        <div class="scale-box-main">
            <label class="box-label">Vitals</label>
            <div class="container-fluid">
                <div class="tab-navigation-part p-0">
                    <div class="container-fluid">
                        <div class="allergy-box d-flex justify-content-between py-3">
                            <div class="allergy-checkbox-section d-flex align-items-center">
                                <input type="checkbox" id="noVitalSignsApplicable"
                                    (change)="handleCheckboxVitals($event)" style="width: 24px;height: 20px;"
                                    [attr.disabled]="toVitalsArr?.length >0 ? true:null" />
                                <label class="admitting-physician" for="noVitalSignsApplicable">&nbsp;&nbsp;No Vitals
                                    Signs Applicable</label>
                            </div>
                            <div class="secound-bar-vital-sign" (click)="openModalVital()">
                                <img src="assets/img/file1.svg" title="Create & Import" class="img-size">
                            </div>
                        </div>
                        <div style="max-height: 296px;
                  overflow: auto;">
                            <table class="table table-bordered past-table">
                                <thead style="background-color: #e4edf5; color: black; ">
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Measured Value </th>
                                        <th scope="col">Normal Range</th>
                                        <th scope="col">Date/Time</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody style="background-color: #fbfcff;">
                                    <tr class="past-med-input" *ngFor="let item of toVitalsArr;let i=index">
                                        <td style="    padding: 10px !important;
                      width: 15%;pointer-events: none;">{{item.Vdescription}}</td>
                                        <td style="    padding: 10px !important;
                      width: 15%;pointer-events: none;">{{item.MeasuredValue}} {{item.Vunit}}</td>
                                        <td style="    padding: 10px !important;
                      width: 15%;pointer-events: none;">{{item.NormalRange}}</td>
                                        <td style="    padding: 10px !important;
                      width: 15%;pointer-events: none;">{{item.DateTime}}</td>
                                        <td style="    padding: 10px !important;
                      width: 3%;text-align: center;" (click)="deleteVitalsFromTable(i)"><img
                                                src="assets/img/Delete.svg" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="end-container">
        <div class="scale-box-main">
            <label class="box-label">Anthropometric Measurements</label>
            <div class="container-fluid">
                <div class="tab-navigation-part p-0">
                    <div class="tab-navigate">
                        <div class="tab-nav w-100">
                            <ul class="m-0 p-0 d-flex mb-2 tab-ui">
                                <li *ngFor="let tab of tabList" class="d-flex m-0 align-items-center"
                                    (click)="assessmentTabSelect(tab)"
                                    [ngClass]="selectedTabName == tab ? 'active' : ''">
                                    <img src="./assets/img/grid-icon.svg" />
                                    <p class="d-inline-block m-0">{{ tab }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div>
                    <form action="">
                        <div *ngIf="selectedTabName === 'Skin'">
                            <div class="row m0">
                                <div class="col-md-2">
                                    <label>Skin Color</label>
                                </div>
                                <div class="col-md-3">
                                    <ng-select>
                                        <ng-option></ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" />
                                </div>
                            </div>
                            <div class="row m0">
                                <div class="col-md-2">
                                    <label>Appearance</label>
                                </div>
                                <div class="col-md-1 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2" class="m-0 ml-2">Normal</label>                            
                                </div>
                                <div class="col-md-1 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Rash / Milia</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Bruising Abrasions</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Lanugo</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Edema</label>                            
                                </div>
                            </div>
                            <div class="row m0">
                                <div class="col-md-2"></div>
                                <div class="col-md-1 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Mongolian Spot</label>                            
                                </div>
                                <div class="col-md-1 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Skin Tags</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Petechia/ Ecchymosis</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Coatings (Vernix / Meconium)</label>                            
                                </div>
                                <div class="col-md-2 row m-0 align-items-center">
                                    <input type="checkbox" />
                                    <label class="m-0 ml-2">Edema</label>                            
                                </div>
                            </div>
                        </div>

                        <div class="row neonatal-physical-examination"  *ngIf="selectedTabName === 'Head & Neck'">
                            <div class="row neonatal-pexamination">
                                <div class="col-lg-2">
                                    <div class="naonital-title">
                                        <label>Shape</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row pexamination-row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Normal</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Forceps Mark</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Modling Present</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Caput</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Lacerations / Bruising</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Overriding Sutures</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Cephalhematoma</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Other</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input class="form-control" disabled/>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row neonatal-pexamination">
                                <div class="col-lg-2">
                                    <div class="naonital-title">
                                        <label>Fontanels</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row pexamination-row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Anterior</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Open</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Close</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="m-0 ml-2">Size</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input class="form-control" disabled/>
                                                </div>   
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Posterior</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Open</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Close</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input class="form-control" disabled/>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="m-0 ml-2">Size</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input class="form-control" disabled/>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row neonatal-pexamination">
                                <div class="col-lg-2">
                                    <div class="naonital-title">
                                        <label>Ears</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row pexamination-row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Normal</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Low set</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Pre-auricular tags</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Bleeding / discharges</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Other</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input class="form-control" disabled/>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            
                            
                            <!-- <div class="row neonatal-pexamination">
                                <div class="col-lg-2">
                                    <div class="naonital-title">
                                        <label>Eyes</label>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="row pexamination-row">
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Clear</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Scleral hemorrhage</label>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <input type="checkbox" />
                                                <label class="m-0 ml-2">Edema of eyelids</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Conjunctivitis</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Red Reflex</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="row pexamination-row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <input type="checkbox" />
                                                        <label class="m-0 ml-2">Other</label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <input class="form-control" disabled/>
                                                </div>   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
<app-er-vitals #erVitalsModal (importEvent)="importVitalsData($event)"></app-er-vitals>