<!-- <div class="row w-100">
  <div class="col" (click)="this.floorsWardsService.tabPanelNavigation('IsFloors')" routerLinkActive="active" routerLink="/nursingdashboard">
    <div class="d-flex align-items-center justify-content-between floors-border p-3 c-pointer" >
      <div class="d-flex align-items-center">
        <div class="floo-radius d-flex align-items-center  justify-content-center">
          <img src="assets/img/icon-emer.png" alt="" height="20">
         </div>
         <div class="ml-3">
          <div class="Ward-font font-weight-bold">Floors Or Ward</div>
          <div class="floor-data font-weight-bold">00</div>
         </div>
      </div>
      <div class="map-color d-flex align-items-center justify-content-center">
       <img src="assets/img/Chart-img.svg" alt="" height="20">
      </div>
     </div>
  </div>
  <div class="col" (click)="this.floorsWardsService.tabPanelNavigation('IsClinic')" >
    <div class="d-flex align-items-center justify-content-between floors-border p-3 c-pointer">
      <div class="d-flex align-items-center">
        <div class="floo-radius floors-Clin d-flex align-items-center justify-content-center">
          <img src="assets/img/icon-emer.png" alt="" height="20">
         </div>
         <div class="ml-3">
          <div class="Ward-font font-weight-bold">Clinic</div>
          <div class="floor-data font-weight-bold">00</div>
         </div>
      </div>
      <div class="map-color d-flex align-items-center justify-content-center">
       <img src="assets/img/Chart-img.svg" alt="" height="20">
      </div>
     </div>
  </div>
  <div class="col" (click)="this.floorsWardsService.tabPanelNavigation('IsEmergency')" routerLinkActive="active" routerLink="/emergencydashboard">
    <div class="d-flex align-items-center justify-content-between floors-border p-3 c-pointer">
      <div class="d-flex align-items-center">
        <div class="floo-radius floors-Emerg d-flex align-items-center  justify-content-center">
          <img src="assets/img/icon-emer.png" alt="" height="20">
         </div>
         <div class="ml-3">
          <div class="Ward-font font-weight-bold">Emergency</div>
          <div class="floor-data font-weight-bold">00</div>
         </div>
      </div>
      <div class="map-color d-flex align-items-center justify-content-center">
       <img src="assets/img/Chart-img.svg" alt="" height="20">
      </div>
     </div>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div> -->
