<div class="edash-rightSide">
    <div class="edash-mainContent">
        <div class="container-fluid check-in-table">
            <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
                <img src="assets/img/pres-search-icon.svg" alt="" />
                <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100" />
            </div>
            <table class="table checkin-table custom-table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="set-width-3">Patient/Sex/Age <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Pnamec1')"></i></th>
                        <th scope="col">MRN <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Patnr')"></i></th>
                        <th scope="col">Case# <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Falnr')"></i></th>
                        <th scope="col">Case Type <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Fatyptxt')"></i></th>
                        <th scope="col">Arrived On <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Datetime')"></i></th>
                        <!-- <th scope="col">Birthdate <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Gbdat')"></i></th> -->
                        <th scope="col" class="set-width-3">Attending Physician <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('BehArztName')"></i></th>
                        <th scope="col">Departmental OU <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Orgfakb')"></i></th>
                        <th scope="col">Financial Category <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('ZzfinCat')"></i></th>
                        <th scope="col">Movement Type <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Bwatx')"></i></th>
                        <th scope="col">Nursing Org. Unit <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Orgpfkb')"></i></th>
                        <!-- <th scope="col" class="allergy"
                            style="width: 170px !important; max-width: 170px !important; min-width: 170px !important;">
                            Room <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Zimmkub')"></i></th>
                        <th scope="col"
                            style="width: 170px !important; max-width: 170px !important; min-width: 170px !important;">
                            Bed <i class="fa fa-sort" aria-hidden="true"
                                (click)="commanSorting('Bettkub')"></i></th> -->
                        <th scope="col">Risk</th>
                        <th scope="col">Medical Record Exists</th>
                        <th scope="col">Documents Exists</th>
                        <th scope="col">Comment</th>
                    </tr>
                </thead>
                &nbsp;
                <tbody>
                    <tr *ngFor="let item of inArrivalslistList | filter : searchString">
                        <td (click)="redirectToTreatByName(item)">{{item.Pnamec1}}</td>
                        <td (click)="redirectToTreatByName(item)">{{item.Patnr}}</td>
                        <td>{{item.Falnr}}</td>
                        <td>{{item.Fatyptxt}}</td>
                        <td>{{item.Datetime}}</td>
                        <!-- <td>{{getDate(item.Gbdat) | date: 'dd/MM/yyyy'}}</td> -->
                        <td>{{item.BehArztName}}</td>
                        <td>{{item.Orgfakb}}</td>
                        <td>{{item.ZzfinCat}}</td>
                        <td>{{item.Bwatx}}</td>
                        <td>{{item.Orgpfkb}}</td>
                        <!-- <td>{{item.Zimmkub}}</td>
                        <td>{{item.Bettkub}}</td> -->
                        <td class="border-left" style="width: 3%">
                            <span>
                                <img src="assets/img/Risk.svg" style="width: 23px; cursor: pointer;"
                                    (click)="openModalForRisk(riskModal,item)"
                                    [title]="riskInformation(item.RiskpIcon)" />
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.KaIcon">
                                <img src="assets/img/ok_icon_blue.svg" style="width: 23px; cursor: pointer;"
                                    [title]="riskInformation(item.KaIcon)" />
                            </span>
                        </td>
                        <td>
                            <span *ngIf="item.DokIcon">
                                <img src="assets/img/ok_icon_blue.svg" style="width: 23px; cursor: pointer;"
                                    [title]="riskInformation(item.DokIcon)" />
                            </span>
                        </td>
                        <td>{{ item.Kztxt }}</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="inArrivalslistList?.length == 0" style="text-align: center">
                No results
            </div>
        </div>
    </div>
</div>

<ng-template #riskModal>
    <div>
        <div class="allergy-header">
            <div style="font-size: 23px; font-weight: bold">
                <span>Risk History</span>
            </div>
            <div class="risk-history-main">
                <ul class="allergy-header-ul d-flex">
                    <li class="allergy-header-item" style="margin-left: 10%">
                        Patient Name : <span>{{ selectedERList?.Pnamec }}</span>
                    </li>
                    <li class="allergy-header-item">MRN: {{ selectedERList?.Patnr }}</li>
                    <li class="allergy-header-item">
                        Admission date:
                        {{ getDate(selectedERList?.Gbdat) | date : "dd.MM.y" }}
                    </li>
                    <li class="close-icon allergy-header-item">
                        <img src="assets/img/CloseTab.svg" class="img-size" (click)="closeRiskModal()" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-body" style="padding: 0 11px 0px">
        <form [formGroup]="updateRiskForm" (keydown.enter)="$event.preventDefault()">
            <div class="mt-3 mb-3 update-risk-main">
                <div class="row create-form-inputs">
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Risk code" style="height: 33px"
                            formControlName="Rsfna"
                            [ngClass]="updateRiskForm.get('Rsfna').errors && isFormValidError ? 'ep-error-message': ''"
                            (dblclick)="openCommonModal(commonColModal, 'RiskCode')"
                            (keyup.enter)="openCommonModal(commonColModal, 'RiskCode')" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control risk-short-disc" placeholder="Short description"
                            formControlName="Rsfkb" />
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control risk-short-disc" placeholder="Risk description"
                            formControlName="Rsfna" />
                    </div>
                </div>
                <div class="row create-form-inputs">
                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="Reported on" [minDate]="" [maxDate]=""
                            #dp="bsDatepicker" bsDatepicker formControlName="Repdt"
                            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY' }"
                            style="height: 33px" />
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="text-align: end">
                        <button class="update-risk-save-btn" (click)="saveRiskJsonFormat()">Save</button>
                        <button class="update-risk-save-btn" (click)="resetUpdateRiskForm()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <form [formGroup]="riskform" style="max-height: 296px; overflow: auto">
            <table class="table table-bordered risk-table">
                <thead style="background-color: #e4edf5; color: black; text-align: center">
                    <tr>
                        <th scope="col">Risk Code</th>
                        <th scope="col">Short Description</th>
                        <th scope="col">Risk Description</th>
                        <th scope="col">Reported On</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody style="background-color: #fbfcff">
                    <ng-container formArrayName="riskFormitems">
                        <ng-container *ngFor="let item of riskform.get('riskFormitems')['controls']; let i = index">
                            <tr [formGroupName]="i">
                                <td class="risk-item-rsfnr">
                                    <ng-select appendTo="body" placeholder="Search" formControlName="Rsfnr"
                                        title="aaaaaaaa">
                                        <ng-option *ngFor="let riskV of riskValues" [value]="riskV.Rsfnr">
                                            {{ riskV.Rsfna }}
                                        </ng-option>
                                    </ng-select>
                                </td>
                                <td class="risk-item-rsfkb">
                                    <input type="text" class="form-control" formControlName="Rsfkb"
                                        [title]="item.get('Rsfkb').value" />
                                </td>
                                <td class="risk-item-rsfna">
                                    <input type="text" class="form-control" formControlName="Rsfna"
                                        [title]="item.get('Rsfna').value" />
                                </td>
                                <td class="risk-item-repdt">
                                    <input class="form-control" style="background-color: #e9ecef !important;"
                                        type="text" #dp="bsDatepicker" bsDatepicker formControlName="Repdt"
                                        [bsConfig]="{showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY'}"
                                        [title]="item.get('Repdt').value" />
                                </td>
                                <td class="risk-item-image">
                                    <img class="cursor-pointer" src="assets/img/allergy-edit.svg"
                                        (click)="selectValueFromRiskTable(riskList[i])" title="Edit" />
                                    <img class="cursor-pointer" src="assets/img/Delete.svg"
                                        (click)="confirmationForRiskDelete('D', riskList[i])" style="margin-left: 11px"
                                        title="Delete" />
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </form>
    </div>
</ng-template>


<ng-template #commonColModal>
    <div class="modal-body p-0">
        <div class="infoModel-title" style="background: #0056b0">
            <h4 class="m-0 pl-3">{{ colName }}</h4>
        </div>
        <div class="search-functionality search-image-comman col-md-10 pl-0 mt-2"
            *ngIf="this.colName == 'Allergen' || this.colName == 'RiskCode'">
            <img src="assets/img/pres-search-icon.svg" alt="" />
            <input type="text" placeholder="Search" id="searchFilter" class="form-control w-100"
                [(ngModel)]="searchString" (input)="someMethod(searchString)" />
        </div>
        <div style="max-height: 30em; overflow: auto; padding: 11px">
            <table class="table table-bordered">
                <thead style="position: sticky; top: -10px; z-index: 9; background: #e4edf5">
                    <tr>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody style="background: #fbfcff">
                    <tr class="c-pointer" *ngFor="let item of modalCommonDataArr" (click)="selectValueFromList(item)">
                        <td>{{item.Bcpname || item.EvalTxt || item.CerText || item.EvalText || item.ReaText ||
                            item.SoaText ||
                            item.TypText || item.Rsfna}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-template>\