<div class="card mt-2">
  <div class="card-body p-0">
    <accordion [closeOthers]="true">
      <accordion-group #radiology [isOpen]="isCollpseOpen">
        <div class="collaspe-header" accordion-heading>
          Surgery/Procedures
          <i class="fa" [ngClass]="{'fa-chevron-down': radiology?.isOpen, 'fa-chevron-up': !radiology?.isOpen}"></i>
        </div>
        <div class="laboratory-list-table">
          <table class="table medication-radiology-table">
              <thead class="thead-back-color">
                  <th *ngFor="let item of columnList">{{ item }}</th>
              </thead>
            <tbody>
              <tr *ngFor="let item of surgeryList | filter: searchString; let i = index">
                <td class="white-space">{{ item.Leitxt }}</td>
                <!-- <td>{{ item.category ? item.category : '--' }}</td> -->
                <td>{{ emergencyService.getDate(item.Datetime) | date:'dd/MM/yyyy':'UTC' }}</td>
                <td>{{ emergencyService.getDate(item.Datetime) | date:'HH:mm':'UTC' }}</td>
                <td>{{item.SurgeonName}}</td>
                <td><span *ngIf="item.Wbgdt">{{emergencyService.getDate(item.Wbgdt) | date:'dd/MM/yyyy'}}/{{getTime(item.Wbgzt)}}</span></td>
                <td>{{item.TrtoeText}}</td>
                <td>{{item.OrgfaText}}</td>
                <td>{{item.CreatedByName}}</td>
                <td><input type="checkbox" id="PRN" [checked]="item.Anerf" disabled/></td>
                <td>{{item.AddInfo}}</td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>