@import url("../../nursing-admission-assessment/nursing-admission-assessment.component.scss");

input[type="checkbox"] {
    margin-right: 10px;
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 3px;
}

input[type="radio"] {
    margin-right: 10px;
    width: 15px !important;
    height: 15px !important;
    position: relative;
    top: 3px;
}

// input[type="text"] {
//   height: 30px !important;
// }

.tab-ui::-webkit-scrollbar {
    height: 0 !important;
}

.tab-ui {
    overflow: auto;
    white-space: nowrap;
}

.top-0 {
    top: 0 !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.past-table {
    input {
        background: #ffffff;
        border: 1px solid #cacaca !important;
      }
      thead {
        background-color: #e4edf5;
        color: black;
      }
}

input[type=radio]{
    width: 20px !important;
    height: 20px !important;
}
input[type=checkbox]{
    width: 20px !important;
    height: 20px !important;
}

.examination .container {
    width: 98%;
    padding: 15px;
    margin: 15px;
    max-width: 100%;
}
.examination .New-border {
    padding: 10px;
    border-radius: 15px;
    height: 100%;
    box-shadow: 0px 0px 2px #355473;
}
.examination .mode-label {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}
.examination .New-border ul.general-boxes {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background: #e9edee;
    position: relative;
    font-size: 13px;
    color: #000;
    font-weight: 500;
}
.examination .New-border ul.general-boxes li {
    padding: 8px 5px;
    border-bottom: 1px solid #c8cccf;
}
.examination select.new-slect-box, .examination .input-boxes input {
    width: 100%;
    border: 1px solid #ced4da ;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    margin-bottom: 6px !important;
    padding: 0px 5px;
    font-size: 14px;
}
.examination select.new-slect-box:last-child, .examination input:last-child {
    margin: 0px;
}
.examination select.new-slect-box:focus-visible, .examination input:focus-visible {
    border:  1px solid #ced4da;
    background: #fff !important;
    outline: none;
}
