@import '../nursing-admission-assessment/nursing-admission-assessment.component.scss';

.haemodialysis-main {
    border-radius: 10px;
    border: 1px solid #cacaca;
    padding: 0px 20px;

    .haemodialysis-info {
        .haemodialysis-dialysis-info {
            border: 1px solid #cacaca;
            border-radius: 13px;
            padding: 20px;

            .title-text {
                position: absolute;
                top: -15px;
                color: #0056b0;
                background-color: white;
                padding: 0 15px;
                z-index: 1;
            }
        }

        .haemodialysis-content {
            input {
                border: 1px solid #cccccc;
                border-radius: 4px;
                padding: 3px 10px;
            }

            .common-label {
                min-width: 200px;
                font-size: 16px;
            }

            .score-input {
                input {
                    width: 300px;
                    padding: 7.2px 0.75rem;
                }
            }

            .risk-input-wrap {
                width: 100%;

                div {
                    width: 100%;
                }
            }
        }

        .title-text {
            color: #000000;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.5;
        }
    }

    .risk-wrap {
        .custom-input {
            div {
                width: 250px !important;
            }
        }
    }

    .custom-input {
        gap: 10px;

        label {
            color: #000;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            margin: 0;
            white-space: nowrap;

            &.morse-label-comments {
                max-width: 142px !important;
                flex: 0 0 142px;
            }
        }

        input {
            border: 1px solid #bfbfbf;
            border-radius: 6px !important;
            padding: 7.2px 0.75rem;
        }

        .i-morse {
            border: 1px solid #ddd;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                padding: 0 10px;
                border: 1px solid #ddd;
                border-radius: 2px;
            }
        }
    }
}

.feature_section {
    margin-top: 20px;
    width: 100%;
    border: 1px solid #cacaca;

    h3 {
        border-bottom: 1px solid #cacaca;
        padding: 10px;
    }
}

#exTab1 .nav-pills>li>a {
    border-radius: 0;
}


#exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}


.nav-pills li {
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
}

.active {
    color: #fff;
    background-color: #0056b0;
}

.border_box {
    border: 1px solid #cacaca;
}

//others design
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  /* Tab navigation styles */
  .tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
  }
  
  .tab {
    padding: 10px 15px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #f1f1f1;
    cursor: pointer;
  }
  
  .tab.active {
    background: #00aaff;
    color: white;
    font-weight: bold;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    padding: 15px 0px;
    border-radius: 6px;
  
  }
  
  .section {
    margin-bottom: 15px;
  }
  
  .section label {
    display: block;
    font-weight: bold;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .reflexes select {
    margin-left: 10px;
  }
  
  .input-notes {
    width: 100%;
    height: 30px;
    margin-top: 8px;
  }
  
  .scale-box-main {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
  
    .scale-box {
      justify-content: space-between;
      padding: 0px 10px;
      width: 100%;
  
      .scale-box-checkbox {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 15px 0px;
  
        input[type="checkbox"] {
          width: 18px;
          height: 18px;
          accent-color: #0056b0;
        }
  
        label {
          display: inline-block;
          margin-bottom: 0rem !important;
        }
      }
  
      .scale-box-table {
        max-height: 296px;
        overflow: auto;
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(5) {
                  text-align: center;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                width: 25%;
  
                &:nth-child(5) {
                  width: 3%;
                  text-align: center;
                  cursor: pointer;
                }
  
                &:nth-child(6) {
                  width: 3%;
                  text-align: center;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
  
      .third-table {
        max-height: 296px;
        overflow: auto;
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(1) {
                  text-align: center;
                  width: 1%;
                }
  
                &:nth-child(2) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(3) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(4) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(5) {
                  text-align: center;
                  width: 10%;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                // width: 25%;
              }
            }
          }
        }
      }
  
      .four-table {
        max-height: 296px;
        overflow: auto;
  
        table {
          thead {
            background-color: #e4edf5;
            color: black;
  
            tr {
              th {
                &:nth-child(1) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(2) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(3) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(4) {
                  text-align: center;
                  width: 10%;
                }
  
                &:nth-child(5) {
                  text-align: center;
                  width: 10%;
                }
              }
            }
          }
  
          tbody {
            background-color: #fbfcff;
  
            tr {
              td {
                padding: 10px !important;
                // width: 25%;
              }
            }
          }
        }
      }
    }
  }
  
  
  .allergy-div {
    border: 1px solid #cacaca;
    border-radius: 6px;
    padding: 4px 10px 4px 10px;
  }
  
  
  #exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  #exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  /* remove border radius for the tab */
  
  #exTab1 .nav-pills>li>a {
    border-radius: 0;
  }
  
  /* change border radius for the tab , apply corners on top*/
  
  #exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
  }
  
  #exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  
  
  .nav-pills li {
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
  }
  
  .active {
    color: #fff;
    background-color: #0056b0;
  }
  
  .date-input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .date-input-wrapper input.form-control {
    padding-right: 40px;
    /* Make space for icon */
    min-width: 235px;
    height: 40px;
    border-radius: 8px;
    color: #000;
  }
  
  .date-input-wrapper .calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    pointer-events: none;
    /* So click passes to input */
  }

  .icon-pdf {
    background-color: #e4edf5;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 14px;
    border: 1px solid #d3d1d1;
    border-radius: 6px;
    padding: 4px;
    // width: -moz-fit-content;
    margin: 0px 5px;
    text-align: center;
  }

  .disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }