<div class="edash-rightSide">
  <div class="edash-mainContent">
    <div class="container-fluid check-in-table">
      <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
        <img src="assets/img/pres-search-icon.svg" alt="" />
        <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100"
          (input)="filterPatients()" (keyup.enter)="filterPatients()" />
      </div>
      <table class="table checkin-table custom-table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="sortTable('Patient')">
              MRN
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Patient', 'fa-sort-up': sortColumn === 'Patient' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Patient' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('PatientName')">
              Patient Name <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'PatientName', 'fa-sort-up': sortColumn === 'PatientName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'PatientName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>

            <th scope="col" (click)="sortTable('Date')">
              Date
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Date', 'fa-sort-up': sortColumn === 'Date' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Date' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Time')">
              Time
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Time', 'fa-sort-up': sortColumn === 'Time' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Time' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('RoomidText')">
              Room
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'RoomidText', 'fa-sort-up': sortColumn === 'RoomidText' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'RoomidText' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('StatusText')">
              Status
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'StatusText', 'fa-sort-up': sortColumn === 'StatusText' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'StatusText' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('NurseName')">
              Attending Doctor
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'NurseName', 'fa-sort-up': sortColumn === 'NurseName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'NurseName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col">
              MORSE
            </th>
            <th scope="col">
              DIALYSIS
            </th>
            <th scope="col">
              Braden
            </th>
            <th scope="col">
              HBCA
            </th>
            <th scope="col">
              HBFG
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of noReleasedMissedDocumentsList | filter:searchString ; let i = index">
            <td [title]="item.Patient" class="border-top-none">{{ item.Patient }}
            </td>
            <td scope="row" [ngClass]="" [title]="item.PatientName" class="border-top-none">
              {{ item.PatientName }}
            </td>
            <td class="border-top-none" [title]="getDate(item.Date) | date : 'dd.MM.y'">
              {{ getDate(item.Date) | date : "dd.MM.y" }}
            </td>
            <td scope="row" class="border-top-none" [title]="getTime(item.Time)">
              {{ getTime(item.Time) }}
            </td>
            <td [title]="item.RoomidText" class="border-top-none">
              {{ item.RoomidText }}
            </td>
            <td [title]="item.StatusText" class="border-top-none">
              <!-- [ngClass]="[item.StatusText == 'Physician Start' ? 'status-physician-start': '', item.StatusText == 'Called' ? 'status-called' : '']" -->
              <span>
                {{ item.StatusText }}
              </span>
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              {{ item.NurseName }}
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.NrsScaleStatus == ''"
                (click)="redirectToDocuments(item, RedirectionType.NMRTSC$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.NrsScaleStatus == 'IA'"
                (click)="redirectToDocuments(item,RedirectionType.NMRTSC$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.NrsScaleStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.NMRTSC$, ActionType.View$)" title="View PDF" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.GlasgowScaleStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.COMMA$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.GlasgowScaleStatus == 'IA'"
                (click)="redirectToDocuments(item,RedirectionType.COMMA$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.GlasgowScaleStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.COMMA$, ActionType.View$)" title="View PDF" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.BradenScaleStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.BRADEN$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.BradenScaleStatus == 'IA'"
                (click)="redirectToDocuments(item,RedirectionType.BRADEN$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.BradenScaleStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.BRADEN$, ActionType.View$)" title="View PDF" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.EducationAssessStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.EDUAS$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" title="Draft"
                (click)="redirectToDocuments(item,RedirectionType.EDUAS$, ActionType.Update$)"
                *ngIf="item.EducationAssessStatus == 'IA'" />
              <i aria-hidden="true" class="fa fa-file-pdf-o" style="font-size: 24px; color: red;" title="View PDF"
                (click)="redirectToDocuments(item, RedirectionType.EDUAS$, ActionType.View$)"
                *ngIf="item.EducationAssessStatus  == 'FR'"></i>
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.FacePainScaleStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.FAC$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.FacePainScaleStatus == 'IA'"
                (click)="redirectToDocuments(item,RedirectionType.FAC$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.FacePainScaleStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.FAC$, ActionType.View$)" title="View PDF" />
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="noReleasedMissedDocumentsList?.length == 0" style="text-align: center">
        No results
      </div>
    </div>
  </div>
</div>



<ng-template #releasepdfmodal>
  <div class="modal-body">
    <ngx-extended-pdf-viewer *ngIf="pdfUrlType == 'pdf'" [src]="pdfUrl" height="80vh" [backgroundColor]="'#525659'"
      [zoom]="'80'" [sidebarVisible]="true" [showOpenFileButton]="false" [showBookmarkButton]="false">
    </ngx-extended-pdf-viewer>
    <div class="row" *ngIf="pdfUrlType == 'pdf'">
      <iframe [src]="pdfUrl" width="2000" height="600"> </iframe>
    </div>
    <div class="row justify-content-center" *ngIf="pdfUrlType == 'image'">
      <img [src]="releaseDocumentImage" style="height: 70vh;" />
    </div>
    <div class="w-100" *ngIf="pdfUrlType == 'html'">
      <div [innerHTML]="htmlData"></div>
    </div>
    <div class="mt-2" style="text-align: center">
      <button class="btn btn-primary" (click)="closePdfModal()" style="background-color: #0082c8; border: #0082c8">
        Close
      </button>
    </div>
  </div>
</ng-template>


<ng-template #selectIconPdf>
  <div class="modal-body">
    <ngx-extended-pdf-viewer *ngIf="pdfUrlType == 'pdf'" [src]="pdfUrl" height="80vh" [backgroundColor]="'#525659'"
      [zoom]="'80'" [sidebarVisible]="true" [showOpenFileButton]="false" [showBookmarkButton]="false">
    </ngx-extended-pdf-viewer>
    <div class="row">
      <!-- <iframe [src]="pdfUrl" width="2000" height="600"> </iframe> -->
    </div>
    <div class="row justify-content-center" *ngIf="pdfUrlType == 'image'">
      <img [src]="releaseDocumentImage" style="height: 70vh;" />
    </div>
    <div class="w-100" *ngIf="pdfUrlType == 'html'">
      <div [innerHTML]="htmlData"></div>
    </div>

    <div class="mt-2" style="text-align: center">
      <button class="btn btn-primary" (click)="selectedIconPdf.hide()"
        style="background-color: #0082c8; border: #0082c8">
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #documentUrlpdf>
  <div *ngIf="this.documentUrl">
    <iframe width="100%" height="700" [src]="documentUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</ng-template>
