<div class="nursing-admission-main" [ngClass]="{'disabled-form p-3' :isReadOnly}">
  <div>
    <app-admission-data-section [isFormValidError]="isFormValidError" [isReadOnly]="isReadOnly"
      [nursingAdmissionForm]="nursingAdmissionForm"></app-admission-data-section>
  </div>
  <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Allergies</label>
      <div class="container-fluid">
        <div class="tab-navigation-part p-0 mt-3">
          <div class="tab-navigate allergies-header">
            <div class="tab-nav mb-3 align-items-center">
              <label class="m-0">Allergies</label>
              <input type="text" class="form-control w-70" [value]="
                      toAllergyArr.length ? 'Allergy Exists' : ''
                    " />
            </div>
            <div class="" (click)="openModalForAllergy()">
              <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
            </div>
          </div>
          <div class="tab-content">
            <div>
              <div class="allergy-box">
                <table class="table table-bordered past-table" [formGroup]="nursingAdmissionForm">
                  <thead>
                    <tr>
                      <th scope="col">Group</th>
                      <th scope="col">Description</th>
                      <th scope="col">Delete</th>
                    </tr>
                  </thead>
                  <tbody formArrayName="TOALLERGY">
                    <tr *ngFor="let item of toAllergyArr; let i = index">
                      <td>{{ item.Agroup || item.AllergenGrp }}</td>
                      <td>{{ item.Description || item.Allergen }}</td>
                      <td>
                        <img src="assets/img/Delete.svg" alt="delete" (click)="deleteFromAllergy(item, i)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Diagnosis</label>
      <div class="container-fluid">
        <div class="tab-navigation-part p-0">
          <div class="container-fluid">
            <div class="allergy-box d-flex justify-content-between py-3">
              <div class="allergy-checkbox-section d-flex align-items-center">
                <input type="checkbox" id="noDiagnosisApplicable" (change)="handleCheckboxDiagnosis($event)"
                  style="width: 24px; height: 20px" [attr.disabled]="toDiagnosisArr?.length > 0 ? true : null" />
                <label class="admitting-physician" for="noDiagnosisApplicable">&nbsp;&nbsp;No Diagnosis
                  Applicable</label>
              </div>
              <div class="secound-bar-vital-sign" (click)="openModalForDiagnosis()">
                <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
              </div>
            </div>
            <div style="max-height: 296px; overflow: auto">
              <form style="max-height: 296px;
                                      overflow: auto;">
                <table class="table table-bordered past-table">
                  <thead style="background-color: #e4edf5; color: black; text-align: center;">
                    <tr>

                      <th scope="col">Code</th>
                      <th scope="col">Description </th>
                      <th scope="col">Remarks</th>
                      <th scope="col">Administion Diag.</th>
                      <th scope="col">Surgery Diag.</th>
                      <th scope="col">Preop Diag.</th>
                      <th scope="col">Discharge Diag.</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody style="background-color: #fbfcff;">
                    <tr class="past-med-input" *ngFor="let item of toDiagnosisArr;let i=index">
                      <td style="width: 14%;    padding: 10px !important;">{{item.DCode}}</td>
                      <td style="width: 32%;    padding: 10px !important;">{{item.DDescription}}</td>
                      <td style="    width:23%;padding: 10px !important;">{{item.DRemarks}}</td>
                      <td style="text-align: center;"><input type="checkbox" style="width:18px"
                          [(ngModel)]="item.DAdmission" [ngModelOptions]="{standalone: true}"></td>
                      <td style="text-align: center;"><input type="checkbox" style="width:18px"
                          [(ngModel)]="item.DSurgery" [ngModelOptions]="{standalone: true}"></td>
                      <td style="text-align: center;"><input type="checkbox" style="width:18px"
                          [(ngModel)]="item.DPreoperative" [ngModelOptions]="{standalone: true}"></td>
                      <td style="text-align: center;"><input type="checkbox" style="width:18px"
                          [(ngModel)]="item.DDischarge" [ngModelOptions]="{standalone: true}"></td>
                      <td style="text-align: center;width:5%" (click)="deleteDiagnosisFromTable(item,i)"><img
                          src="assets/img/Delete.svg" style="position: relative;
                                              top: 6px;" /></td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Scales</label>
      <div class="container-fluid">
        <div class="row create-form-inputs">
          <div class="scale-box">
            <div class="scale-box-checkbox">
              <input type="checkbox" id="noScaleAppicable" [(ngModel)]="noScaleAppicable"
                [ngModelOptions]="{ standalone: true }" [disabled]="isDockeyAvailable()" />
              <label class="admitting-physician" for="noScaleAppicable">No Scale Applicable</label>
              <div style="display: flex; width: 88%; justify-content: end;">
                <img src="assets/img/file1.svg" title="Create & Import" class="img-size"
                  (click)="openModalForScales(scalesOrderCase)" />
              </div>
            </div>
            <div class="scale-box-table">
              <table [formGroup]="nursingAdmissionForm" class="table table-bordered past-table">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Measured Value</th>
                    <th>Normal Range</th>
                    <th>Date/Time</th>
                    <th colspan="3">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="TOSCALE">
                  <tr *ngFor="let item of nursingAdmissionForm.get('TOSCALE')['controls']; let i = index"
                    [formGroupName]="i">
                    <td><input formControlName="ScaleType" class="form-control" /></td>
                    <td><input formControlName="LastScore" class="form-control" /></td>
                    <td><input formControlName="ScoreDesc" class="form-control" /></td>
                    <td><input formControlName="Datetimee" class="form-control" /></td>
                    <td><a (click)="openScaleModel(item)">Create</a></td>
                    <td><a (click)="viewGlosgowModel(item)">View</a></td>
                    <td>
                      <img src="assets/img/Delete.svg" class="cursor-pointer ml-1" (click)="removeScale(i)" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div>
    <app-medication-substances-section
      [nursingAdmissionForm]="nursingAdmissionForm"></app-medication-substances-section>
  </div> -->
  <!-- vital section -->
  <div class="end-container">
    <div class="scale-box-main">
      <label class="box-label">Vitals</label>
      <div class="container-fluid">
        <div class="tab-navigation-part p-0">
          <div class="container-fluid">
            <div class="allergy-box d-flex justify-content-between py-3">
              <div class="allergy-checkbox-section d-flex align-items-center">
                <input type="checkbox" id="noVitalSignsApplicable" (change)="handleCheckboxVitals($event)"
                  style="width: 24px; height: 20px" [attr.disabled]="toVitalsArr?.length > 0 ? true : null" />
                <label class="admitting-physician" for="noVitalSignsApplicable">&nbsp;&nbsp;No Vitals
                  Signs Applicable</label>
              </div>
              <div class="secound-bar-vital-sign" (click)="openModalVital()">
                <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
              </div>
            </div>
            <div style="max-height: 296px; overflow: auto">
              <table [formGroup]="nursingAdmissionForm" class="table table-bordered past-table">
                <thead style="background-color: #e4edf5; color: black">
                  <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Measured Value</th>
                    <th scope="col">Normal Range</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody style="background-color: #fbfcff">
                  <tr class="past-med-input" *ngFor="let item of toVitalsArr; let i = index">
                    <td style="
                                padding: 10px !important;
                                width: 15%;
                                pointer-events: none;
                              ">
                      {{ item.Vdescription }}
                    </td>
                    <td style="
                                padding: 10px !important;
                                width: 15%;
                                pointer-events: none;
                              ">
                      {{ item.MeasuredValue }} {{ item.Vunit }}
                    </td>
                    <td style="
                                padding: 10px !important;
                                width: 15%;
                                pointer-events: none;
                              ">
                      {{ item.NormalRange }}
                    </td>
                    <td style="
                                padding: 10px !important;
                                width: 15%;
                                pointer-events: none;
                              ">
                      {{ item.DateTime }}
                    </td>
                    <td style="
                                padding: 10px !important;
                                width: 3%;
                                text-align: center;
                              " (click)="deleteVitalsFromTable(i)">
                      <img src="assets/img/Delete.svg" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- surgical history tab, medical history tab, family history tab under Medical History section from-->

  <div class="end-container" [formGroup]="nursingAdmissionForm">
    <div class="scale-box-main">
      <div class="container-fluid p-0 mt-2">
        <div class="tab-navigation-part p-0 pt-4">
          <div class="tab-navigate">
            <div class="tab-nav w-100">
              <ul class="m-0 p-0 d-flex flex-wrap mb-2">
                <li *ngFor="let item of surgeryMedicalTabList" class="d-flex m-0 align-items-center"
                  (click)="switchTabsForMedical(item.value)" [ngClass]="item.value == selectedTabName ? 'active' : ''">
                  <img src="./assets/img/grid-icon.svg" />
                  <p class="d-inline-block m-0">{{ item.label }}</p>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-border mt-5">
            <!-- <div>
              <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                  <a class="nav-link c-pointer" [ngClass]="(med) ? 'selected' : ''" aria-current="page"
                    data-toggle="tab" (click)="switchTabsForMedical('med')" style="width: 190px;">Past Medical
                    Condition</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link c-pointer" [ngClass]="(surg) ? 'selected' : ''" data-toggle="tab"
                    (click)="switchTabsForMedical('surg')" style="width: 190px;">Past Surgical History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link c-pointer" [ngClass]="(family) ? 'selected' : ''" data-toggle="tab"
                    (click)="switchTabsForMedical('family')" style="width: 190px;">Family History</a>
                </li>
              </ul>
            </div> -->
            <div class="tab-content" style="border: 1px solid black;
      padding: 8px;
      border-radius: 7px;">
              <div *ngIf="med">
                <div class="d-flex mb-2" style="justify-content: space-between;
      padding-right: 22px">
                  <div style="display: flex;
       align-items: center;
       gap: 10px;">
                    <input type="checkbox" style="width: 36px;
         height: 22px;" (change)="handleCheckboxPastMed()" [attr.disabled]="toPastMedical.length >0 ? true:null" />
                    <label class="admitting-physician">No medical history known</label>
                  </div>
                  <div>
                    <div class="" (click)="openModalForPastMedical()">
                      <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
                    </div>
                  </div>
                </div>
                <form style="max-height: 296px;
      overflow: auto;">
                  <table class="table table-bordered past-table">
                    <thead style="background-color: #e4edf5; color: black; text-align: center;">
                      <tr>
                        <th scope="col">Problem </th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Treatment</th>
                        <th scope="col">Comments</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody style="background-color: #fbfcff;">
                      <tr class="past-med-input" *ngFor="let item of toPastMedical;let i=index">
                        <td style="padding-left: 2px;
          padding-right: 2px;
          width: 15%;pointer-events: none;text-align: left;
      padding-left: 24px !important;
      line-height: 39px;">{{item.DiseaseName}}</td>
                        <td style="padding-left: 0;
          padding-right: 0;
          width: 15%;pointer-events: none;text-align: left;
      padding-left: 24px !important;    line-height: 39px;">{{item.Ddate | date: 'dd.MM.yyyy'}}</td>
                        <td style="padding-left: 0;
          padding-right: 0;
          width: 15%;pointer-events: none;text-align: left;
      padding-left: 24px !important;    line-height: 39px;">{{item.Ddate | date: 'dd.MM.yyyy'}}</td>
                        <td style="padding-left: 0;
          padding-right: 0;
          width: 15%;pointer-events: none;text-align: left;
      padding-left: 24px !important;    line-height: 39px;">{{item.TreatmentDetail}}</td>
                        <td style="padding-left: 0;
          padding-right: 0;
          width: 15%;pointer-events: none;text-align: left;
      padding-left: 24px !important;    line-height: 39px;">{{item.Remarks}}</td>
                        <td style="padding-left: 0;
          padding-right: 0;
          width: 1%;text-align: center;position: relative;
      top: 6px;" (click)="deleteFromPastMedicalTable(item,i)"><img src="assets/img/Delete.svg" /></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <div *ngIf="surg">
                <div class="d-flex mb-2" style="justify-content: space-between;
          padding-right: 22px">
                  <div style="display: flex;
          align-items: center;
          gap: 10px;">

                    <input type="checkbox" style="width: 36px;
            height: 22px;" formControlName="NoSurgeryHistory" (change)="handleCheckboxPastSurg()"
                      [attr.disabled]="toPastSurgical.length >0 ? true:null" />
                    <label class="admitting-physician">No surgery history known</label>
                  </div>
                  <div>

                    <div class="" (click)="openModalForPastSurgical()">
                      <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
                    </div>
                  </div>

                </div>
                <form style="max-height: 296px;
          overflow: auto;">
                  <table class="table table-bordered past-table">
                    <thead style="background-color: #e4edf5; color: black; text-align: center;">
                      <tr>

                        <th scope="col">Surgery Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Comments</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody style="background-color: #fbfcff;">
                      <tr class="past-med-input" *ngFor="let item of toPastSurgical;let i=index">
                        <td style="width: 14%;    padding: 10px !important;">{{item.SurgeryName}}</td>
                        <td style="width: 32%;    padding: 10px !important;">{{item.Sdate | date: 'dd.MM.yyyy'}}</td>
                        <td style="    width:23%;padding: 10px !important;">{{item.SurgeryRemarks}}</td>
                        <td style="text-align: center;width:5%" (click)="deleteFromPastSurgTable(item,i)"><img
                            src="assets/img/Delete.svg" style="position: relative;
                  top: 6px;" /></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <div *ngIf="family">
                <div class="d-flex mb-2" style="justify-content: space-between;
          padding-right: 22px">
                  <div style="display: flex;
          align-items: center;
          gap: 10px;">
                    <input type="checkbox" style="width: 36px;
            height: 22px;" [attr.disabled]="toFamilyHistory.length >0 ? true:null" />
                    <label class="admitting-physician">No family history known</label>
                  </div>
                  <div>
                    <div class="" (click)="openModalForFamilyHistory()">
                      <img src="assets/img/file1.svg" title="Create & Import" class="img-size" />
                    </div>
                  </div>
                </div>
                <form style="max-height: 296px;
          overflow: auto;">
                  <table class="table table-bordered past-table">
                    <thead style="background-color: #e4edf5; color: black; text-align: center;">
                      <tr>
                        <th scope="col">Problem</th>
                        <th scope="col">Father </th>
                        <th scope="col">Mother</th>
                        <th scope="col">Brother</th>
                        <th scope="col">Sister</th>
                        <th scope="col">Child</th>
                        <th scope="col">Paternal</th>
                        <th scope="col">Maternal</th>
                        <th scope="col">Comments</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody style="background-color: #fbfcff;">
                      <tr class="past-med-input" *ngFor="let item of toFamilyHistory;let i=index">
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;"> {{item.Problem}}</td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 10%" type="checkbox" [checked]="item.Father" id="father{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 10%" type="checkbox" id="mother{{i}}" [checked]="item.Mother">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 10%" type="checkbox" [checked]="item.Brother" id="brother{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 10%" type="checkbox" [checked]="item.Sister" id="sister{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 10%" type="checkbox" [checked]="item.Son" id="son{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 15%" type="checkbox" [checked]="item.Paternal" id="Paternal{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;text-align: center;">
                          <input style="width: 20%" type="checkbox" [checked]="item.Maternal" id="Maternal{{i}}">
                        </td>
                        <td style="padding: 10px !important;
              width: 15%;pointer-events: none;">{{item.Remarks}}</td>
                        <td style="padding: 10px !important;
              width: 15%;cursor: pointer;"><img (click)="deleteFamilyHistoryFromTable(i)"
                            src="assets/img/Delete.svg" /></td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- surgical history tab, medical history tab, family history tab under Medical History section till -->


  <div>
    <app-vaccination-exposure-section [nursingAdmissionForm]="nursingAdmissionForm" [isReadOnly]="isReadOnly"
      (addTableRow)="addTableRow($event)"></app-vaccination-exposure-section>
  </div>
  <div>
    <app-psychological-economic [nursingAdmissionForm]="nursingAdmissionForm"
      [isReadOnly]="isReadOnly"></app-psychological-economic>
  </div>
  <div>
    <app-physical-assessment-section [nursingAdmissionForm]="nursingAdmissionForm"
      [isReadOnly]="isReadOnly"></app-physical-assessment-section>
  </div>
  <div>
    <app-examination-tab [nursingAdmissionForm]="nursingAdmissionForm" [isReadOnly]="isReadOnly"
      (PhysicianExaminationDrugArrayList)="physicianExamaminationArrayListData($event)"
      [toPHYEXAMmportedData]="toPHYEXAMmportedData"></app-examination-tab>
  </div>
  <div>
    <app-assessment-tab [nursingAdmissionForm]="nursingAdmissionForm" [isReadOnly]="isReadOnly"></app-assessment-tab>
  </div>
  <!-- <div>
    <app-orietation-patient-tab [nursingAdmissionForm]="nursingAdmissionForm"></app-orietation-patient-tab>
  </div> -->



  <!-- Diagnosis section from  -->

  <!-- Diagnosis section till  -->

  <!-- impression and plan of care section from (textarea)-->
  <div class="end-container" [formGroup]="nursingAdmissionForm">
    <div class="scale-box-main">
      <label class="box-label">Impression and Plan of Care</label>
      <textarea class="form-control" formControlName="Impression"></textarea>
    </div>
  </div>
  <!-- impression and plan of care section till -->

  <section class="discharge-planning-section" aria-labelledby="pediatric-discharge-planning-title"
    [formGroup]="nursingAdmissionForm">
    <h3 id="pediatric-discharge-planning-title" class="discharge-planning-title">Discharge Planning</h3>
    <div class="discharge-planning-fields">
      <div class="discharge-planning-row">
        <label for="pediatric-expected-length-stay">Expected Length of Stay</label>
        <input id="pediatric-expected-length-stay" type="text" class="form-control discharge-planning-short-field"
          formControlName="ExpectedLengthStay" [readonly]="isReadOnly">
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-medications">Medications</label>
        <textarea id="pediatric-medications" rows="1" class="form-control"
          formControlName="Medications" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-diet">Diet</label>
        <textarea id="pediatric-diet" rows="1" class="form-control"
          formControlName="Diet" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-level-mobility">Level of Mobility</label>
        <textarea id="pediatric-level-mobility" rows="1" class="form-control"
          formControlName="LevelMobility" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-pain-management">Pain Management (if applicable)</label>
        <textarea id="pediatric-pain-management" rows="1" class="form-control"
          formControlName="PainManagement" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-medical-equipment">Medical Equipment (if applicable)</label>
        <textarea id="pediatric-medical-equipment" rows="1" class="form-control"
          formControlName="MedicalEquipment" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-home-community">Home-Community Support Services</label>
        <textarea id="pediatric-home-community" rows="1" class="form-control"
          formControlName="HomeCommunity" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-smoking-cessation">Smoking Cessation Services</label>
        <textarea id="pediatric-smoking-cessation" rows="1" class="form-control"
          formControlName="SmokingCessation" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-clinical-appointments">Clinical Appointments</label>
        <textarea id="pediatric-clinical-appointments" rows="1" class="form-control"
          formControlName="ClinicalAppointments" [readonly]="isReadOnly"></textarea>
      </div>
      <div class="discharge-planning-row">
        <label for="pediatric-others">Others</label>
        <textarea id="pediatric-others" rows="1" class="form-control"
          formControlName="Others1" [readonly]="isReadOnly"></textarea>
      </div>
    </div>
  </section>

</div>

<app-physician-allergy #createAllergyId (importEvent)="importAllergyData($event)"></app-physician-allergy>
<app-er-vitals #erVitalsModal (importEvent)="importVitalsData($event)"></app-er-vitals>
<app-glos-gow-comma-scale-popup #scalesGlosgow
  (scaleStoreValue)="scaleStoreInTable($event, 'glosgow')"></app-glos-gow-comma-scale-popup>
<app-morse-fall-scale #morseFallScale (scaleStoreValue)="scaleStoreInTable($event, 'morseFall')"></app-morse-fall-scale>
<app-braden-scale #bradenScaleTemp (scaleStoreValue)="scaleStoreInTable($event, 'braden')"></app-braden-scale>

<ng-template #scalesOrderCase>
  <div>
    <div class="allergy-header">
      <div style="
        font-size: 23px;
        font-weight: bold">
        <span>Import Scales</span>
      </div>
    </div>
  </div>
  <div class="modal-body" style="padding: 0 11px 0px;">
    <div style="display: flex;
    justify-content: end;
    padding-right: 1rem;">
      <button (click)="scalesImport()" style="border: 1px solid;
      background: #3b82f6;
      color: #ffffff;
      padding: 5px 20px;
      border-radius: 4px;
      font-weight: 700;margin-top: 4px;">
        Import
      </button>
    </div>
    <form style="max-height: 350px;
    overflow: auto;">
      <table class="table table-bordered past-table mt-3">
        <thead style="background-color: #e4edf5;
    color: black;text-align: center;position: sticky;
    top: 0;">
          <tr>
            <th scope="col" style="    text-align: -webkit-center;">
              <input type="checkbox" [checked]="selectedScales.length === toScaleArr.length" class="form-control"
                (change)="collectAllScalesData($event)" style="width:20px" />
            </th>
            <th>Scale Type</th>
            <th style="width: 270px;">Last Score</th>
            <th>Score Description</th>
            <th>Date/Time</th>
            <th>Create</th>
            <th>Display</th>

          </tr>
        </thead>
        <tbody style="background-color: hsl(225, 100%, 99%);">
          <tr *ngFor="let item of toScaleArr;let i=index" style="text-align:center">
            <td style="text-align: -webkit-center;"> <span class="input-text-field d-inline-block align-top w-100">
                <ng-container>
                  <input type="checkbox" class="form-control" [checked]="item.isSelected"
                    (change)="collectScalesIData($event,item, i)" style="width:20px" />
                </ng-container>
              </span></td>
            <td>{{item!.Scaletype}}</td>
            <td style="width: 270px;">{{item?.Score}}</td>
            <td style="text-align: center;pointer-events: none;">{{item?.ScoreDesc}}</td>
            <td style="text-align: center;pointer-events: none;">{{item?.DateTime}}</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</ng-template>

<app-physician-diagnosis #diagnosisNotesKardexId (importEvent)="importDiagnosisData($event)"></app-physician-diagnosis>
<app-physician-past-medical #pastMedicalKardexId (importEvent)="importPastMedical($event)"></app-physician-past-medical>
<app-physician-past-surgical #pastSurgicalKardexId
  (importEvent)="importPastSurgical($event)"></app-physician-past-surgical>
<app-physician-family-history #familyHistoryKardexId
  (importEvent)="importMedicalHistory($event)"></app-physician-family-history>
