<form [formGroup]="cprForm">
    <div class="tab-content pl-2 mb-3" style="border-radius: 7px">
        <div class="row mt-2">
            <div class="col-md-4 row m-0">
                <div class="col-md-4">
                    <label class="m-0">Location</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Location" />
                </div>
            </div>
            <div class="col-md-8 row m-0">
                <div class="col-md-2">
                    <label class="m-0">Type of arrest</label>
                </div>
                <div class="col-md-2">
                    <ng-select formControlName="TypeArrest">
                        <ng-option *ngFor="let value of typeOfArrest" [value]="value.value">{{ value.label
                            }}</ng-option>
                    </ng-select>
                </div>
                <div class="col-md-5">
                    <input class="form-control" formControlName="TypeArrestTxt" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-4 row m-0">
                <div class="col-md-4">
                    <label class="m-0">Date of arrest</label>
                </div>
                <div class="col-md-8">
                    <div class="date-function">
                        <img src="assets/img/Calender.svg" alt="">
                        <input formControlName="DateArrest" class="form-control" style="color: #000; border-radius: 8px" type="text"
                          placeholder="" [minDate]="" [maxDate]="" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ showWeekNumbers: false,
                          dateInputFormat: 'DD.MM.YYYY' }" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 row m-0">
                <div class="col-md-2">
                    <label class="m-0">Time of arrest</label>
                </div>
                <div class="col-md-2">
                    <input type="time" step="2" formControlName="TimeArrest" class="form-control" min="08:00:00"
                        max="17:00:00" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8 row m-0">
                <div class="col-md-2">
                    <label class="m-0">Code Activated By</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="CodeActivate" />
                </div>
            </div>
            <div class="col-md-4 row m-0">
                <div class="col-md-4">
                    <label class="m-0">Time Code Activated</label>
                </div>
                <div class="col-md-4">
                    <input type="time" step="2" formControlName="TimeCode" class="form-control" min="08:00:00"
                        max="17:00:00" />

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-8 row m-0">
                <div class="col-md-2">
                    <label class="m-0">Request approved by</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="RequestApproved" />
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 row m-0">
                <div class="col-md-1 mr-5">
                    <label class="m-0">History</label>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'0'" formControlName="HDm" />
                        <label class="m-0">DM</label>
                    </div>
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'1'" formControlName="HHtn" />
                        <label class="m-0">HTN</label>
                    </div>
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'2'" formControlName="HCva" />
                        <label class="m-0">CVA</label>
                    </div>
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'3'" formControlName="HCa" />
                        <label class="m-0">CA</label>
                    </div>
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'4'" formControlName="HHf" />
                        <label class="m-0">HF</label>
                    </div>
                    <div class="d-flex align-items-center mr-3">
                        <input class="input-radio" type="radio" [value]="'5'" formControlName="HRf" />
                        <label class="m-0">RF</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Arrest</label>
                </div>
                <div class="col-md-8">
                    <ng-select formControlName="Arrest">
                        <ng-option *ngFor="let value of arrestList" [value]="value.value">{{ value.label }}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Intial Rhythm</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="InitialRhythm" />
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>IV Line Location</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="IvLine" />
                </div>
            </div>
            <div class="col-md-6 row m-0">

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Previously Inserted at</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="PreviouslyInserted" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Newly Inserted at</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="NewlyInserted" />
                </div>
            </div>
        </div>

        <div class="row mt-3 mb-3 ml-2">
            <strong>Code Blue Team</strong>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Respiratory Therapist</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Respiratory" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="RespiratoryTm" class="form-control" min="08:00:00"
                        max="17:00:00" />

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Anesthesia</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Anesthesia" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="AnesthesiaTm" class="form-control" min="08:00:00"
                        max="17:00:00" />

                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Compression By</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Compression" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="CompressionTm" class="form-control" min="08:00:00"
                        max="17:00:00" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">IV/IO/Med By</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" formControlName="IvIoMed" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="IvIoMedTm" class="form-control" min="08:00:00"
                        max="17:00:00" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Defibrillator</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Defibrillator" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="DefibrillatorTm" class="form-control"
                        min="08:00:00" max="17:00:00" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Nursing Suprevisor</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="Nursing" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="NursingTm" class="form-control" min="08:00:00"
                        max="17:00:00" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label class="m-0">Team Leader</label>
                </div>
                <div class="col-md-8">
                    <input class="form-control" formControlName="TeamLeader" />
                </div>
            </div>
            <div class="col-md-6 row m-0">
                <div class="col-md-3">
                    <label>Time of arrival</label>
                </div>
                <div class="col-md-3">
                    <input type="time" step="2" formControlName="TeamLeaderTm" class="form-control" min="08:00:00"
                        max="17:00:00" />

                </div>
            </div>
        </div>
    </div>
</form>