.tab-navigation-part {
  height: calc(100vh - 200px) !important;
  background: none !important;
  border: 1px solid #cacaca !important;
}

.clinical-order {
  height: calc(100vh - 270px);
  overflow: auto;
}
.e-order-sidewrap .active-order-panel.e-order-wrapper-main {
  height: calc(100vh - 320px) !important;
}

.tab-navigation-part .tab-navigate .tab-nav {
  padding: 0 !important;
}

.service-form {
  padding: 10px;

  .card {
      box-shadow: unset;

      .card-header {
          padding: 15px 0px 10px 15px;
          border-top-right-radius: 10px;
          background: #e7ecf4;
          border-top-left-radius: 10px;

          h3 {
              font-weight: 900;
              color: #000;
          }
      }

      .card-body {
          display: flex;
          flex-wrap: wrap;
          gap: 1px;
          padding: unset;
          // overflow-x: hidden;
          // overflow-y: scroll;
          // height: calc(100vh - 350px) !important;

          .ml-auto {
              margin-left: auto;
          }

          table {
              thead {
                  tr {
                      position: sticky;
                      top: 0;
                      z-index: 1;
                      background-color: #FFFFFF;

                      th {
                          font-weight: bold;
                          font-size: larger;

                          &:nth-child(1) {
                              width: 400px;
                          }

                          &:nth-child(2) {
                              width: 145px;
                          }

                          &:nth-child(3) {
                              width: 110px;
                          }
                      }
                  }
              }

              tbody {
                  tr {
                      td {
                          &:nth-child(7) {
                              .dropdown {
                                  padding: 10px;
                              }
                          }
                      }
                  }
              }

              tfoot {
                  tr {
                      td {
                          font-weight: bolder;
                      }
                  }
              }
          }
      }
  }

  .card-content {
      height: 100%;
      overflow: auto;
  }

  .form-control {
      font-size: 14px;
  }
}

.e-order-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h4 {
      height: 23px !important;
  }
}

.update-risk-save-btn {
  border: 1px solid !important;
  background: #0056b0 !important;
  color: #fff !important;
  padding: 8px 20px !important;
  border-radius: 16px px !important;
  font-weight: 700 !important;
  border-radius: 24px !important;
}

.service-history {
    height: calc(100vh - 550px) !important;
    overflow: auto !important;
}