<ng-template #templatedetailPopup>
  <div class="medication-popup" *ngIf="configurationData &&
    configurationData.length">
    <div class="medication-header d-flex w-100 align-items-center pl-2">
      <div class="medicate-select line-height-0 p-1 bg-white">
        <input type="checkbox" width="25" height="25"
          (change)="onCheckallMedicationData($event)"
          class="isbigcheckbox" [(ngModel)]="isallSelected">
      </div>
      <div class="medicate-data d-flex w-100 pl-3">
        <div class="medication-title w-40 px-3">
          <h4 class="m-0">Drugs</h4>
        </div>
        <div class="medication-title w-20 px-3">
          <h4 class="m-0 text-center">Formula</h4>
        </div>
        <div class="medication-title w-15 px-3">
          <h4 class="m-0 text-center">Dosage/Unit</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Route of administration</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Frequency</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Duration</h4>
        </div>
        <div class="medication-title w-25 px-3">
          <h4 class="m-0 text-center">Stock</h4>
        </div>
      </div>
      <div class="medicate-icon" (click)="setSelectedMedication()">
        <img src="assets/img/texteditor.png" width="40" class="p-1
          bg-white">
      </div>
    </div>
    <div class="medication-body">
      <div class="medication-inner-body d-flex w-100 align-items-center pl-2
        mt-2" *ngFor="let element of configurationData">
        <div class="medicate-select line-height-0 p-1">
          <input type="checkbox" width="25" height="25"
            [(ngModel)]="element.isSelected" class="isbigcheckbox">
        </div>
        <div class="medication-data d-flex w-100 pl-3">
          <div class="medication-field w-40 pr-2">
            <input type="text" class="form-control m-0"
              value="{{element.RESULT_DRUG_NAME}}" readonly>
          </div>
          <div class="medication-field w-20 d-flex pr-2">
            <input type="text" class="form-control m-0"
              value="{{element.FORMATDESCR}}" readonly>
          </div>
          <div class="medication-field w-15 pr-2 flex-15">
            <input type="text" class="form-control m-0"
              value="{{element.QUAN}} {{element.QUANTUNITTXT}}"
              readonly>
          </div>
          <div class="medication-field w-25 pr-2 flex-25">
            <input type="text" class="form-control m-0"
              value="{{element.ROUTEDESCR}}" readonly>
          </div>
          <div class="medication-field w-25 pr-2 flex-25 d-flex align-items-center">
            <input type="text" class="form-control m-0 flex-grow-1"
              value="{{element.N1ZTXT}}" readonly>
            <img src="assets/img/Calender.svg" height="20" class="c-pointer ml-2 cycle-def-icon"
              tooltip="View Cycle Definition" container="body" placement="top" (click)="onOpenCycleDefinition(element)" alt="Cycle Definition">
          </div>
          <div class="medication-field w-25 pr-2 flex-25">
            <input type="text" class="form-control m-0"
              value="{{element.PDUR}} {{element.DURUNITTXT}}" readonly>
          </div>
          <div class="medication-field w-25 pr-2 flex-25">
            <input type="text" class="form-control m-0"
              value="{{element.STOCKTEXT}}" readonly>
          </div>
        </div>
        <div class="medicate-icon" style="width: 40px;">
        </div>
      </div>
    </div>
  </div>
</ng-template>

<cycle-definition-popup #cyclePopup></cycle-definition-popup>
