.facepain {


  .facepain-box {
    padding: 15px;
    border: 1px solid #cacaca;
    border-radius: 6px;

  }
}



.main-scales {
  padding: 16px;

  label {
    font-size: 14px;
    font-weight: 600;
  }

  .scales-details {
    border: 1px solid #cacaca;
    border-radius: 13px;
    padding: 10px 0px;
  }

  .scales-info {
    h4 {
      padding-bottom: 10px;
      font-weight: 600;
    }
  }
}



.allergy-header-title {
  font-size: 21px;
  font-weight: bold;
}


.splitter {
  padding: 10px;
}
