<div class="card mt-2">
    <div class="card-body p-0">
      <accordion [closeOthers]="true">
        <accordion-group #radiology [isOpen]="isCollpseOpen">
          <div class="collaspe-header" accordion-heading>
            Radiology
            <i class="fa" [ngClass]="{'fa-chevron-down': radiology?.isOpen, 'fa-chevron-up': !radiology?.isOpen}"></i>
          </div>
          <div class="laboratory-list-table">
          <table class="table medication-radiology-table">
            <thead class="thead-back-color">
              <th *ngFor="let item of columnList" [ngStyle]="{'text-align': item == 'Delete' ? 'center' : '' }">{{ item }}</th>
            </thead>
              <tbody>
                <tr *ngFor="let item of radiologyList | filter: searchString; let i = index">
                  <td class="white-space">{{ item.Leitxt }}</td>
                  <!-- <td>{{ item.category ? item.category : '--' }}</td> -->
                  <td>{{ item.Trtoe }}</td>
                  <td>{{ emergencyService.getDate(item.Datetime) | date:'dd/MM/yyyy':'UTC' }}</td>
                  <td>{{ emergencyService.getDate(item.Datetime) | date:'HH:mm':'UTC' }}</td>
                  <td>{{ emergencyService.getDate(item.DesiredDate) | date:'dd/MM/yyyy' }}</td>
                  <td>{{ emergencyService.getTime(item.DesiredTime) }}</td>
                  <td>
                    <span class="table-action">{{item.Status}}</span>
                  </td>
                  <td>
                    <span class="white-space">{{item?.SupplText ? item?.SupplText : '--'}}</span>
                  </td>
                  <td>
                    <span class="white-space">{{item?.CreatedByName ? item?.CreatedByName : '--'}}</span>
                  </td>
                  <td>
                    <img *ngIf="item.Pdf" (click)="getPdf(item)" class="width-25 mr-1" src="assets/img/emergency-pdf.png" alt="" />
                    <img *ngIf="item.Img" (click)="openImageActionSet(item)" class="width-25" src="assets/img/radiolody-eme.png" alt="" />
                  </td>
                  <td style="text-align: center;">
                    <span class="trash-icon cursor-pointer" (click)="deleteOrderItem(item)">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" height="20">
                        <path fill="#dc3545" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/>
                      </svg>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </accordion-group>
      </accordion>
    </div>
  </div>

  
  <ng-template #labpdfmodal>
    <div class="modal-body">
      <div class="row">
        <iframe [src]="pdfUrl" width="1100" height="500"> </iframe>
      </div>
      <div class="mt-2" style="text-align: center">
        <button
          class="btn btn-primary"
          (click)="closePdfModal()"
          style="background-color: #0082c8; border: #0082c8"
        >
          Close
        </button>
      </div>
    </div>
  </ng-template>