<form [formGroup]="nursingCarePlanForm" class="tab-contant">
  <div class="nur-problem-details row">
    <div class="col-md-6">
      <div class="nutrotion-problem">
        <h4><strong>Problem</strong></h4>
        <div class="row">
          <div class="col-md-8">
            <input type="checkbox" formControlName="CspAnxiety" />
            <label>Anxiety;</label>
          </div>
          <div class="col-md-4">
            <div>
              <input
                type="checkbox"
                formControlName="CspActual"
                (change)="onCheckboxChange('CspActual', ['CspPotential'])"
              />
              <label>Actual</label>
            </div>
            <div>
              <input
                type="checkbox"
                formControlName="CspPotential"
                (change)="onCheckboxChange('CspPotential', ['CspActual'])"
              />
              <label>Potential</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="nutrotion-problem">
        <h4><strong>Goals</strong></h4>
        <div class="">
          <div class="row">
            <div class="col-md-6">
              <input type="checkbox" formControlName="CsgExperience" />
              <label>Experience Reduced Anxitey</label>
            </div>
            <div class="col-md-6">
              <input type="checkbox" formControlName="CsgIdentifies" />
              <label>Identifies Current Stressors</label>
            </div>
          </div>
          <div>
            <input type="checkbox" formControlName="CsgDevelop" />
            <label
              >Verbalize Knowledge & Demonstrate Individualized Relaxation
              Techniques
            </label>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="checkbox" formControlName="CsgVerbalize" />
              <label>Develop Effective Coping Behaviors </label>
            </div>
            <div class="col-md-6 d-flex">
              <input type="checkbox" formControlName="CsgOthers" />
              <label class="mr-3">Others: </label>
              <input
                type="text"
                formControlName="CsgOthersTxt"
                class="form-control"
                [readOnly]="nursingCarePlanForm.get('CsgOthers').value == false"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nur-interventions-details mt-3">
    <div class="nutrotion-problem">
      <h4><strong>Interventions</strong></h4>
      <div class="row">
        <div class="col-md-6">
          <div>
            <input type="checkbox" formControlName="CsiReduce" />
            <label>Reduce Environmental Distractions</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiComplementary" />
            <label>Complementary Therapy (Music, Play, Massage...etc.)</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiRelaxation" />
            <label>Relaxation Techniques Promoted</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiCounseling" />
            <label>Counseling Provided</label>
          </div>
          <div class="d-flex">
            <input type="checkbox" formControlName="CsiOthers" />
            <label class="mr-3">Others: </label>
            <input
              type="text"
              formControlName="CsiOthersTxt"
              class="form-control"
              [readOnly]="nursingCarePlanForm.get('CsiOthers').value == false"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <input type="checkbox" formControlName="CsiFamily" />
            <label>Family Involvment</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiPromote" />
            <label>Promote Patient's Self-Esteem</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiListen" />
            <label>Listen Attentively</label>
          </div>
          <div>
            <input type="checkbox" formControlName="CsiInvolve" />
            <label>Involve Pateint and Family in Care-related Decisions </label>
          </div>
        </div>
      </div>
    </div>
    <div class="nur-problem-details row mt-3">
      <!-- Evaluation section -->
      <div class="col-md-6">
        <div class="nutrotion-problem">
          <h4><strong>Evaluation</strong></h4>
          <div class="row">
            <div>
              <input
                type="checkbox"
                formControlName="CseMet"
                (change)="
                  onCheckboxChange('CseMet', ['CsePartiallyMet', 'CseNotMet'])
                "
              />
              <label>Met</label>
            </div>
            <div>
              <input
                type="checkbox"
                formControlName="CsePartiallyMet"
                (change)="
                  onCheckboxChange('CsePartiallyMet', ['CseMet', 'CseNotMet'])
                "
              />
              <label>Partially Met</label>
            </div>
            <div>
              <input
                type="checkbox"
                formControlName="CseNotMet"
                (change)="
                  onCheckboxChange('CseNotMet', ['CseMet', 'CsePartiallyMet'])
                "
              />
              <label>Not Met</label>
            </div>
          </div>
        </div>
      </div>

      <!-- Revision section -->
      <div class="col-md-6">
        <div class="nutrotion-problem">
          <h4><strong>Revision</strong></h4>
          <div class="row">
            <div>
              <input
                type="checkbox"
                formControlName="CsrContinue"
                (change)="
                  onCheckboxChange('CsrContinue', ['CsrEdited', 'CsrAchieved'])
                "
              />
              <label>Reviewed and Continue</label>
            </div>
            <div>
              <input
                type="checkbox"
                formControlName="CsrEdited"
                (change)="
                  onCheckboxChange('CsrEdited', ['CsrContinue', 'CsrAchieved'])
                "
              />
              <label>Reviewed and Edited</label>
            </div>
            <div>
              <input
                type="checkbox"
                formControlName="CsrAchieved"
                (change)="
                  onCheckboxChange('CsrAchieved', ['CsrContinue', 'CsrEdited'])
                "
              />
              <label>Achieved</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
