
<div class="dg-in-patient-panel">
  <div class="inner-box">
    <div class="inner-form d-flex justify-content-between align-items-center
      mb-2">
      <span class="in-patient-title" *ngIf="inPatientFormInput === 'OPERT'">
        <img src="assets/img/grid-icon.svg">
        Operation Note
      </span>
      <span class="in-patient-title" *ngIf="inPatientFormInput === 'ORRPT'">
        <img src="assets/img/grid-icon.svg">
        Operation Report
      </span>
      <span class="in-patient-title" *ngIf="inPatientFormInput === 'PHDIS'">
        <img src="assets/img/grid-icon.svg">
        Physician Discharge Summary
      </span>
      <span class="in-patient-title" *ngIf="inPatientFormInput === 'PhysicianAssessment'">
        <img src="assets/img/grid-icon.svg">
        Physician Assessment
      </span>
      <span class="in-patient-title" *ngIf="inPatientFormInput === 'CorrespondenceDocument'">
        <img src="assets/img/grid-icon.svg">
        Correspondence Document
      </span>
      <div class="right-button-group" *ngIf="inPatientFormInput !== 'PHDIS' && inPatientFormInput !== 'PhysicianAssessment' && inPatientFormInput !== 'Correspondence Document' && inPatientFormInput != 'visitnote' && inPatientFormInput != 'Medical Report'">
        <button type="button" (click)="saveForm()">Save</button>
        <button type="button" (click)="releaseForm()">Release</button>
        <button type="button" *ngIf="isDelete" (click)="deleteForm()">Delete</button>
        <button type="button"(click)="closeInPatientForm()">Close</button>
      </div>
      <div class="right-button-group" *ngIf="inPatientFormInput == 'PhysicianAssessment'">
        <button type="button" (click)="savePhysicianAssessmentForm('add')">Save</button>
        <button type="button" (click)="savePhysicianAssessmentForm('release')">Release</button>
        <button type="button" *ngIf="isDelete" (click)="savePhysicianAssessmentForm('delete')">Delete</button>
        <button type="button"(click)="savePhysicianAssessmentForm('close')">Close</button>
      </div>
      <div class="right-button-group" *ngIf="inPatientFormInput === 'PHDIS'">
        <button type="button" (click)="savePhdisForm()">Save</button>
        <button type="button" (click)="releasePhdisForm()">Release</button>
        <button type="button" *ngIf="isDelete" (click)="deletePhdisForm()">Delete</button>
        <button type="button"(click)="closeInPatientForm()">Close</button>
      </div>
      <div class="right-button-group" *ngIf="inPatientFormInput === 'Correspondence Document'">
        <button type="button" (click)="saveCorrespondenceDocument()">Save</button>
        <button type="button" (click)="releaseCorresponde()">Release</button>
        <button type="button" *ngIf="selectedPatient?.DokstText == 'In Work'" (click)="deleteCorrespondenceDoc(selectedPatient?.Dockey)">Delete</button>
        <button type="button"(click)="closeInPatientForm()">Close</button>
      </div>
      <div class="right-button-group" *ngIf="inPatientFormInput === 'Medical Report'">
        <button type="button" (click)="selectedPatient?.DokstText == 'In Work' ? updateMedicalReport() : saveMedicalReport()">Save</button>
        <button type="button" (click)="releaseMedicalReport()">Release</button>
        <button type="button" *ngIf="selectedPatient?.DokstText == 'In Work'" (click)="deleteMedicalReporteDoc(selectedPatient?.Dockey)">Delete</button>
        <button type="button"(click)="closeInPatientForm()">Close</button>
      </div>

    </div>
    <ng-container *ngIf="inPatientFormInput === 'OPERT'">
      <form [formGroup]="inPatientDataSet">
        <div class="row align-items-center mb-2">
          <label for="operative-complication" class="col-sm-4 col-form-label
            pt-0 mb-0">Operative Complication</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              id="operative-complication"
              formControlName="OperativeComplication">
          </div>
        </div>
        <div class="row align-items-center mb-2">
          <label for="specimen-removed" class="col-sm-4 col-form-label
            pt-0 mb-0">Specimen Removed</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="specimen-removed"
              formControlName="SpecimenRemoved">
          </div>
        </div>
        <div class="row align-items-center mb-2">
          <label for="blood-loss" class="col-sm-4 col-form-label
            pt-0 mb-0">Blood Loss (ml)</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="blood-loss"
              formControlName="BloodLoss">
          </div>
          <label for="blood-transfused-amount" class="col-sm-3 col-form-label
            p-0 mb-0"
            style="max-width: 22%; flex: 0 0 22%">Blood Transfused Amount(ml)</label>
          <div class="col-sm-2" style="max-width: 19.66667%;flex: 0 0
            19.66667%;">
            <input type="text" class="form-control" id="blood-transfused-amount"
              formControlName="BloodTransfused">
          </div>
        </div>
        <div class="row align-items-center mb-2">
          <label for="procedure" class="col-sm-4 col-form-label pt-0 pb-0 mb-0">Procedure</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="procedure"
              formControlName="ProcedureRemarks">
          </div>
        </div>
        <div class="row align-items-center mb-2">
          <label for="anticapated-complications" class="col-sm-4 col-form-label
            pt-0 mb-0">Anticipated Complications</label>
          <div class="col-sm-8">
            <input type="text" class="form-control"
              id="anticapated-complications"
              formControlName="AnticipatedComplications">
          </div>
        </div>
      </form>
      <div class="border-between w-100 mt-3"></div>
      <div class="surgery-team-table">
        <div class="openPopup-btn d-flex justify-content-between py-1
          align-items-center">
          <span class="in-patient-title">Surgery Team</span>
          <img src="assets/img/texteditor.png" width="28"
            (click)="onOpenSurgeryPopup()">
        </div>
        <diagnosis-table [tableHeader]="inPatientSurgeryHeaderData"
          [tableConfigData]="surgeryTableData"></diagnosis-table>
      </div>
      <div class="border-between w-100 my-3"></div>
      <div class="row" style="display: flex;
        justify-content: space-around;">
        <div class="col-md-6">
          <div class="openPopup-btn d-flex justify-content-between py-1
            align-items-center">
            <span class="in-patient-title">Pre-Operative Diagnosis</span>
            <img src="assets/img/texteditor.png" width="28"
              (click)="onPreOperativePopup()">
          </div>
          <diagnosis-table [tableHeader]="inPatientDiagnosisHeaderData"
            [tableConfigData]="preDiagnosisTableData"></diagnosis-table>
        </div>
        <div class="col-md-6">
          <div class="openPopup-btn d-flex justify-content-between py-1
            align-items-center">
            <span class="in-patient-title">Post-Operative Diagnosis</span>
            <img src="assets/img/texteditor.png" width="28"
              (click)="onPostOperativePopup()">
          </div>
          <diagnosis-table [tableHeader]="inPatientDiagnosisHeaderData"
            [tableConfigData]="postDiagnosisTableData"></diagnosis-table>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'ORRPT'">
      <form class="inpatient-form" [formGroup]="inPatientOrrptDataSet">
        <div class="d-flex align-items-center mb-1">
          <div class="col-md-3 pl-0">
            <label for="surgery-date" class="col-form-label">Surgery Date</label>
          </div>
          <div class="col-md-3 pl-0">
            <input #drp="bsDatepicker" bsDatepicker [bsConfig]="{
              dateInputFormat: 'DD.MM.YYYY',showWeekNumbers: false}"
              class="form-control height-normal"
              formControlName="DateOfSurgery">
          </div>
          <div class="col-md-1 p-0"></div>
          <div class="col-md-2 p-0">
            <label for="surgery-time" class="col-form-label">Surgery Time</label>
          </div>
          <div class="col-md-3 pr-0 ">
            <input type="time" class="form-control height-normal" step="2"
              formControlName="TimeOfSurgery" id="surgery-time">
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="report-date" class="col-form-label">Report Date</label>
          </div>
          <div class="col-md-3 pl-0">
            <input #drp="bsDatepicker" bsDatepicker [bsConfig]="{
              dateInputFormat: 'DD.MM.YYYY',showWeekNumbers: false}"
              class="form-control height-normal"
              formControlName="DateOfReportEntry"/>
          </div>
          <div class="col-md-1 p-0"></div>
          <div class="col-md-2 p-0">
            <label for="report-time" class="col-form-label">Report Time</label>
          </div>
          <div class="col-md-3 pr-0">
            <input type="time" class="form-control height-normal"
              id="report-time" step="2" formControlName="TimeOfReportEntry">
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label class="col-form-label">Anesthesia Type</label>
          </div>
          <div class="col-md-9 px-3 py-2 d-flex align-items-center
            checkbox-view">
            <div class="col-md-3 py-1 px-0 d-flex align-items-center">
              <input type="radio" class="form-radio m-0" id="general"
                formControlName="AnesthesiaType"
                [checked]="this.inPatientOrrptDataSet.get('AnesthesiaType').value
                === '1'" value="1">
              <span class="checkbox d-inline-block mr-3"></span>
              <label for="general" class="col-form-label p-0">General</label>
            </div>
            <div class="col-md-3 py-1 px-0 d-flex align-items-center">
              <input type="radio" class="form-radio m-0"
                id="local" formControlName="AnesthesiaType"
                [checked]="this.inPatientOrrptDataSet.get('AnesthesiaType').value
                === '2'" value="2">
              <span class="checkbox d-inline-block mr-3"></span>
              <label for="local" class="col-form-label p-0">Local</label>
            </div>
            <div class="col-md-3 py-1 px-0 d-flex align-items-center">
              <input type="radio" class="form-radio m-0"
                id="regional" formControlName="AnesthesiaType"
                [checked]="this.inPatientOrrptDataSet.get('AnesthesiaType').value
                === '3'" value="3">
              <span class="checkbox d-inline-block mr-3"></span>
              <label for="regional" class="col-form-label p-0">Regional</label>
            </div>
            <div class="col-md-3 py-1 px-0 d-flex align-items-center">
              <input type="radio" class="form-radio m-0"
                id="sedation" formControlName="AnesthesiaType"
                [checked]="this.inPatientOrrptDataSet.get('AnesthesiaType').value
                === '4'" value="4">
              <span class="checkbox d-inline-block mr-3"></span>
              <label for="sedation" class="col-form-label p-0">Sedation</label>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="pre-operative" class="col-form-label">Pre-Operative
              Diagnosis</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control"
              formControlName="PreOperativeDiagnosis" id="pre-operative"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="post-operative"
              class="col-form-label">Post-Operative
              Diagnosis</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="post-operative"
              formControlName="PostOperativeDiagnosis"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="indication-for-surgery" class="col-form-label">Indication
              for Surgery</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control"
              id="indication-for-surgery"
              formControlName="IndicationForSurgery"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="findings" class="col-form-label">Findings</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="findings"
              formControlName="Findings"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="procedure-name" class="col-form-label">Procedure Name</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="procedure-name"
              formControlName="ProcedureName"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="description" class="col-form-label">Description</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="description"
              formControlName="Description"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="complication" class="col-form-label">Complications</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="complication"
              formControlName="Complications"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="specimen" class="col-form-label">Specimen</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="specimen"
              formControlName="Specimen"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="orrpt-blood-loss" class="col-form-label">Blood Loss(ml)</label>
          </div>
          <div class="col-md-3 p-0">
            <input type="text" class="form-control height-normal"
              formControlName="BloodLoss"
              id="orrpt-blood-loss">
          </div>
          <div class="col-md-3 pr-0">
            <label for="orrpt-blood-amount" class="col-form-label">Blood
              Transfused Amount (ml)</label>
          </div>
          <div class="col-md-3 pr-0 ">
            <input type="text" class="form-control height-normal"
              formControlName="BloodTransfused"
              id="orrpt-blood-amount">
          </div>
        </div>
      </form>
      <div class="border-between w-100 mt-3"></div>
      <div class="surgery-team-table">
        <div class="openPopup-btn d-flex justify-content-between py-1
          align-items-center">
          <span class="in-patient-title">Surgery Team</span>
          <img src="assets/img/texteditor.png" width="28"
            (click)="onOpenSurgeryPopup()">
        </div>
        <diagnosis-table [tableHeader]="inPatientSurgeryHeaderData"
          [tableConfigData]="surgeryTableData"></diagnosis-table>
      </div>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'PHDIS'">
      <form class="inpatient-form" [formGroup]="inPatientPhdisDataSet">
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="reason-for-admission" class="col-form-label">Reason for
              Admission</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control"
              id="reason-for-admission" formControlName="AdmissionReason"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="summary-for-evolution"
              class="col-form-label">Summary for Evolution</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="summary-for-evolution"
              formControlName="EvolutionSummary"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="relevant-results-during-admission" class="col-form-label">Relevant
              results during Admission</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control"
              id="relevant-results-during-admission" formControlName="RelevantResultsAdm"></textarea>
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <div class="col-md-3 pl-0">
            <label for="physical-examination" class="col-form-label">Physical examination at
              Discharge</label>
          </div>
          <div class="col-md-9 p-0">
            <textarea type="text" class="form-control" id="physical-examination"
              formControlName="PhysicalExaminationDischarge"></textarea>
          </div>
        </div>
        <div class="border-between w-100 mt-3"></div>
        <div class="surgery-team-table">
          <div class="openPopup-btn d-flex justify-content-between py-1 my-1
            align-items-center">
            <span class="in-patient-title">Treatment and therapeutic
              intervensions</span>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="col-md-3 pl-0">
              <label for="pre-operative" class="col-form-label">Management and
                treatment plan</label>
            </div>
            <div class="col-md-9 p-0">
              <textarea type="text" class="form-control"
                id="pre-operative" formControlName="MgmtTreatmentPlan"></textarea>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="col-md-3 pl-0">
              <label for="pre-operative" class="col-form-label">Management
                recommendations</label>
            </div>
            <div class="col-md-9 p-0">
              <textarea type="text" class="form-control"
                id="pre-operative" formControlName="MgmtRecommendations"></textarea>
            </div>
          </div>
        </div>
        <div class="border-between w-100 mt-3"></div>
        <div class="discharge-panel">
          <div class="openPopup-btn d-flex justify-content-between py-1
            align-items-center">
            <span class="in-patient-title">Discharge Data</span>
          </div>
          <div class="d-flex flex-wrap align-items-center mb-2">
            <div class="col-md-3 pl-0 mb-2">
              <label for="surgery-date" class="col-form-label">Discharge Date</label>
            </div>
            <div class="col-md-3 pl-0 mb-2">
              <div class="date-function mr-4" style=" border-radius: 8px; position: relative; top: -8px; min-width: 61%;">
                    <img src="assets/img/Calender.svg" alt="" style="position: relative; top: 37px; right: 6px; float: right; transform: translateY(-50%);" />
                    <input #drp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY',showWeekNumbers: false}" class="form-control height-normal" formControlName="Date">
              </div>
            </div>
            <div class="col-md-6 p-0"></div>
            <div class="col-md-3 pl-0">
              <label for="surgery-time" class="col-form-label">Discharge Time</label>
            </div>
            <div class="col-md-3 pl-0">
              <input type="time" class="form-control height-normal" step="2"
                id="surgery-time" formControlName="Time">
            </div>
          </div>
          <div class="d-flex flex-wrap align-items-center mb-2">
            <div class="col-md-3 pl-0 mb-2">
              <label for="surgery-date" class="col-form-label">Discharge
                disposition</label>
            </div>
            <div class="col-md-5 pl-0 mb-2">
              <ng-select [searchable]="true" class="form-control p-0"
                formControlName="DischargeDisposition" (change)="onChangeOtherOption(inPatientPhdisDataSet.value)">
                <ng-option *ngFor="let item of dischargeDispositionList"
                  [value]="item.Value">{{item.Desc}}</ng-option>
              </ng-select>
            </div>
            <div class="col-md-4 p-0 mb-2">
              <input type="text" class="form-control height-normal"
                id="dischargedisposition" formControlName="DischargeDispositionOthers" [readonly]="isDisabledOther">
            </div>
            <div class="col-md-3 pl-0">
              <label for="surgery-time" class="col-form-label">Needs transport</label>
            </div>
            <div class="col-md-3 pl-0">
              <ng-select [searchable]="true" class="form-control p-0" formControlName="NeedsTransport">
                <ng-option *ngFor="let item of NeedTransport"
                  [value]="item.Value">{{item.Desc}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="col-md-3 pl-0">
              <label for="indication-for-surgery" class="col-form-label">Condition
                at discharge</label>
            </div>
            <div class="col-md-9 p-0">
              <textarea type="text" class="form-control"
                id="indication-for-surgery" formControlName="DischargeCondition"></textarea>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="col-md-3 pl-0">
              <label for="indication-for-surgery" class="col-form-label">Discharge
                reason</label>
            </div>
            <div class="col-md-9 p-0">
              <textarea type="text" class="form-control"
                id="indication-for-surgery" formControlName="DischargeReason"></textarea>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="col-md-3 pl-0">
              <label for="indication-for-surgery" class="col-form-label">Discharge
                and Follow-Up Instruction</label>
            </div>
            <div class="col-md-9 p-0">
              <textarea type="text" class="form-control"
                id="indication-for-surgery" formControlName="DischargeFollowipInstruction"></textarea>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'visitnote'">
      <app-visit-form  [patientVisitData]="patientVisitRecord" (updateEvent)="updateForm($event)"></app-visit-form>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'PhysicianAssessment'">
      <app-physician-form [soapFormEvent]="soapFormEvent" (realodEducationList)="realodEducationList($event)"></app-physician-form>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'Correspondence Document'">
      <app-correspondence-document></app-correspondence-document>
    </ng-container>
    <ng-container *ngIf="inPatientFormInput === 'Medical Report'">
      <app-medical-report  [soapFormEvent]="soapFormEvent" (realodEducationList)="realodEducationList($event)"></app-medical-report>
    </ng-container>
  
  </div>
</div>

<config-popup #inPatientPopup></config-popup>
