<ng-template #drugEventMain>
  <div class="modal-body">
    <div class="patient-info mb-2">
      <div style="border: solid 2px #0082c8; border-radius: 6px; padding: 5px 10px; font-size: 14px; font-weight: bold; color: #7b8087; display: flex; flex-wrap: wrap; column-gap: 4em; justify-content: center;">
        <div>Patient: <span style="color: black;">{{ storageService.patientData.name }}</span></div>
        <div>MRN: <span style="color: black;">{{ storageService.patientData.id }}</span></div>
        <div>DOB: <span style="color: black;">{{ storageService.patientData.birthDate | date : "dd.MM.yyy" }}</span></div>
        <div>Allergies: <span style="color: black; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" [title]="storageService.patientData.allergyInfo">{{ storageService.patientData.allergyInfo }}</span></div>
      </div>
    </div>
    <div class="drug-event-info row">
      <div class="drug-event-navbar col-md-3 pt-2">
        <button class="w-100 mb-3 events-nav-item" [class.active]="isAdministered" (click)="setActiveEvent('Administered')">
          Administer
        </button>
        <button class="w-100 mb-3 events-nav-item" [class.active]="isQAdministered" (click)="setActiveEvent('QAdministered')" [disabled]="true">
          Q. Administer
        </button>
        <button class="w-100 mb-3 events-nav-item" [class.active]="isNotAdministered" (click)="setActiveEvent('NotAdministered')">
          Not Administered
        </button>
        <button class="w-100 mb-3 events-nav-item" [class.active]="isAddSupply" (click)="setActiveEvent('AddSupply')" [disabled]="isDisabledFsource">
          Additional Supply
        </button>
        <button class="w-100 mb-3 events-nav-item" [class.active]="isDrugReturn" (click)="setActiveEvent('DrugReturn')" [disabled]="isDisabledFsource">
          Drug Return
        </button>
        <button class="w-100 mb-3 events-nav-item" [class.active]="isEventsDetails" (click)="setActiveEvent('EventsDetails')">
          Event's Details
        </button>
      </div>
      <div class="drug-event-form col-md-9" style="font-weight: bold; color: #69727b">
        <form *ngIf="!isEventsDetails" class="d-flex flex-column h-100" [formGroup]="administratiForm">
          <div class="mb-3" style="border-bottom: 2px solid;">
            <div class="row mb-2">
              <div class="col-6">
                <label for="description" class="mb-0">Event Description</label>
                <input id="description" type="text" class="form-control event-font" formControlName="Descrlt" readonly />
              </div>
              <div class="col-6">
                <label for="combinedDose" class="mb-0">Combined Dose</label>
                <input id="combinedDose" type="text" class="form-control event-font" formControlName="CombineofDose" [title]="administratiForm.value.CombineofDose" readonly />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="plannedDose" class="mb-0">Planned Dose</label>
                <input id="plannedDose" type="text" class="form-control event-font" formControlName="Admindose" readonly />
              </div>
              <div class="col-6">
                <label for="plannedTime" class="mb-0">Planned Time</label>
                <input id="plannedTime" type="text" class="form-control event-font" formControlName="time" readonly
                  bsDatepicker
                  [isDisabled]="true"
                  [bsConfig]="{ withTimepicker: true, showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY HH:mm:ss', selectFromOtherMonth: true }"
                />
              </div>
            </div>
          </div>

          <!-- admin -->
          <div *ngIf="isAdministered" formGroupName="Administrator">
            <div class="row mb-2">
              <div class="col-3">
                <label for="amountPrescribed" class="mb-0">Amount Prescribed</label>
                <input id="amountPrescribed" type="text" class="form-control event-font" formControlName="AmountPrescribed" [readOnly]="isEndedDisabled" />
              </div>
              <div class="col-3">
                <label for="dosageStrength" class="mb-0">Dosage Strength</label>
                <input id="dosageStrength" type="text" class="form-control event-font" formControlName="DosageStr" readonly />
              </div>
              <div class="col-3">
                <label for="adminDose" class="mb-0">Administered Dose</label>
                <input id="adminDose" type="text" class="form-control event-font" formControlName="Quan2" />
              </div>
              <div class="col-3">
                <label for="scrabDosage" class="mb-0">Scrab Dosage</label>
                <input id="scrabDosage" type="text" class="form-control event-font" formControlName="SCRAP" [readonly]="true" />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <label for="doseChangeReason" class="mb-0">Change Reason</label>
                <ng-select id="doseChangeReason" class="event-font input-data" formControlName="Rdosdif" [readonly]="isEndedDisabled" (click)="AdministerDoseReason()">
                  <ng-option *ngFor="let administeredReason of DoseReason" [value]="administeredReason.Rcodeid">
                    {{ administeredReason.Descr }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="adminTime" class="mb-0">Admin Time</label>
                <input id="adminTime" type="text" class="form-control event-font" formControlName="Rbdad" [readonly]="isEndedDisabled"
                  bsDatepicker
                  [isDisabled]="administratiForm.value.Descr ==='Administered'"
                  [bsConfig]="{ withTimepicker: true, showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY HH:mm:ss' }"
                />
              </div>
              <div class="col-6">
                <label for="timeChangeReason" class="mb-0">Change Reason</label>
                <ng-select id="timeChangeReason" class="event-font input-data" formControlName="Rtimdif" [readonly]="isEndedDisabled" (click)="AdministerTimeReason()">
                  <ng-option *ngFor="let administeredReason of TimeReason" [value]="administeredReason.Rcodeid">
                    {{ administeredReason.Descr }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2 align-items-start">
              <div class="col-3 d-flex justify-content-between align-items-center">
                <label for="checkCondition" class="mb-0">Check Cond.</label>
                <input id="checkCondition" type="checkbox" formControlName="Prn" [readOnly]="isEndedDisabled">
              </div>
              <div class="col-12">
                <textarea id="condition" class="form-control event-font" formControlName="Prncond" [readOnly]="true" [disabled]="true"></textarea>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label for="comments" class="mb-0">Comments</label>
                <textarea id="comments" class="form-control event-font" formControlName="Adnotestx" [readOnly]="isEndedDisabled"></textarea>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-3">
                <label for="adminUser" class="mb-0">Admin User</label>
                <input id="adminUser" type="text" class="form-control event-font" formControlName="Meresp1" readonly />
              </div>
              <div class="col-3">
                <label for="witnessedBy" class="mb-0">Witnessed by</label>
                <input id="witnessedBy" type="text" class="form-control event-font" formControlName="Meresp2" readonly />
              </div>
              <div class="col-6">
                <label for="fillSource" class="mb-0">Fill Source</label>
                <ng-select id="fillSource" class="event-font input-data" formControlName="Fsource" [readonly]="isEndedDisabled" (change)="FillSourcedata(administratiForm.value.Administrator)">
                  <ng-option *ngFor="let administeredDrugReason of FillSource" [value]="administeredDrugReason.Fsource">
                    {{ administeredDrugReason.Fsource }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <!-- not admin -->
          <div *ngIf="isNotAdministered" formGroupName="NotAdminister">
            <div class="row mb-2">
              <div class="col-3">
                <label for="amountPrescribed" class="mb-0">Amount Prescribed</label>
                <input id="amountPrescribed" type="text" class="form-control event-font" formControlName="AmountPrescribed" readonly />
              </div>
              <div class="col-3">
                <label for="dosageStrength" class="mb-0">Dosage Strength</label>
                <input id="dosageStrength" type="text" class="form-control event-font" formControlName="DosageStr" readonly />
              </div>
              <div class="col-3">
                <label for="adminDose" class="mb-0">Administered Dose</label>
                <input id="adminDose" type="text" class="form-control event-font" formControlName="Quan2" [readonly]="true" [disabled]="true" />
              </div>
              <div class="col-3">
                <label for="scrabDosage" class="mb-0">Scrab Dosage</label>
                <input id="scrabDosage" type="text" class="form-control event-font" formControlName="SCRAP" [readonly]="true" [disabled]="true" />
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-6">
                <label for="dosageChangeReason" class="mb-0">Change Reason</label>
                <ng-select id="dosageChangeReason" class="event-font input-data" formControlName="Rdosdif" (click)="this.AdministerDoseReason()">
                  <ng-option *ngFor="let administeredReason of DoseReason" [value]="administeredReason.Rcodeid">
                    {{ administeredReason.Descr }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label for="comments" class="mb-0">Comments</label>
                <textarea id="comments" class="form-control event-font" formControlName="Adnotestx"></textarea>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="adminUser" class="mb-0">Admin User</label>
                <input id="adminUser" type="text" class="form-control event-font" formControlName="Meresp1" readonly />
              </div>
              <div class="col-6">
                <label for="witnessedBy" class="mb-0">Witnessed by</label>
                <input id="witnessedBy" type="text" class="form-control event-font" formControlName="Meresp2" readonly />
              </div>
            </div>
          </div>

          <!-- drug return -->
          <div *ngIf="isDrugReturn" formGroupName="DrugAdminister">
            <div class="row mb-2">
              <div class="col-6">
                <label for="returnQty" class="mb-0">Return Qty</label>
                <input id="returnQty" type="number" class="form-control event-font" formControlName="Pamount" />
              </div>
              <div class="col-6">
                <label for="returnUnit" class="mb-0">Return Unit</label>
                <input id="returnUnit" type="text" class="form-control event-font" formControlName="Pamountu" />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label for="returnReason" class="mb-0">Return Reason</label>
                <ng-select id="returnReason" class="event-font input-data" formControlName="Rcodeid">
                  <ng-option *ngFor="let administeredDrugReason of DrugReason" [value]="administeredDrugReason.Rcodeid">
                    {{ administeredDrugReason.Descr }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="requestStatus" class="mb-0">Request Status</label>
                <ng-select id="requestStatus" class="event-font input-data" formControlName="Status">
                  <ng-option *ngFor="let administeredDrugReason of RequestStatus" [value]="administeredDrugReason.Dvalue">
                    {{ administeredDrugReason.Dtext }}
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-6">
                <label for="fillSource" class="mb-0">Fill Source</label>
                <ng-select id="fillSource" class="event-font input-data" formControlName="Fsource" (change)="FillSourcedata(administratiForm.value.DrugAdminister)">
                  <ng-option *ngFor="let administeredDrugReason of FillSource" [value]="administeredDrugReason.Fsource">
                    {{ administeredDrugReason.Fsource }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="materialCode" class="mb-0">Material Code</label>
                <input id="materialCode" type="text" class="form-control event-font" formControlName="Material" readonly />
              </div>
              <div class="col-6">
                <label for="BatchNo" class="mb-0">Batch #</label>
                <input id="BatchNo" type="text" class="form-control event-font" formControlName="Batch" readonly />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="userName" class="mb-0">User Name</label>
                <input id="userName" type="text" class="form-control event-font" formControlName="Empid" readonly />
              </div>
            </div>
          </div>

          <!-- addition supply -->
          <div *ngIf="isAddSupply" formGroupName="AdditionalSupply">
            <div class="row mb-2">
              <div class="col-6">
                <label for="requestDate" class="mb-0">Request Date</label>
                <input id="requestDate" type="text" class="form-control event-font" formControlName="Pdate"
                  bsDatepicker
                  [bsConfig]="{ withTimepicker: true, showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY', selectFromOtherMonth: true }"
                />
              </div>
              <div class="col-6">
                <label for="requestTime" class="mb-0">Request Time</label>
                <input id="requestTime" type="text" class="form-control event-font pull-right" formControlName="Ptime"
                  bsDatepicker
                  [isDisabled]="true"
                  [bsConfig]="{ withTimepicker: true, showWeekNumbers: false, dateInputFormat: 'HH:mm:ss', selectFromOtherMonth: true }"
                />
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-12">
                <label for="returnReason" class="mb-0">Request Reason</label>
                <ng-select id="returnReason" class="event-font input-data" formControlName="Rcodeid" (click)="RequestReasonaction()">
                  <ng-option *ngFor="let administeredReason of ReasonSet" [value]="administeredReason.Rcodeid">
                    {{ administeredReason.Descr }}
                  </ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-6">
                <label for="requestQty" class="mb-0">Request Qty</label>
                <input id="requestQty" type="text" class="form-control event-font" formControlName="Pamount" />
              </div>
              <div class="col-6">
                <label for="requestUnit" class="mb-0">Request Unit</label>
                <input id="requestUnit" type="text" class="form-control event-font" formControlName="Pamountu" />
              </div>
            </div>
            
            <div class="row mb-2">
              <div class="col-6">
                <label for="userName" class="mb-0">User Name</label>
                <input id="userName" type="text" class="form-control event-font" formControlName="Empid" readonly />
              </div>
              <div class="col-6">
                <label for="wardOU" class="mb-0">Ward OU</label>
                <ng-select id="wardOU" class="event-font input-data" formControlName="Nursingou">
                  <ng-option *ngFor="let administrativeOrdering of AdminiOrderingList" [value]="administrativeOrdering.Orgid">
                    {{ administrativeOrdering.Orgna}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          
          <!-- actions -->
          <div class="row mt-auto">
            <div class="col d-flex justify-content-end mt-2">
              <button class="save-risk d-flex align-items-center mr-2" (click)="Administerdata()">Save</button>
              <button class="save-risk d-flex align-items-center" (click)="modalRef.hide()">Cancel</button>
            </div>
          </div>
        </form>

        <!-- Event's Details -->
        <div class="mt-2" *ngIf="isEventsDetails">
          <table class="table table-hover">
            <thead>
              <tr>
                <th colspan="1" scope="col" >Event Number</th>
                <th colspan="1" scope="col" >Status</th>
                <th colspan="1" scope="col" >Date</th>
                <th colspan="1" scope="col" >Time</th>
                <th colspan="1" scope="col" >User Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let event of eventDetailList" class="fw-semibold" >
                <td colspan="1" >{{ event?.Meevtid }}</td>
                <td colspan="1" >{{ event.Notgiven? 'Not Given': event?.MesidDesc }}</td>
                <td colspan="1" >{{ getDate(event.Erdat) | date : "dd.MM.yyyy" }}</td>
                <td colspan="1" >{{ emergencyService.getTime(event.Ertim)}}</td>
                <td colspan="1" >{{ event.ErusrNm }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-emar-witness #Witnessid></app-emar-witness>
