<div class="order-templete-main mt-3">
    <div class="consumable-histry-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="1" scope="col">Material</th>
            <th colspan="1" scope="col">User Name</th>
            <th colspan="1" scope="col">Storage Loc.</th>
            <th colspan="1" scope="col">Date</th>
            </tr>
        </thead>
        <tbody style="background-color: #fbfcff;">
          <tr style="font-weight: 600">
            <!-- <td colspan="1">1040022</td>
            <td colspan="1">Test</td>
            <td colspan="1">E401</td>
            <td colspan="1">2-2-2024</td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <div class="pagination-container text-center p-3">
                No Record Found!
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  