<div class="order-templete-main mt-3">
    <div class="consumable-histry-table">
      <table class="table table-hover">
        <thead>
          <tr>
            <th colspan="1" scope="col">Reservation #</th>
            <th colspan="1" scope="col">Material</th>
            <th colspan="1" scope="col">Storage Loc.</th>
            <th colspan="1" scope="col">Cost Center</th>
            <th colspan="1" scope="col">Quantity</th>
            <th colspan="1" scope="col">Request Date</th>
            <th colspan="1" scope="col">Unit of Entry (UnE)</th>
            <th colspan="1" scope="col">Reservation Status </th>
            <th colspan="1" scope="col">User Name</th>
            <th colspan="1" scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="background-color: #fbfcff;">
          <tr style="font-weight: 600" *ngFor="let item of historyList">
            <td colspan="1">{{item.Rsnum}}</td>
            <td colspan="1" [title]="item.Matnr+ ' ' + item.Maktx">{{item.Matnr + ' ' + item.Maktx}}</td>
            <td colspan="1">{{item.Sloc}}</td>
            <td colspan="1">{{item.CostCtr}}</td>
            <td colspan="1">{{item.Bdmng}}</td>
            <td colspan="1">{{getDate(item.Erdat)| date : "dd.MM.y" }}</td>
            <td colspan="1">{{item.Meins}}</td>
            <td colspan="1"></td>
            <td colspan="1">{{item.Erusr}}</td>
            <td colspan="1" style="text-align: center; overflow: visible !important">
              <div>
                <div class="dropdown">
                  <i
                    class="fa fa-ellipsis-v dropdown-toggle"
                    aria-hidden="true"
                    style="cursor: pointer"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></i>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                    <a class="dropdown-item c-pointer" (click)="openModalForUpdateReservation(reservationModal,item)">Edit</a>
                    <a class="dropdown-item c-pointer" (click)="confirmationForReservationDelete(item)">Delete</a>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="9"  *ngIf="historyList?.length == 0">
              <div class="pagination-container text-center p-3">
                No Record Found!
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>


<ng-template #reservationModal>
      <div class="modal-header" style="display: flex; padding: 17px; background-color: #0082c8; color: white; border-radius: 15px 15px 0 0;">
        <h4 class="modal-title" style="color: white">Update Reservation</h4>
      </div>
      <div class="modal-body p-0">
        <form [formGroup]="EditReservationFomm" >
          <div class=" tab-search-panel row align-items-center">
               <div class="col-8">
                 <div class="w-100 d-flex">
                   <div class="storage-box w-100 d-flex align-items-center">
                     <label class="location-label" for="movement type ">Movement type </label>
                     <ng-select class="ng-select-dropdown"  formControlName="movementType"  [placeholder]="'Movement type'" (change)="selectType($event)">
                      <ng-option *ngFor="let type of movementTypes" [value]="type.value">{{ type.label }}</ng-option>
                    </ng-select>
                   </div>
                   <div class="storage-box w-100 d-flex align-items-center" *ngIf="selectedType == '311'">
                     <label class="location-label" for="storage-location">Requesting Storage Location</label>
                     <ng-select class="ng-select-dropdown" [placeholder]="'Storage Location'" [clearable]="true" [searchable]="true"
                    formControlName="stoLocation">
                    <ng-option *ngFor="let item of storageLocationList" [value]="item">
                      <span [title]="item.Lgort + '-' + item.Lgobe">
                        {{ item.Lgort }} - {{ item.Lgobe }}
                      </span>
                    </ng-option>
                    </ng-select>
                   </div>
                   <div class="storage-box w-100 d-flex align-items-center" *ngIf="selectedType == '201'">
                     <label class="location-label" for="Cost-Center">Cost Center</label>
                     <ng-select class="ng-select-dropdown" [placeholder]="'Cost Center'" [clearable]="true" [searchable]="true"
                     formControlName="cosCenter">
                       <ng-option *ngFor="let item of costCenterList" [value]="item"> <span [title]="item.Kostl + '-' + item.Ltext">
                        {{ item.Kostl }} - {{item.Ltext}}
                      </span></ng-option>
                     </ng-select>
                   </div>
                 </div>
               </div>
               <div class="col-4">
                 <div class="d-flex justify-content-end">
                  <button type="button" class="header-btn">
                       <span (click)="closeReservationModal()">Cancel</span>
                     </button>
                     <button type="submit" class="header-btn">
                       <span>Update</span>
                     </button>
                 </div>
               </div>
               
           </div>
           <div class="order-templete-main mt-3">
            
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="1" scope="col">Material</th>
                    <th colspan="1" scope="col">Quantity</th>
                    <th colspan="1" scope="col">Unit of Entry (UnE)</th>
                    <th colspan="1" scope="col">Plant</th>
                    <th colspan="1" scope="col">Issuing Storage Location</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr>
                        <td colspan="1">
                          <ng-select class="ng-select-dropdown width-100 product-code-width hide-dropdown-x-icon"
                          [clearable]="true" [searchable]="true" formControlName="Matnr"
                          (search)="searchMaterial($event.term, wordType.MaterialCode$)"
                          [title]="EditReservationFomm.get('Matnr').value?.Maktx" (change)="setValueOfUnit($event)">
                          <ng-option *ngFor="let item of materialList" [value]="item">{{item.Matnr}} -
                            {{item.Maktx}}</ng-option>
                        </ng-select>
                        </td>
                        <td colspan="1">
                          <input class="form-control" type="text" numbersOnlyrequired formControlName="Menge">
                        </td>
                        <td colspan="1">
                          <input class="form-control" type="text" [disabled]="true" [readOnly]="true" formControlName="Meins">
                        </td>
                        <td colspan="1">
                          <input class="form-control" type="text" [disabled]="true" [readOnly]="true" formControlName="plant">
                        </td>
                        <td colspan="1">
                          <ng-select class="ng-select-dropdown width-250 product-description-width hide-dropdown-x-icon"
                          [clearable]="true" [searchable]="true" formControlName="sloc" [title]="EditReservationFomm.value.sloc">
                         <ng-option *ngFor="let item of storageLocationList" [value]="item.Lgort">{{ item.Lgort }}</ng-option>
                         </ng-select>
                        </td>
                      </tr>
                  </tbody>
              </table>
          </div>
         </form>
      </div>
</ng-template>






  