<div class="container-fluid pt-0 pl-4 pr-4 pb-4">
  <div class="card mb-3 cline-border">
    <div class="card-body p-0">
      <!-- <div class="table-header">
        <span style="margin-left: 11px">My Clinic</span>
        <div class="table-icon">
          <span style="margin-right: 15px"><i class="fa fa-cog" aria-hidden="true" (click)="showConfigFn($event)"></i></span>
          <div class="card config my-clinic-configuation" *ngIf="showconfig" (click)="$event.stopPropagation()">
            <div class="card-body" style="padding: 7px">
              <div style="
                display: flex;
                justify-content: space-between;
                height: 25px;
                ">
                <h5 class="card-title">Configuration Options</h5>
                <span style="position: relative; bottom: 14px">
                  <img src="assets/img/refresh.png" style="width: 29px" (click)="resetConfigToolsFields()" />
                  <img src="assets/img/save.png" style="width: 19px" (click)="saveConfigTools()" />
                </span>
              </div>
              <p style="margin: 0">Show Colums</p>
              <div class="row">
                <div class="col-md-6" *ngFor="let item of ColumnType;
                  let i= index">
                  <div class="form-check" style="font-size: 10px; display: flex">
                    <input class="form-check-input" type="checkbox" id="ColumnType{{i}}" [(ngModel)]="item.isSelected" />
                    <label class="form-check-label" for="ColumnType{{i}}">
                      {{item.Desc}}
                    </label>
                  </div>
                </div>
              </div>
              <div class="" *ngIf="selectedView == 1">
                <div class="ward-list-select">
                  <p style="margin: auto; margin-top: 5px">Movement Type</p>
                  <ng-multiselect-dropdown class="multiselect-adjust movmentType" [settings]="dropdownSettings" [placeholder]="'Movement Type'"
                    [(ngModel)]="defaultSelectedItemsForMovTypeConf" [data]="movementTypeConfig" (onSelect)="onItemSelectForMovTypeConf($event)"
                    (onDeSelect)="onDeselectForMovTypeConf($event)">
                  </ng-multiselect-dropdown>
                </div>
                <div class="ward-list-select">
                  <p style="margin: auto; margin-top: 5px">Status</p>
                  <ng-multiselect-dropdown class="multiselect-adjust movmentType" [placeholder]="'Status'" [settings]="dropdownSettingsForStatus"
                    [data]="statustypeConfig" [(ngModel)]="defaultSelectedItemsForStatusConf" (onSelect)="onItemSelectForStatusConf($event)"
                    (onDeSelect)="onDeselectForStatusConf($event)"></ng-multiselect-dropdown>
                </div>
              </div>
            </div>
          </div>
          <span style="margin-right: 15px"><i class="fa fa-refresh" aria-hidden="true" (click)="resetfilterData()"></i></span>
          <span style="margin-right: 15px"><i class="fa fa-filter" aria-hidden="true" (click)="showFilterFn($event)"></i></span>
          <div class="card" style="
            width: 15rem;
            position: absolute;
            z-index: 999;
            right: 0px;
            color: black;
            font-size: 12px;
            " *ngIf="showfilter" (click)="$event.stopPropagation()">
            <div class="card-body" style="padding: 35px">
              <div class="">
                <p style="margin: 0">My Clinic filter</p>
                <div>
                  <p style="margin: auto; margin-top: 5px">Attending Person</p>
                  <input class="form-control" type="text" placeholder="" [(ngModel)]="attendingPerson" />
                </div>

                <p style="margin: auto; margin-top: 5px">Date From</p>
                <input class="form-control" type="text" placeholder="" [minDate]="" [maxDate]="dateTo" #dp="bsDatepicker" bsDatepicker
                  [(bsValue)]="dateFrom" [bsConfig]="{
                  showWeekNumbers: false,
                  dateInputFormat: 'DD.MM.YYYY'
                  }" />
                <p style="margin: auto; margin-top: 5px">Date To</p>
                <input class="form-control" type="text" placeholder="" [minDate]="" [maxDate]="" #dp="bsDatepicker" bsDatepicker [(bsValue)]="dateTo"
                  [bsConfig]="{
                  showWeekNumbers: false,
                  dateInputFormat: 'DD.MM.YYYY'
                  }" />
                <p style="margin: auto; margin-top: 5px">Movement Type</p>
                <ng-multiselect-dropdown class="multiselect-adjust" [placeholder]="'Movement Type'" [settings]="dropdownSettings"
                  [data]="dropdownListForMovType" [(ngModel)]="defaultSelectedItemsForMovType" (onSelect)="onItemSelectForMovType($event)"
                  (onDeSelect)="onDeselectForMovType($event)">
                </ng-multiselect-dropdown>
                <p style="margin: auto; margin-top: 5px">Status</p>
                <ng-multiselect-dropdown class="multiselect-adjust" [placeholder]="'Status'" [settings]="dropdownSettingsForStatus"
                  [data]="dropdownListForStatus" [(ngModel)]="defaultSelectedItemsForStatus" (onSelect)="onItemSelectForStatus($event)"
                  (onDeSelect)="onDeselectForStatus($event)">
                </ng-multiselect-dropdown>
                <button class="btn btn-primary" style="
                  margin-left: 48px;
                  background-color: #0082c8;
                  border: #0082c8;
                  " (click)="filterData()">
                  Filter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="input-group mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><i class="fa
              fa-search" aria-hidden="true"></i></span>
        </div>
        <input type="text" [(ngModel)]="searchString" class="form-control" placeholder="Search..." aria-label="Username"
          aria-describedby="basic-addon1" />
      </div> -->


      <div class="row m-0">
        <div class="col-lg-12 col-md-6 col-sm-12 p-0 cline-border" style="overflow: auto; max-height: 61vh;min-height: 61vh;">
          <table class="table table-bordered table-hover">
            <thead style="
              background: #0082c8 !important;
              color: white;
              position: sticky;
              top: 0;z-index: 9 !important
              ">
              <tr>
                <th scope="col" style="text-align: center;width: 6%;">Date <i class="fa fa-sort" aria-hidden="true" (click)="sort()"></i></th>
                <th scope="col" style="text-align: center;width: 4%;">Time <i class="fa fa-sort" aria-hidden="true" (click)="sortTime()"></i></th>
                <th scope="col" >Visit Type <i class="fa fa-sort" aria-hidden="true" (click)="sortVisitType()"></i></th>
                <th scope="col">Visit Status <i class="fa fa-sort" aria-hidden="true" (click)="sortVisitStatus()"></i></th>
                <th scope="col" style="text-align: center;width: 5%;">MRN <i class="fa fa-sort" aria-hidden="true" (click)="sortMrn()"></i></th>
                <th scope="col" style="text-align: center;width: 1%;" *ngIf="Case">Case</th>
                <th scope="col">Patient <i class="fa fa-sort" aria-hidden="true" (click)="sortPatient()"></i></th>
                <th scope="col" *ngIf="AttendingPhysician">Attn. Phy.</th>
                <th scope="col" style="width: 8%;">Financial Category</th>
                <th scope="col" *ngIf="Diagnosis">Diagnosis</th>
                <th scope="col">Comment</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataOnTable | filter : searchString">
                <td>{{ item.DATUM | date : "dd.MM.yyyy" }}</td>
                <td>{{ item.ZEIT_INTERN }}</td>
                <td >{{ item.BESUCHSARTTEXT }}</td>
                <td>{{ item.BESSTATTEXT }}</td>
                <td (click)="openModuleKardex(item)">{{ item.PATNR }}</td>
                <td *ngIf="Case">{{item.FALNR}}</td>
                <td (click)="openModuleKardex(item)">{{ item.PATIENT }}</td>
                <td *ngIf="AttendingPhysician">{{ item.BEHPERSNAME }}</td>
                <td>{{ item.ZZFIN_CAT }}</td>
                <td *ngIf="Diagnosis">{{ item.ANFDIAGNOSE }}</td>
                <td>{{item.BEMERKUNG}}</td>
                <td>
                  <div class="dropdown" [hidden]="item.BESSTATTEXT ==
                    'Planned' && !item.PATNR">
                    <i class="fa fa-ellipsis-v dropdown-toggle" aria-hidden="true" style="cursor: pointer" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="getDataOnAction(item)"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item c-pointer" target="_blank" routerLink="/e-order" [queryParams]="{
                        patnr: PATNR,
                        falnr: FALNR,
                        einri: EINRI,
                        lfdnr: LFDBW
                        }" [hidden]="item.BESSTATTEXT ==
                        'Planned' && item.PATNR">E-Orders</a>
                      <a class="dropdown-item c-pointer" target="_blank" routerLink="/e-kardex" [queryParams]="{
                        patnr: PATNR,
                        falnr: FALNR,
                        einri: EINRI,
                        lfdnr: LFDBW
                        }">E-Kardex</a>
                      <a class="dropdown-item c-pointer" (click)="openModuleLabChart(item)">Lab Chart</a>
                      <a class="dropdown-item c-pointer" (click)="openModuleRad(item)">Radiology</a>
                      <a [hidden]="(item.BESSTATTEXT ==
                      'Checked Out'||item.BESSTATTEXT ==
                      'Planned') && item.PATNR" class="dropdown-item c-pointer" (click)="confirmationForDelete(item)">Check Out</a>
                      <a [hidden]="item.BESSTATTEXT ==
                      'Planned' && item.PATNR"
                        class="dropdown-item c-pointer"
                        (click)="openModuleVisitNote(item)">Visit Note</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="dataOnTable.length == 0" style="text-align: center">
            No results
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
