<div class="row m-0">
    <div class="col-md-2">
        <label class="m-0">Voiding</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Yes</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">No</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Urine Color</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">CLear</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Concentrated</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Hematuria</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Male Genitalia</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Normal</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Abnormal</label>
    </div>
    <div class="col-md-2">
        <input class="form-control w-40 ml-2" />
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Female Genitalia</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Normal</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Abnormal</label>
    </div>
    <div class="col-md-2">
        <input class="form-control w-40 ml-2" />
    </div>
</div>