@import url("../../../nursing-admission-assessment//nursing-admission-assessment.component.scss");
label {
  margin: 0 !important;
}
.ep-error-message {
  border: 1px solid red !important;
}

.disabled-form {
    img {
      pointer-events: none;
    }
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    textarea,
    ng-select {
        pointer-events: none;
        cursor: not-allowed;
    }
}