<div class="end-container">
  <form [formGroup]="nursingAdmissionForm">
    <label class="box-label">Admission Data</label>
    <div class="container-fluid">
      <div class="row create-form-inputs">
        <div class="col-md-4 row m-0 align-items-center pl-0">
          <div class="col-md-6">
            <label>Date</label>
          </div>
          <div class="col-md-4">
            <input class="form-control" formControlName="Datee" style="font-weight: 800; color: #000" [minDate]="" [maxDate]="" #dp="bsDatepicker"
              bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD.MM.YYYY' }"/>
          </div>
        </div>
        <div class="col-md-4 row m-0 align-items-center pl-0">
          <div class="col-md-2">
            <label>Time</label>
          </div>
          <div class="col-md-4">
            <input type="time" formControlName="Timee" class="form-control" style="height: 33px"/>
          </div>
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Admission Mode</label>
        </div>
        <div class="col-md-3">
          <ng-select [items]="admissionModeList" bindLabel="label" bindValue="value"  formControlName="AdmissionMode" (change)="selectAdmissionMode($event, 'admissionMode')"></ng-select>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [disabled]="isInputDisabled('AdmissionMode', '5')" [readOnly]="isInputDisabled('AdmissionMode', '5')" formControlName="AdmissionModeTxt" />
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Accompanied By</label>
        </div>
        <div class="col-md-3">
          <ng-select [items]="accompaniedbyList" bindLabel="label" bindValue="value"  formControlName="Accompanied" (change)="selectAdmissionMode($event, 'accompanied')"></ng-select>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [disabled]="isInputDisabled('Accompanied', '6')" [readOnly]="isInputDisabled('Accompanied', '6')"
            formControlName="AccompaniedTxt" />
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Info. Obtained from</label>
        </div>
        <div class="col-md-3">
          <ng-select [items]="infoObtainedList" bindLabel="label" bindValue="value" formControlName="InfoObtained" (change)="selectAdmissionMode($event, 'obtained')"></ng-select>
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [disabled]="isInputDisabled('InfoObtained', '3')" [readOnly]="isInputDisabled('InfoObtained', '3')"
            formControlName="InfoObtainedTxt" />
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Language Spoken</label>
        </div>
        <div class="col-md-3">
          <ng-select [items]="languageList" bindLabel="label" bindValue="value" formControlName="LanguageSpoken"></ng-select>
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Schoole Grade</label>
        </div>
        <div class="col-md-3">
          <ng-select [items]="schoolGradeList" bindLabel="label" bindValue="value" formControlName="SchoolGrade" (change)="selectSchool($event)"></ng-select>
        </div>
        <div class="col-md-3">
          <ng-select [items]="schoolGradeEduList" bindLabel="label" bindValue="value"  [readonly]="isInputDisabled('SchoolGrade', '0')" ></ng-select>
        </div>
      </div>
      <div class="row create-form-inputs align-items-center">
        <div class="col-md-2">
          <label>Favourite Toy / Hobbies</label>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" formControlName="FavouriteToy" />
        </div>
      </div>
      <div class="row create-form-inputs">
        <div class="col-md-2">
          <label>Reason for Visit/Admission</label>
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control" formControlName="ReasonVisit" />
        </div>
      </div>
    </div>
    <div>
      <div class="chief-complain mt-3 ml-2 mb-3 mr-3">
        <span class="text-area-label">Chief Complaint</span>
        <textarea class="form-control" formControlName="ChiefComplaint" [ngClass]="nursingAdmissionForm.get('ChiefComplaint').errors && isFormValidError ? 'ep-error-message': ''"></textarea>
      </div>
    </div>
  </form>
</div>
