// .missed-bordercolor {
//   border: 1px solid lightgray;
// }

// .missing-bgcolor {
//   background-color: #fff;
//   color: black;
//   border-radius: 10px;
//   font-size: 12px;
//   border-bottom: 4px solid #0082c8;
//   box-shadow: 2px 2px lightgray;
// }

// .medicineHeading {
//   font-size: 16px;
//   font-weight: 800;
//   color: black;
// }

// .medicineText2{
//   font-size: 12px;
//   width: 90px;
// }

// .medicineDate {
//   border: 1px solid black;
//   margin-top: 8px;
//   height: 60px;
//   padding: 12px;
// }

// .medicineButton {
//   border: 2px solid #0082c8;
//   border-radius: 14px;
//   font-weight: 900;
//   margin-top: 8px;
//   height: 30px;
//   width: 60px;
// }
.modal-header {
    display: flex;
    padding: 17px;
    background-color: #0082c8;
    color: white;
    border-radius: 16px 16px 0 0;
  }