

.lablew2 {
width: 200px;
}

.wdth68 {
    width: 68% !important;
}

h6 {margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}


.order-templete-main {
    table {
      border-collapse: separate;
      border-spacing: 2px;
  
      // padding: 0px 35px 0px 0px;
      thead {
        background: #e4edf5 !important;
        position: sticky;
        top: 0;
        z-index: 9;
  
        tr {
          th {
            font-weight: 700;
            font-size: larger;
  
            &:nth-child(1) {
            width: 40px;
            }
  
            &:nth-child(3) {
            width: 175px;
            }
  
            &:nth-child(5) {
            //   width: 140px;
            }
  
            &:nth-child(6) {
            //   width: 100px;
            }
  
            &:nth-child(8) {
            //   width: 70px;
  
              .all-notes {
                position: absolute;
                right: -40px;
                border: 1px solid;
                background: #fff;
                border-radius: 27px;
                font-weight: 700;
                height: 28px;
                width: 28px;
                margin-left: 10px;
              }
            }
          }
        }
      }
  
      tbody {
        background-color: #fbfcff;
  
        tr {
          font-weight: 600;
  
          td {
            padding: 4px 10px;
  
            &:nth-child(1) {
              input[type="checkbox"] {
                // top: 10px;
              }
            }
  
            &:nth-child(2) {
              ::ng-deep .ng-select-dropdown {
                .ng-select-container {
                  width: 100% !important;
                  background-color: transparent;
                }
  
                /* Custom CSS to increase font size of ng-select */
                .ng-select .ng-input {
                  font-size: 16px;
                  /* Adjust the font size as needed */
                }
  
                .ng-select-container .ng-value .ng-value-label {
                  font-size: 16px;
                  /* Adjust the font size as needed */
                }
  
                .ng-dropdown-panel {
                  width: calc(2em * 20) !important; // TODO:  need to fix with percentage
                  background-color: transparent;
  
                  .ng-dropdown-panel-items {
                    // font-size: larger;
                    width: calc(2em * 20) !important;
                    z-index: 20;
                  }
                }
              }
            }
  
            &:nth-child(3) {
              input[type="time"] {
                width: 160px !important;

              }
            }
  
            &:nth-child(6) {
              input[type="text"] .ng-invalid.ng-touched {
                border-color: red;
              }
            }
  
            &:nth-child(8) {
              img {
                font-weight: 700;
                height: 24px;
                width: 24px;
                margin: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
  
  
  .toggle {
    position: absolute;
    right: 17px;
    // background: #274cae;
    border-radius: 27px;
    font-weight: 700;
    height: 28px;
    width: 28px;
    z-index: 10;
  
    img {
      position: relative;
      z-index: 99;
      width: 28px;
    }
  }
  
  table {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    border: 1px solid black;
  }
  
  td {
    border: 1px solid black;
    word-wrap: break-word;
  }
  
  .modal-header {
    display: flex;
    padding: 17px;
    background-color: #0082c8;
    color: white;
    border-radius: 16px 16px 0 0;
  }
  