.table-line {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;

}

.date-function {
    input {
      font-size: 12px;
    }
    img {
      position: absolute;
      top: 45%;
      left: 75%;
      transform: translateY(-50%);
      width: 14px;
    }
  }