<div class="hand-servi">
  <div class="d-flex justify-content-between px-2 py-1 align-items-center">
    <h4 class="font-weight-bold">Medication Services</h4>
    <img src="assets/img/CloseTab.svg" alt="" height="30" class="c-pointer" (click)="onPopoverClose()">
  </div>
  <div class="hand-data-bg">
    <table class="w-100">
      <thead>
        <tr class="ha-da-color">
          <td class="p-3 w-2">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
            </div>
          </td>
          <td class="p-3 w-15">Medication Name</td>
          <td class="p-3 w-9 ">Dosage</td>
          <td class="p-3 w-6 ">Duration</td>
          <td class="p-3 w-10 ">Duration Unit</td>
          <td class="p-3 w-8 ">Valid From</td>
          <td class="p-3 w-9 ">Valid To</td>
          <td class="p-3 w-4 "></td>
          <td class="p-3 w-4 profile-width"></td>
          <td class="p-3 w-1">Purpose</td>
          <td class="p-3 w-7 ">Physician</td>
          <td class="p-3 w-6 ">Status</td>
          <td class="p-3 w-11 "></td>
        </tr>
      </thead>
      <tbody>
        <tr class="han-border-bot">
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
            </div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Specifice Gravity,Urine"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="1 EA powder for inj"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="30,0000">
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="days"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                src="assets/img/Administration.png" alt="" height="23" class="c-pointer"></div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Hadeel Alassa"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button"
              class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">Ended</button></td>
          <td class="px-3">
            <table class="w-100">
              <tr>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/Additional-Info.jpg" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/selected-icon.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/more-line.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/exclamation-mark.png" alt="" height="15"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="han-border-bot">
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
            </div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Specifice Gravity,Urine"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="1 EA powder for inj"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="30,0000">
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="days"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                src="assets/img/Administration.png" alt="" height="23" class="c-pointer"></div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Hadeel Alassa"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button"
              class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">Ended</button></td>
          <td class="px-3">
            <table class="w-100">
              <tr>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/Additional-Info.jpg" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/selected-icon.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/more-line.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/exclamation-mark.png" alt="" height="15"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="han-border-bot">
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
            </div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Specifice Gravity,Urine"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="1 EA powder for inj"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="30,0000">
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font" value="days"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="07/02/2023 02:13:00"></td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="d-flex align-items-center position-relative">
              <input type="checkbox" class="mr-1 checkbox-panel">
              <span class="mr-2 admin admin-gray"></span>
              <label class="m-0 hand-font">PRN</label>
            </div>
          </td>
          <td class="px-3">
            <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                src="assets/img/Administration.png" alt="" height="23" class="c-pointer"></div>
          </td>
          <td class="px-3"><input type="text" class="form-control p-0 border-0 hand-input hand-font"
              value="Hadeel Alassa"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button"
              class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">Ended</button></td>
          <td class="px-3">
            <table class="w-100">
              <tr>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/Additional-Info.jpg" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/selected-icon.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/more-line.png" alt="" height="15"></div>
                </td>
                <td>
                  <div class="hand-creat border-rad d-flex justify-content-center align-items-center icon-width"><img
                      src="assets/img/exclamation-mark.png" alt="" height="15"></div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
