<div class="row m-0">
    <div class="col-md-2">
        <label class="m-0">Abdomen</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Soft</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Tender</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Distended</label>
    </div>
    <div class="col-md-4 row m-0 align-items-center">
        <input type="checkbox" />
        <label class="m-0 ml-2">Abdominal Girth</label>
        <input class="form-control w-40 ml-2" />
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Bowel Sounds</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Normal</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Hypoactive</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Hyperactive</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Absent</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Latch On</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Good</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Fair</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Poor</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Sucking and Swallowing</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Good</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Fair</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Poor</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Tolerance</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Good</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Fair</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Poor</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Bowel Motion</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Yes</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">No</label>
    </div>
</div>