// .tab-navigation-part{
//     padding: 0;
//     background: none;
//     width:96%;
// }
.prescription-main-panel {
    padding: 10px;
    height: auto !important;
}
.tab-navigation-part{
    border: 1px solid #b8b1b1 !important;
    border-radius: 12px !important;
    background: none !important;
   
}