<div class="edash-rightSide">
  <div class="edash-mainContent">
    <div class="container-fluid check-in-table">
      <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
        <img src="assets/img/pres-search-icon.svg" alt="" />
        <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100" (input)="filterPatients()" (keyup.enter)="filterPatients()" />
      </div>
      <table class="table checkin-table custom-table-striped">
        <thead>
          <tr>
            <th scope="col" (click)="sortTable('PatientName')">
              Patient Name <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'PatientName', 'fa-sort-up': sortColumn === 'PatientName' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'PatientName' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Patient')">
              MRN <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Patient', 'fa-sort-up': sortColumn === 'Patient' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Patient' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Falnr')">
              Case #
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Falnr', 'fa-sort-up': sortColumn === 'Falnr' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Falnr' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('RoomidText')">
              Room
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'RoomidText', 'fa-sort-up': sortColumn === 'RoomidText' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'RoomidText' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Date')">
              Date
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Date', 'fa-sort-up': sortColumn === 'Date' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Date' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col" (click)="sortTable('Time')">
              Time
              <i class="fa"
                [ngClass]="{'fa-sort': sortColumn !== 'Time', 'fa-sort-up': sortColumn === 'Time' && sortDirection === 'asc', 'fa-sort-down': sortColumn === 'Time' && sortDirection === 'desc'}"
                aria-hidden="true"></i>
            </th>
            <th scope="col">
              Admission Ass.
            </th>
            <th scope="col">Surg. Pass</th>
            <th scope="col">
              Braden
            </th>
            <th scope="col">
              MFS
            </th>
            <th scope="col">
              Educ. Ass.
            </th>
            <th scope="col">
              Discharge Summary
            </th>
            <th scope="col">
              NCP
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of noReleasedMissedDocumentsList | filter:searchString; let i = index">
            <td scope="row" [title]="item.PatientName" class="border-top-none">
              {{ item.PatientName }}
            </td>
            <td [title]="item.Patient" class="border-top-none">
              {{ item.Patient }}
            </td>
            <td [title]="item.Falnr" class="border-top-none">
              {{ item.Falnr }}
            </td>
            <td [title]="item.RoomidText" class="border-top-none">
              {{ item.RoomidText }}
            </td>
            <td class="border-top-none" [title]="getDate(item.Date) | date : 'dd.MM.y'">
              {{ getDate(item.Date) | date : "dd.MM.y" }}
            </td>
            <td scope="row" class="border-top-none" [title]="getTime(item.Time)">
              {{ getTime(item.Time) }}
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.ZmedNradmStatus == ''"
                (click)="redirectToDocuments(item, RedirectionType.NAA$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" title="Draft"
                *ngIf="item.ZmedNradmStatus == 'IA'"
                (click)="redirectToDocuments(item, RedirectionType.NAA$, ActionType.Update$)" />
              <i aria-hidden="true" class="fa fa-file-pdf-o" style="font-size: 24px; color: red;" title="View PDF"
                *ngIf="item.ZmedNradmStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.NAA$, ActionType.View$)"></i>
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.ZmedSrgppStatus == ''"
                (click)="redirectToDocuments(item, RedirectionType.SRGPP$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.ZmedSrgppStatus == 'IA'"
                (click)="redirectToDocuments(item, RedirectionType.SRGPP$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.ZmedSrgppStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.SRGPP$, ActionType.View$)" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.BradenScaleStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.BRADEN$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.BradenScaleStatus == 'IA'"
                (click)="redirectToDocuments(item, RedirectionType.BRADEN$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.BradenScaleStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.BRADEN$, ActionType.View$)" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.ScaMorseStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.MORSE$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" *ngIf="item.ScaMorseStatus == 'IA'"
                (click)="redirectToDocuments(item, RedirectionType.MORSE$, ActionType.Update$)" title="Draft" />
              <img src="assets/img/document-html.svg" alt="edit" *ngIf="item.ScaMorseStatus  == 'FR'"
                (click)="redirectToDocuments(item, RedirectionType.MORSE$, ActionType.View$)" />
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.EducationAssessStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.EDUAS$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" title="Draft"
                (click)="redirectToDocuments(item, RedirectionType.EDUAS$, ActionType.Update$)"
                *ngIf="item.EducationAssessStatus == 'IA'" />
              <i aria-hidden="true" class="fa fa-file-pdf-o" style="font-size: 24px; color: red;" title="View PDF"
                (click)="redirectToDocuments(item, RedirectionType.EDUAS$, ActionType.View$)"
                *ngIf="item.EducationAssessStatus  == 'FR'"></i>
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.ZmedNrdisStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.NURDS$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" title="Draft"
                (click)="redirectToDocuments(item, RedirectionType.NURDS$, ActionType.Update$)"
                *ngIf="item.ZmedNrdisStatus == 'IA'" />
              <i aria-hidden="true" class="fa fa-file-pdf-o" style="font-size: 24px; color: red;" title="View PDF"
                (click)="redirectToDocuments(item, RedirectionType.NURDS$, ActionType.View$)"
                *ngIf="item.ZmedNrdisStatus  == 'FR'"></i>
            </td>
            <td [title]="item.NurseName" class="border-top-none">
              <img src="assets/img/na.svg" alt="NA" title="Not Available" *ngIf="item.ZmedNcpStatus == '' "
                (click)="redirectToDocuments(item, RedirectionType.NCP$, ActionType.Add$)" />
              <img src="assets/img/edit-document-svgrepo-com.svg" alt="edit" title="Draft"
                (click)="redirectToDocuments(item, RedirectionType.NCP$, ActionType.Update$)"
                *ngIf="item.ZmedNcpStatus == 'IA'" />
              <i aria-hidden="true" class="fa fa-file-pdf-o" style="font-size: 24px; color: red;" title="View PDF"
                (click)="redirectToDocuments(item, RedirectionType.NCP$, ActionType.View$)"
                *ngIf="item.ZmedNcpStatus  == 'FR'"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="noReleasedMissedDocumentsList?.length == 0" style="text-align: center">
        No results
      </div>
    </div>
  </div>
</div>

<ng-template #releasepdfmodal>
  <div class="modal-body">
    <ngx-extended-pdf-viewer *ngIf="pdfUrlType == 'pdf'" [src]="pdfUrl" height="80vh" [backgroundColor]="'#525659'"
      [zoom]="'80'" [sidebarVisible]="true" [showOpenFileButton]="false" [showBookmarkButton]="false">
    </ngx-extended-pdf-viewer>
    <div class="row justify-content-center" *ngIf="pdfUrlType == 'image'">
      <img [src]="releaseDocumentImage" style="height: 70vh;" />
    </div>
    <div class="w-100" *ngIf="pdfUrlType == 'html'">
      <div [innerHTML]="htmlData"></div>
    </div>
    <div class="mt-2" style="text-align: center">
      <button class="btn btn-primary" (click)="closePdfModal()" style="background-color: #0082c8; border: #0082c8">
        Close
      </button>
    </div>
  </div>
</ng-template>


<!-- <ng-template #selectIconPdf>
  <div class="modal-body">
    <ngx-extended-pdf-viewer *ngIf="pdfUrlType == 'pdf'" [src]="pdfUrl" height="80vh" [backgroundColor]="'#525659'"
      [zoom]="'80'" [sidebarVisible]="true" [showOpenFileButton]="false" [showBookmarkButton]="false">
    </ngx-extended-pdf-viewer>
    <div class="row">
      <iframe [src]="pdfUrl" width="2000" height="600"> </iframe>
    </div>
    <div class="row justify-content-center" *ngIf="pdfUrlType == 'image'">
      <img [src]="releaseDocumentImage" style="height: 70vh;" />
    </div>
    <div class="w-100" *ngIf="pdfUrlType == 'html'">
      <div [innerHTML]="htmlData"></div>
    </div>

    <div class="mt-2" style="text-align: center">
      <button class="btn btn-primary" (click)="selectedIconPdf.hide()"
        style="background-color: #0082c8; border: #0082c8">
        Close
      </button>
    </div>
  </div>
</ng-template> -->

<ng-template #documentUrlpdf>
  <div *ngIf="this.documentUrl">
    <iframe width="100%" height="700" [src]="documentUrl" frameborder="0" allowfullscreen></iframe>
  </div>
</ng-template>
