<div class="edash-rightSide">
  <div class="search-section w-100">
    <div class="container-fluid check-in-table d-flex">
      <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
        <img src="assets/img/pres-search-icon.svg" alt="" />
        <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100" />
      </div>
      <div class="header-button">
        <button class="btn" (click)="openReceiveModal(receiveModal)">Receive Cart</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex p-0 check-in-table">
  <div class="w-100">
    <div class="row medicationRow admin-dose d-flex">
      <div [ngClass]="rightside ? 'w-40' : 'w-100'">
        <table class="table checkin-table custom-table-striped table-responsive-sm" *ngIf="tablelistshow">
          <thead>
            <tr class="checkin-table-header">
              <th scope="col" style="padding-left: 11px;">Patient Name</th>
              <th scope="col" style="padding-left: 0px;">MRN</th>
              <th scope="col" style="padding-left: 0px;">Case #</th>
              <th scope="col">DOB</th>
              <th scope="col" style="padding-left: 0px;">Ward</th>
              <th scope="col" style="padding-left: 0px;">Room</th>
              <th scope="col" style="padding-left: 0px;">Bed</th>
              <th scope="col" style="padding-left: 0px;">Allergy</th>
              <th scope="col" style="padding-left: 0px;">Diagnosis</th>
              <th scope="col" style="padding-left: 0px;">Attending Physician</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of missedMedPatientList | filter: searchString; let i = index" (click)="openRightside(item)">
              <td class="border-top-none patient" style="padding-left: 1px;cursor: pointer;" [title]="item.PatientName">
                {{item?.PatientName}}
              </td>
              <td class="border-top-none" style="padding-left: 1px;" [title]="item.Patnr">{{item?.Patnr}}</td>
              <td class="border-top-none" style="padding-left: 1px;" [title]="item.Falnr">{{item?.Falnr}}</td>
              <td class="border-top-none patient" [title]="getDate(item.PatientDob) | date : 'dd.MM.y'">
                {{ getDate(item.PatientDob) | date : 'dd.MM.y' }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.Floor">
                {{ item?.Floor }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.RoomidText">
                {{ item?.RoomidText }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.BedidText">
                {{ item?.BedidText }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.Allergies">
                {{ item?.Allergies }}
              </td>
              <td class="border-top-none allergy patient" style="padding-left: 1px; min-width: 102px; max-width: 267px !important; overflow: hidden;" [title]="item.Diagnosis">
                {{ item?.Diagnosis }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.AttendingDoctorName">
                {{ item?.AttendingDoctorName }}
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table checkin-table custom-table-striped table-responsive-sm" *ngIf="tablelistshow1">
          <thead>
            <tr class="checkin-table-header">
              <th scope="col" style="padding-left: 5px;">Patient Name</th>
              <th scope="col" style="padding-left: 11px;">MRN</th>
              <th scope="col" style="padding-left: 0px;">Case #</th>
              <th scope="col">DOB</th>
              <th scope="col" style="padding-left: 0px;">Room</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of missedMedPatientList | filter: searchString; let i = index" (click)="openRightside(item)">
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.Patname">
                {{item?.Patname}}
              </td>
              <td class="border-top-none" style="padding-left: 1px;" [title]="item.Patnr">{{item?.Patnr}}</td>
              <td class="border-top-none" style="padding-left: 1px;" [title]="item.Falnr">{{item?.Falnr}}</td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="getDate(item.PatientDob) | date : 'dd.MM.y'">
                {{ getDate(item.PatientDob) | date : 'dd.MM.y' }}
              </td>
              <td class="border-top-none patient" style="padding-left: 1px;" [title]="item.RoomidText">
                {{ item?.RoomidText }}
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="ERlistData?.length == 0" style="text-align: center">
          No results
        </div>
      </div>
      <div class="w-60" *ngIf="rightside">
        <div class="event-component w-100">
          <app-administered-does-event (eventEmitter)="handleEvent(value)" [checkValue]="checkValue"
            [MedicationAdministrationList]="tablelist"
            [missedMedPatientList]="selectedmissedMedPatientList"></app-administered-does-event>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #phyordertemplate>
  <div class="modal-header">
    <h4 class="modal-title" style="color: white">
      Removing Patient from “Medication Administration” list
    </h4>
  </div>
  <div class="modal-body" style="padding: 0px;">
    <div class="row" style="display: block; padding: 0 0 0 12px">
      <p style="margin: 0; font-weight: bold; color: #82949e">
        Are you sure you want to Remove “{{phyOrderData.PatientName}}” from this list?
      </p>
      <!-- <p style="color: navy; font-weight: bold; word-break: break-word">
          {{ phyOrderData.OrderShortText }}
        </p> -->
    </div>

    <div class="modal-footer" style="padding: 5px 0 0 0;border-top: 1px solid #d7d7d7;">
      <div style="display: flex">
        <span style="display: flex">
          <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8"
            (click)="removePhysicianOrder(phyOrderData)">
            Remove
          </button>
          <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8"
            (click)="modalRef.hide()">
            Cancel
          </button>
        </span>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #receiveModal>
  <div class="modal-body" style="box-sizing: unset;
  height: 93vh;padding: 0px; overflow-x: hidden">
    <div class="allergys-header">
      <div style="font-size: 20px; font-weight: bold">
        <span>Receive Cart</span>
      </div>
      <img width="30px" src="assets/img/CloseTab.svg" (click)="modalRef.hide()">
    </div>
    <div class="receive-main" style="padding: 10px;">
      <div class="first-section justify-content-between align-items-center">
        <form [formGroup]="receviceCartForm"class="first-section1">
          <div class="p-2" style="display: contents;">
            <div class="maintain-secound-bar-vital-sign">
              <div class="progress-header">
                <div class="header-date">
                  <span class='pn-input-title z-indexlabel'>Date From</span>
                  <span _ngcontent-ufq-c103="" style="
                position: relative;
                top: 30px;
  right: 4px;
  float: right;
            margin-top: -26px;
            font-size: 18px;

          ">
                    <img src="assets/img/Calender.svg" alt="" />
                  </span>

                  <input  class="form-control"
                    style="color: #000; border-radius: 8px;   border-color: #0056b0;" type="text" placeholder=""
                    [minDate]="" [maxDate]="" #dp="bsDatepicker" formControlName="dateFrom" bsDatepicker [bsConfig]="{
            showWeekNumbers: false,
            dateInputFormat: 'DD.MM.YYYY'
          }" />
                </div>
                <div class="maintain-modal-inputs">
                  <span class='pn-input-title z-indexlabel'>Time From</span>
                  <span _ngcontent-ufq-c103="" style="
                  position: relative;
    top: 29px;
    left: -7px;
    float: right;
              margin-top: -26px;
              font-size: 18px;

            ">
                    <img src="assets/img/Time.svg" alt="" />
                  </span>
                  <input type="text" class="form-control"  [ngxTimepicker]="fullTime"
                    [format]="24" style="border-color: #0056b0;" placeholder="Enter Time Form"   formControlName="timeFrom"/>
                  <ngx-material-timepicker #fullTime
                    style="z-index: 9999 !important; position: relative !important"></ngx-material-timepicker>
                </div>
                  <div class="maintain-modal-inputs" style="width:15%;">
                      <ng-select formControlName="nurseUnit">
                        <ng-option *ngFor="let item of nurseUnitList" [value]="item" >{{ item }}</ng-option>
                      </ng-select>
                  </div>
                <div style="margin-left: auto;" (click)="refreshList()">
                  <img src="assets/img/DocRefresh.svg" class="cursor-pointer">
                </div>
              </div>
              <div class="progress-header mt-2">

                <div class="header-date">
                  <span class='pn-input-title z-indexlabel'>Date To</span>
                  <span _ngcontent-ufq-c103="" style="
                position: relative;
                top: 30px;
  right: 4px;
  float: right;
            margin-top: -26px;
            font-size: 18px;

          ">
                    <img src="assets/img/Calender.svg" alt="" />
                  </span>

                  <input  class="form-control"
                    style="color: #000; border-radius: 8px;   border-color: #0056b0;" type="text" placeholder=""
                    [minDate]="" [maxDate]="" #dp="bsDatepicker"  formControlName="dateTo" bsDatepicker [bsConfig]="{
            showWeekNumbers: false,
            dateInputFormat: 'DD.MM.YYYY'
          }" />
                </div>
                <div class="maintain-modal-inputs">
                  <span class='pn-input-title z-indexlabel'>Time To</span>
                  <span _ngcontent-ufq-c103="" style="
                  position: relative;
    top: 29px;
    left: -7px;
    float: right;
              margin-top: -26px;
              font-size: 18px;

            ">
                    <img src="assets/img/Time.svg" alt="" />
                  </span>
                  <input type="text" class="form-control"  formControlName="timeTo" [ngxTimepicker]="fullTime1"
                    [format]="24" style="border-color: #0056b0;" placeholder="Enter Time To" />
                  <ngx-material-timepicker #fullTime1
                    style="z-index: 9999 !important; position: relative !important"></ngx-material-timepicker>
                </div>
                <div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                      value="option1" disabled style="transform: scale(1.5, 1.5) !important;">
                    <label class="form-check-label ml-1" for="inlineRadio1">Only Cart's Shipments</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                      value="option2" disabled style="transform: scale(1.5, 1.5) !important;">
                    <label class="form-check-label ml-1" for="inlineRadio2">Only Urgent Shipments</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                      value="option3" checked style="transform: scale(1.5, 1.5) !important;">
                    <label class="form-check-label ml-1" for="inlineRadio3">Both, Cart's And Urgent Shipments</label>
                  </div>
                </div>
                <div class="header-button" style="margin-left: auto;">
                  <button class="btn" (click)="getReceviceCartList()">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <h3 class="mt-2 header-title" *ngIf="cartList?.length">Carts List</h3>
        <div style="overflow: auto; max-height: 59vh;" *ngIf="cartList?.length">
          <table class="table checkin-table checkin-table-popup custom-table-striped table-responsive-sm">
            <thead>
              <tr class="checkin-table-header">
                <th scope="col" style="padding-left: 11px;">
                  External Cart ID
                </th>
                <th scope="col" style="padding-left: 0px;">
                  Card Description
                </th>
                <th scope="col">
                  Empl Name
                </th>
                <th scope="col" style="padding-left: 0px; ">
                  Ship Time
                </th>
                <th scope="col" style="padding-left: 0px; ">
                  Ship Date
                </th>
                <th scope="col" style="padding-left: 0px; ">
                  Status
                </th>
                <th scope="col" style="padding-left: 0px;  text-align: center;">Cart Details</th>
              </tr>
            </thead>
            <tbody>

                <ng-container *ngFor="let item of cartList; let i = index">
                  <tr [ngClass]="selectedColData === i ? 'selectedCol' : ''"  (click)="selectDateColumn(i,item)">
                    <td class="border-top-none" style="padding-left: 1px;">{{item.CartExtId}}</td>
                    <td class="border-top-none"  style="padding-left: 1px;" title="Lorem Ipsum is simply">{{item.CartDescr}}</td>
                    <td class="border-top-none" >{{item.EmpNm}}</td>
                    <td class="border-top-none"  style="padding-left: 1px;">{{ getDate(item.ShipDt) | date : "dd.MM.y"}}</td>
                    <td class="border-top-none"  style="padding-left: 1px;">{{ getTime(item.ShipTm)}}</td>
                    <td class="border-top-none"  style="padding-left: 1px;">{{ item?.TOCONTENT?.results?.length==1 ? item?.TOCONTENT?.results[0]?.PrepstatNm : ''}}</td>
                    <td class="border-top-none allergy"  style="padding-left: 1px; min-width: 102px; max-width: 267px !important; overflow: hidden; text-align: center;">
                      <img src="assets/img/information.jfif" style="width: 31px; height: 26px; cursor: pointer; position: relative; bottom: 5px;" title="Visit Comments" (click)="openCartDetailModal($event,cartDetails,item)">
                    </td>
                  </tr>

              </ng-container>
            </tbody>
          </table>
          <div *ngIf="cartList?.length == 0" style="text-align: center">
            No results
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center" style="margin-top: 20px;">
          <h3 class="mt-2 header-title" *ngIf="cardSection">Cart content: Patient Oriented</h3>
        <div class="header-button mt-3" style="display: block; margin-left: 0px;" *ngIf="cardSection">
          <button class="btn" (click)="addReceviceCard()"><img src="assets/img/Received.png" alt=""> <span class="ml-2">Received</span></button>
          <button class="btn ml-1" (click)="addReceviceMissedCard()"><img src="assets/img/Missed.png" alt=""> <span class="ml-2"> Missed </span></button>
        </div>
        </div>

        <!-- <div class="row"  *ngIf="cardSection">
              <div class="accordion w-100" id="accordionExample">
                  <div class="medication-table">
                      <div class="card-header cardheader" id="headingTwo" style="display: flex; justify-content: space-between; align-items: center; height: 45px;">
                          <h2 class="mb-0">
                              <button class="btn btn-link btn-color" type="button" (click)="isCollapsed = !isCollapsed"
                                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseTwo">
                                  Test Patients For Demo
                              </button>
                          </h2>
                          <i class="fa fa-caret-down" aria-hidden="true" style="line-height: 37px;
                font-size: 21px;color:#7a7f84" *ngIf="isCollapsed"></i>
                          <i class="fa fa-caret-up" aria-hidden="true" style="line-height: 37px;
                font-size: 21px;color:#7a7f84" *ngIf="!isCollapsed"></i>
                      </div>
                      <div id="collapseTwo" [ngClass]="{'collapse': isCollapsed, 'show': !isCollapsed}"
                          aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body" style="padding-top: 0">
                            <table class="table checkin-table second-table custom-table-striped table-responsive-sm mt-3">
                              <thead>
                                <tr class="checkin-table-header">
                                  <th scope="col"><input type="checkbox"></th>
                                  <th scope="col" style="padding-left: 11px;">
                                    Bed
                                  </th>
                                  <th scope="col" style="padding-left: 0px; ">
                                    MRN
                                  </th>
                                  <th scope="col" style="padding-left: 0px; ">
                                    Patient Name
                                  </th>
                                  <th scope="col" style="padding-left: 0px; ">
                                    Prep. Status
                                  </th>
                                  <th scope="col" style="padding-left: 0px; ">
                                    Quantity
                                  </th>
                                  <th scope="col" style="padding-left: 0px;">Quantity Unit</th>
                                  <th scope="col" style="padding-left: 0px;">Drug Name</th>
                                  <th scope="col" style="padding-left: 0px;">Fill Source</th>
                                  <th scope="col" style="padding-left: 0px;">Reason Text</th>
                                  <th scope="col" style="padding-left: 0px;">Drug Controlled</th>
                                  <th scope="col" style="padding-left: 0px;">Ad. Supply Statu</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td class="border-top-none" style="padding-left: 1px;">
                                    2027AMC
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;"> 000001002</td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Test Patients For Demo, T...
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Receiv....
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    1
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Table, extended release
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Voltaren 100 mg Oral Tablet (20)
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    CENTRAL_IN
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td class="border-top-none" style="padding-left: 1px;">
                                    2027AMC
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;"> 000001002</td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Test Patients For Demo, T...
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Receiv....
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    1
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Table, extended release
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Voltaren 100 mg Oral Tablet (20)
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    CENTRAL_IN
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td class="border-top-none" style="padding-left: 1px;">
                                    2027AMC
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;"> 000001002</td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Test Patients For Demo, T...
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Receiv....
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    1
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Table, extended release
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Voltaren 100 mg Oral Tablet (20)
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    CENTRAL_IN
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                </tr>
                                <tr>
                                  <td><input type="checkbox"></td>
                                  <td class="border-top-none" style="padding-left: 1px;">
                                    2027AMC
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;"> 000001002</td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Test Patients For Demo, T...
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Receiv....
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    1
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Table, extended release
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    Voltaren 100 mg Oral Tablet (20)
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    CENTRAL_IN
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                  <td class="border-top-none patient" style="padding-left: 1px;">
                                    -
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
                  </div>
              </div>
      </div> -->

      <div *ngIf="cardSection">
        <table class="table checkin-table checkin-table-popup second-table custom-table-striped table-responsive-sm">
          <thead>
            <tr class="checkin-table-header">
              <th style="width: 2%"></th>

              <th scope="col" style="padding-left: 0px; width:5%">
                Bed
              </th>
              <th scope="col" style="padding-left: 0px; width:5%">
                MRN
              </th>
              <th scope="col" style="padding-left: 0px; width:5%">
                Patient Name
              </th>
              <th scope="col" style="padding-left: 0px; width:5%">
                Prep. Status
              </th>
              <th scope="col" style="padding-left: 0px; width:5%">
                Quantity
              </th>
              <th scope="col" style="padding-left: 0px;  width:5%">Quantity Unit</th>
              <th scope="col" style="padding-left: 0px; width:5% ">Drug Name</th>
              <th scope="col" style="padding-left: 0px; width:5%">Fill Source</th>
              <th scope="col" style="padding-left: 0px; width:5%">Reason Text</th>
              <th scope="col" style="padding-left: 0px;width:5%">Drug Controlled</th>
              <th scope="col" style="padding-left: 0px;width:5%">Ad. Supply Statu</th>
            </tr>
          </thead>
        </table>
        <div class="row"  *ngIf="cardSection">
          <div class="accordion w-100" id="accordionExample">
            <div class="medication-table">
                <div class="card-header cardheader" id="headingTwo" style="display: flex; justify-content:end; align-items: center; height: 30px;" (click)="isCollapsed = !isCollapsed">
                    <i class="fa fa-caret-down" aria-hidden="true" style="line-height: 37px;
          font-size: 21px;color:#7a7f84" *ngIf="isCollapsed"></i>
                    <i class="fa fa-caret-up" aria-hidden="true" style="line-height: 37px;
          font-size: 21px;color:#7a7f84" *ngIf="!isCollapsed"></i>
                </div>
                <div id="collapseTwo" [ngClass]="{'collapse': isCollapsed, 'show': !isCollapsed}"
                    aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body" style="padding-top: 0">
                      <div style="overflow: auto; max-height: 22vh;">
                        <table class="table checkin-table checkin-table-popups second-table custom-table-striped table-responsive-sm">
                          <thead>
                            <tr >
                              <th style="width: 2%;"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5% "></th>
                              <th scope="col" style="padding-left: 0px;width:5% ">

                              </th>
                              <th scope="col" style="padding-left: 0px;width:5% ">

                              </th>
                              <th scope="col" style="padding-left: 0px;width:5% ">

                              </th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                              <th scope="col" style="padding-left: 0px;width:5%"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of childCartDetails.TOCONTENT.results|| []">
                              <td ><input type="checkbox" [checked]="item.isChecked" (change)="checkboxChangedMedication($event, childCartDetails)"></td>
                              <td class="border-top-none" style="padding-left: 1px; ">
                                {{item.Bedou}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;"> {{item.Patientid}}</td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.PatientNm}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.PrepstatNm}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.Qtotal}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;" title="Table, extended release">
                                {{item.Qunit}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;" title="Voltaren 100 mg Oral Tablet (20)">
                               {{item.Descrlt}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.Fillsource}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                              {{item.ReasonTxt ? item.ReasonTxt : '-' }}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.DrugControl ? item.DrugControl : '-'}}
                              </td>
                              <td class="border-top-none patient" style="padding-left: 1px;">
                               {{item.SupplyStatus ? item.SupplyStatus :'-'}}
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
      </div>
      </div>
    </div>
  </div>
 </ng-template>


 <ng-template #cartDetails>
  <div class="allergy-headers">
    <div style="font-size: 16px; color: #000; font-weight: bold">
      <span>Cart Details</span>
    </div>
    <div class="risk-history-main">
          <img src="assets/img/CloseTab.svg" class="img-siz" width="25px" (click)="cartmodalRef.hide()"/>
    </div>
  </div>
  <div class="main p-3">
    <div class="detail-row">
        <div class="detail-label">Cart Description:</div>
        <div class="detail-value">{{cartPopUpDetail.CartDescr}}</div>
    </div>
    <div class="detail-row">
        <div class="detail-label">Cart Type:</div>
        <div class="detail-value">{{cartPopUpDetail.CartType}}</div>
    </div>
    <div class="detail-row">
        <div class="detail-label">Cart Template:</div>
        <div class="detail-value">{{cartPopUpDetail.CartTempl}}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Cart Status:</div>
      <div class="detail-value">{{cartPopUpDetail.CartStatus}}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Estimated Shipment:</div>
      <div class="detail-value">{{getDate(cartPopUpDetail.EstShipDt) | date : "dd.MM.y" +' '+'|'+' '  + this.getTime(cartPopUpDetail.EstShipTm)}}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Prepare Durgs Up To:</div>
      <div class="detail-value">{{getDate(cartPopUpDetail.PrepDrugDt) | date : "dd.MM.y"}}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Include Urgent Preperation:</div>
      <div class="detail-value">{{cartPopUpDetail.UrgPrep}}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Cart Content Header:</div>
      <div class="detail-value">{{cartPopUpDetail.Cartid}}</div>
    </div>

</div>
 </ng-template>
