<div class="edash-rightSide">
  <div class="edash-mainContent">
    <div class="container-fluid check-in-table">
      <div class="search-functionality col-md-1 pl-0 pr-0 mb-2">
        <img src="assets/img/pres-search-icon.svg" alt="" />
        <input type="text" placeholder="Search" [(ngModel)]="searchString" class="form-control w-100" />
      </div>
      <table class="table checkin-table custom-table-striped">
        <thead>
          <tr class="checkin-table-header">
            <th scope="col" style="padding-left: 11px;">Patient Name</th>
            <th scope="col" style="padding-left: 0px;">MRN</th>
            <th scope="col" style="padding-left: 0px;">Case #</th>
            <th scope="col" style="padding-left: 0px;">Ward <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortRoom()"></i></th>
            <th scope="col" style="padding-left: 0px;">Room <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortRoom()"></i></th>
            <th scope="col" style="padding-left: 0px;">Bed <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortRoom()"></i></th>
            <th scope="col" style="padding-left: 0px;">Physician Order Text</th>
            <th scope="col" style="padding-left: 0px;">Order Status</th>
            <th scope="col" style="padding-left: 0px;">Created by <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortCreatedBy()"></i></th>
            <th scope="col" style="padding-left: 0px;width: 9% " >
              Created On <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortOnCreatedOnPhyOrder()"></i>
            </th>
            <th scope="col" style="padding-left: 0px; width: 9%" >Created At <i class="fa fa-sort ml-1" aria-hidden="true" (click)="sortTime()"></i></th>
            <th scope="col" style="text-align: center;">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataOnTableForPhyOrder | filter:searchString; let i = index">
            <td class="border-top-none" style="padding-left: 1px;">{{ item.PatientName }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.Patient }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.Falnr }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.Floor }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.RoomidText }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.BedidText }}</td>
            <td class="border-top-none" style="padding-left: 1px;" [title]="item.OrderShortText">{{ item.OrderShortText }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.StatusText }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ item.Erusr }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ getDate(item.Date) | date : "dd.MM.yyyy" }}</td>
            <td class="border-top-none" style="padding-left: 1px;">{{ getTime(item.Time) }}</td>
            <td style="display:flex;justify-content: center;align-items: center;">
              <button type="button" class="header-btn" (click)="openModalForPhyOrder(phyordertemplate, item, 'execute')"><span>Execute</span></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="dataOnTableForPhyOrder?.length == 0" style="text-align: center">No results</div>
    </div>
  </div>
</div>

<app-er-vitals #erVitalsModal></app-er-vitals>

<ng-template #labPrintLabel>
  <div>
    <div class="allergy-header">
      <div style="font-size: 23px; font-weight: bold">
        <span>Printing Label</span>
      </div>
    </div>
  </div>
  <div class="modal-body" style="padding: 0 11px 0px">
    <p>Are you sure you want to print label for "{{activelabLabelData?.Leitx}}" for "{{activelabLabelData?.Patient}}"
      with MRN {{activelabLabelData?.Patnr}}</p>
  </div>
  <div class="modal-footer">
    <div style="text-align: end">
      <button class="update-risk-save-btn" (click)="printLabel()">Print</button>
      <button class="update-risk-save-btn" (click)="closeLabModal()">Cancel</button>
    </div>
  </div>
</ng-template>

<ng-template #phyordertemplate>
  <div *ngIf="phyOrderAction == 'execute'">
    <div class="modal-header" style="display: flex; padding: 17px; background-color: #0082c8; color: white; border-radius: 16px 16px 0 0;">
      <h4 class="modal-title" style="color: white">Executing a Physician Order</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="display: block; padding: 0 0 0 12px">
        <p style="margin: 0; font-weight: bold; color: #82949e">Are you sure you want to execute the Physician Order:</p>
        <p style="color: navy; font-weight: bold; word-break: break-word">{{ phyOrderData.OrderShortText }}</p>
        <p>
          <span style="font-weight: bold; color: #82949e">Created by</span>
          <span style="color: navy; font-weight: bold; margin-left: 4px">{{ phyOrderData.Erusr }}</span> on
          <span style="color: navy; font-weight: bold">{{ getDate(phyOrderData.Date) | date : "dd.MM.yyyy" }}</span>
        </p>
      </div>
      <div class="modal-footer" style="padding: 5px 0 0 0; border-top: 1px solid #d7d7d7;">
        <div>
          <span class="execute-footer-note" style="position: relative; left: -15px; top: 1px; font-weight: bold; color: #82949e;">
            Note: Executing order will remove it from list
          </span>
          <span class="excute_btn">
            <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8" (click)="physicianOrderSet(phyOrderData, 'execute')">Execute</button>
            <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8" (click)="modalRef.hide()">Cancel</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="phyOrderAction == 'delete'">
    <div class="modal-header" style="display: flex; padding: 17px; background-color: #0082c8; color: white; border-radius: 16px 16px 0 0;">
      <h4 class="modal-title" style="color: white">Deleting a Physician Order</h4>
    </div>
    <div class="modal-body">
      <div class="row" style="display: block; padding: 0 0 0 12px">
        <p style="margin: 0; font-weight: bold; color: #82949e">Are you sure you want to delete the Physician Order:</p>
        <p style="color: navy; font-weight: bold; word-break: break-word">{{ phyOrderData.OrderShortText }}</p>
        <p>
          <span style="font-weight: bold; color: #82949e">Created by</span>
          <span style="color: navy; font-weight: bold; margin-left: 4px">{{ phyOrderData.Erusr }}</span> on
          <span style="color: navy; font-weight: bold">{{ getDate(phyOrderData.Erdat) | date : "dd.MM.yyyy" }}</span>
        </p>
      </div>
      <div>
        <select [(ngModel)]="cancelReasonValue" class="form-select" aria-label="Default select example">
          <option selected value="">Reason for deletion</option>
          <option [value]="item.Stoid" *ngFor="let item of cancelReasonListData">{{ item.N1stotx }}</option>
        </select>
        <p style="color: red" *ngIf="cancelReasonValue == ''">{{ errmsg }}</p>
      </div>
      <div class="modal-footer" style="padding: 5px 0 0 0; border-top: 1px solid #d7d7d7;">
        <div style="display: flex">
          <span style="position: relative; left: -3px; top: 7px; font-weight: bold; color: #82949e;">
            Note: Deleting order will remove it Permanently
          </span>
          <span style="display: flex">
            <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8" (click)="physicianOrderSet(phyOrderData, 'delete')">Delete</button>
            <button type="button" class="btn btn-primary" style="background-color: #0082c8; border: #0082c8" (click)="modalRef.hide()">Cancel</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #commonColModal>
  <div class="modal-body p-0">
    <div class="infoModel-title" style="background: #0056b0">
      <h4 class="m-0 pl-3">{{ colName }}</h4>
    </div>
    <div class="search-functionality search-image-comman col-md-10 pl-0 mt-2" *ngIf="this.colName == 'Allergen' || this.colName == 'RiskCode'">
      <img src="assets/img/pres-search-icon.svg" alt="" />
      <input type="text" placeholder="Search" id="searchFilter" class="form-control w-100" [(ngModel)]="searchString" (input)="someMethod(searchString)" />
    </div>
    <div style="max-height: 30em; overflow: auto; padding: 11px">
      <table class="table table-bordered">
        <thead style="position: sticky; top: -10px; z-index: 9; background: #e4edf5">
          <tr>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody style="background: #fbfcff">
          <tr class="c-pointer" *ngFor="let item of modalCommonDataArr" (click)="selectValueFromList(item)">
            <td>{{item.Bcpname || item.EvalTxt || item.CerText || item.EvalText || item.ReaText || item.SoaText || item.TypText || item.Rsfna}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
