<div class="search-functionalitypl-0 mt-2">
  <form action="" [formGroup]="formDetailGroup">
    <div
      class="tab-search-panel d-flex align-items-center justify-content-between" style="padding: 10px;
     "
    >
      <div class="w-100 d-flex align-items-center">
        <div class="search-functionality col-md-3 pl-0">
          <img src="assets/img/pres-search-icon.svg" alt="" style="position: absolute;
          top: 50%;
          left: 15px;
          transform: translateY(-50%);"/>
          <input
            type="text"
            (input)="onSearchChange($event)"
            formControlName="SearchData"
            placeholder="Search"
            class="form-control w-100"
            id="searchFilter"
            style="height: 38px;
            font: 600 14px/1.5 Nunito,sans-serif;
            color: #848f96;
            border-radius: 8px!important;
            box-shadow: none;
            padding: 10px 10px 10px 42px;"
          />
        </div>
        <div class="date-function mr-4" style="
       border-radius: 8px;
    position: relative;
    top: -10px;
    min-width: 28%;">
    <span class='pn-input-title z-indexlabel'>Date </span>
          <img src="assets/img/Calender.svg" alt="" style="position: relative;
          top: 37px;
          right: 6px;
          float: right;
          transform: translateY(-50%);"/>
          <input
            #drp="bsDaterangepicker"
            bsDaterangepicker
            [bsConfig]="{
              rangeInputFormat: 'DD.MM.YYYY',
              dateInputFormat: 'DD.MM.YYYY',
              containerClass: 'daterangepicker',
              showWeekNumbers: false
            }"
            class="form-control"
            formControlName="DateRange"
            (ngModelChange)="onDateChange()"
            style="
            border-radius: 8px;
           "
          />
        </div>
        <div class="select-functionality text-left">
          <ng-select
            [searchable]="true"
            (ngModelChange)="onDateChange()"
            formControlName="SelectDropdown"
            placeholder="Occupational Group"
          >
            <ng-option
              *ngFor="let data of occupationalGroupData"
              [value]="data.Group"
              >{{ data.Text }}</ng-option
            >
          </ng-select>
        </div>
        <div class="select-functionality ml-3" style="min-width: 200px" *ngIf="this.emergencyService.PhysicianOrders">
          <ng-select [searchable]="true" (ngModelChange)="onDateChange()" formControlName="selectStatus" placeholder="Status">
            <ng-option *ngFor="let data of physicianOrderStatus" [value]="data.label">{{ data.label }}</ng-option>
          </ng-select>
        </div>
        <div class="d-flex ml-3" *ngIf="this.emergencyService.ProgressNotes">
          <input class="w-20" type="checkbox" value="" (change)="showDeletedProgress($event)" formControlName="filterDeleted" id="flexCheckDefault">
          <label class="ml-2 form-check-label" for="flexCheckDefault">
            Deleted
          </label>
        </div>
      </div>
      <button
            type="button"
            class="all-notes"
            *ngIf="this.emergencyService.ProgressNotes"
            (click)="allOrderRemoveDateFilter()"
          >
            All Notes
          </button>
          <button
          type="button"
          class="all-notes"
          *ngIf="this.emergencyService.PhysicianOrders"
          (click)="allOrderRemoveDateFilter()"
        >
          All Orders
        </button>
          <button
          type="button"
          class="all-notes"
          (click)="resetFilter()"
        >
        <i aria-hidden="true" class="fa fa-refresh cursor-pointer"></i>
          Refresh
        </button>
      <!-- <i aria-hidden="true" class="fa fa-refresh refresh-icon cursor-pointer mr-3" (click)="resetFilter()"></i> -->
    </div>
  </form>
</div>
<div style="border-bottom: 10px solid #f2f4f6;
width: 104%;
position: relative;
left: -21px;"></div>