.borderbottom td {
  border: none;
}
.dosevalue{
  font-size: 12px !important;
  padding: 0 !important;
  background: #fff !important;
  top: 7px !important;
}
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
