.data_body {
  #exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  #exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }
  /* remove border radius for the tab */
  #exTab1 .nav-pills > li > a {
    border-radius: 0;
  }
  /* change border radius for the tab , apply corners on top*/
  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
  }
  #exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
  }

  .nav-pills li {
    height: 40px;
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
  }
  .active {
    color: #fff;
    background-color: #0056b0;
  }
  .row {
    margin-bottom: 8px;
    align-items: center;
  }
  label {
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .title-main {
    border-bottom: 3px solid #0056b0;
  }
  table {
    tr {
      td {
        text-align: center;
      }
    }
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    label {
      margin: 0;
      min-width: 80px;
    }
    .label {
      min-width: max-content;
      text-transform: capitalize;
    }
  }
}


.review-btn {
  background: #0056b0;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 90px;
  border: none;
}