.checkin-header {
  background-color: #0056b0;
  color: white;
  width: 97%;
  height: 53px;
  margin: 10px auto 0px;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
}

.er-header {
  background-color: #0082c8;
  color: white;
  width: 99%;
  height: 53px;
  margin: 6px;
  display: flex;
  align-items: center;
}

.checkin-edash-main {
  width: 97%;
  margin: 0px auto;
  background: #fff;
  border-radius: 0px 0px 15px 15px;
  display: flex;
}

.treatment-edash-main {
  width: 100%;
  margin: 0px auto;
  background: none;
  border-radius: 0px 0px 15px 15px;
  display: flex;
  justify-content: center;
}

.treatment-header {
  background-color: #0056b0;
  color: white;
  width: 97%;
  height: 78px;
  margin: 10px auto 0px;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  margin-top: 0px;
}

.treatment-old-header {
  background-color: #0082c8;
  color: white;
  width: 99%;
  height: 53px;
  margin: 6px;
  display: flex;
  align-items: center;
}

.floors-border{
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  .floo-radius{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    background-color: #FFBA8A;
  }
  .Ward-font{
    font-size: 16px;
    color: black;
  }
  .floor-data{
    font-size: 20px;
    color: #0056B0;
  }
}
