<ng-container *ngIf="group" [formGroup]="group">
  <ng-select class="d-grid-am" formControlName="Result_Drug_Name"
    [title]="group.get('Result_Drug_Name').value !== null ?
    group.get('Result_Drug_Name').value : ''" [typeahead]="searchTerm"
    (change)="broadcastEvent($event)"
    (keyup)="someMethod($event, searchTypeOnKeyEnter)"[markFirst]="false"
    [appendTo]="'body'"
    [ngClass]="group.touched &&
    group.get('Result_Drug_Name').errors && isSubmitted ?
    'ep-error-message': ''">
    <ng-option
      *ngFor=" let medicationDrug of medicationDrugList"
      [value]="medicationDrug.Drugid">
      {{ medicationDrug.Drugname }} - <span style="color: green" *ngIf="
        medicationDrug.Stocktext !== 'N/A' && medicationDrug.Stocktext !==
        '0.000' ">{{ medicationDrug.Stocktext }}</span><span
        style="color: red"
        *ngIf="
        medicationDrug.Stocktext === 'N/A' || medicationDrug.Stocktext ===
        '0.000'
        ">{{ medicationDrug.Stocktext }}</span>
    </ng-option>
  </ng-select>
</ng-container>
