<div class="container mt-4">
  <div class="physician-main diagnosis-list" [formGroup]="physicianOrderForm">
    <ng-container *ngFor="let item of physicianOrderForm.get('physicianOrderList')['controls']; let i = index">
        <div class="physician-list" (click)="selectedphyOrderData(item, i)" *ngIf="!item.value.Delete" formArrayName="physicianOrderList" 
          [ngClass]="i == selectedPhyOrderIndex ? 'selected-data' : ''" >
          <div [formGroupName]="i" class="d-flex" (click)="$event.stopPropagation()" >
            <div class="d-flex align-items-center position-relative w-20 mr-1">
              <span class="d-flex align-items-center p-0 w-100 position-relative pt-2">
                <span class="input-title z-indexlabel">Occuptional Group</span>
                <span class="input-text-field d-inline-block align-top w-100 font-weight-bolder">
                  <ng-select formControlName="ProfGroup" (change)="onSelectedOccuption($event, i)" appendTo="body" title="{{titleShow(item.get('ProfGroup').value)}}">
                    <ng-option *ngFor="let search of occupationGroupList" [value]="search.Group" >
                      <span title="{{search.Text}}">{{ search.Text }}</span> 
                    </ng-option>
                  </ng-select>
                </span>
              </span>
            </div>
            <div class="d-flex align-items-center position-relative w-50 mr-1">
              <span class="d-flex align-items-center p-0 w-100 position-relative pt-2">
                <span class="input-title z-indexlabel">Physician Order Text</span>
                <span class="input-text-field d-inline-block align-top w-100">
                  <input type="text" class="form-control" formControlName="ZphysOrder" [title]="item.get('ZphysOrder').value !== null ? item.get('ZphysOrder').value : ''"
                    [ngClass]="fieldTouchPhy[i] && item.get('ZphysOrder').errors ? 'ep-error-message': ''" (focus)="onFieldFocus(i)"/>
                </span>
              </span>
            </div>
            <div class="d-flex align-items-center position-relative w-10 mr-1">
              <span class="d-flex align-items-center p-0 w-100 position-relative pt-2">
                <span class="input-title z-indexlabel">Valid On Day</span>
                <span class="input-text-field d-inline-block align-top w-100">
                  <input type="text" class="form-control" formControlName="ValidOn" [title]="item.get('ValidOn').value !== null ? item.get('ValidOn').value : ''" numbersOnly
                  [ngClass]="fieldTouchPhy[i] && item.get('ValidOn').errors ? 'ep-error-message': ''" (focus)="onFieldFocus(i)">
                </span>
              </span>
            </div>
            <div class="w-20 ml-2 mt-2">
              <div class="d-flex align-items-center h-100">
                <input class="mr-1 largerCheckbox" type="checkbox" formControlName="Autoselect"/>
                <label class="m-0">Selected by Default.</label>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
  </div>
</div>

<ng-template #deletePhysicianModal id="deleteModal">
    <div class="modal-body p-0">
      <div class="update-template-title">
        <h4 class="m-0 pl-3">Delete physician</h4>
      </div>
      <div class="p-3">
        <div class="update-template-contant">
          <p>Are you sure you want to delete this physician?</p>
        </div>
        <div class="text-right mt-3">
          <button type="button" class="update-Exsiting mr-3" (click)="removeDiagnosisAPi()">
            Continue
          </button>
          <button type="button" class="update-Exsiting" (click)="modalRefForPhysician.hide()">Cancel</button>
        </div>
      </div>
    </div>
  </ng-template>
  