<div class="search-functionalitypl-0 mt-2">
  <form action="" [formGroup]="formDetailGroup">
    <div class="tab-search-panel d-flex align-items-center justify-content-between">
      <div class="tab-set w-100 row ">
        <tabset class="col-2">
          <tab *ngFor="let tabz of tabs" [heading]="tabz.title" [active]="tabz.active" (selectTab)="tabz.active = true"
            (selectTab)="changeTab(tabz)">
            {{tabz?.content}}
          </tab>
        </tabset>

        <div class="d-flex align-items-center col-3 stronge-wrap">
          <h6 class="mr-3 mb-0">Stronge Location</h6>
          <ng-select class="ng-select-dropdown width-250 product-description-width hide-dropdown-x-icon"
            [placeholder]="'Storage Location'" [clearable]="true" [searchable]="true" formControlName="selectedLocation"
            [(ngModel)]="selectedLocation" (change)="onLocationChange($event)">
            <ng-option *ngFor="let item of storageLocationList" [value]="item">{{ item.Lgort }}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-between" *ngIf="isConsumableAction == '2'">
        <div>
          <button type="button" class="header-btn" (click)="resetForm()">
            <span>Cancel</span>
          </button>
        </div>
        <div class="spacer"></div>
        <div>
          <button type="button" class="header-btn" (click)="saveConsumable()">
            <span>Post</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
