<form [formGroup]="nursingDischargeForm" class="tab-content-part">
  <div class="row m-0">
    <div class="col-md-12 row m-0">
      <div class="col-md-4">
        <label>Needs medical follow up outside?</label>
      </div>
      <div class="col-md-2">
        <ng-select class="p-0 mb-2" formControlName="DpMedicalFollow">
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-md-12 row m-0">
      <div class="col-md-4">
        <label>Needs Devices, Medical Supplies, 02 Supplement?</label>
      </div>
      <div class="col-md-2">
        <ng-select class="p-0 mb-2" formControlName="DpDevices">
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-md-12 row m-0">
      <div class="col-md-4">
        <label>Needs Ambulance?</label>
      </div>
      <div class="col-md-2">
        <ng-select class="p-0 mb-2" formControlName="DpAmbulance">
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-md-12 row m-0">
      <div class="col-md-4">
        <label>Needs Transfer to other Department?</label>
      </div>
      <div class="col-md-2">
        <ng-select class="p-0 mb-2" formControlName="DpTransfer">
          <ng-option
            *ngFor="let item of dischargeDropdownValue"
            [value]="item.value"
            >{{ item.label }}
          </ng-option>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-md-6 row m-0">
      <div class="col-md-12 other-section pr-0">
        <label>Others</label>
        <textarea
          class="form-control"
          rows="3"
          formControlName="DpOthers"
        ></textarea>
      </div>
    </div>
  </div>
</form>
