@import url("../../../nursing-admission-assessment/nursing-admission-assessment.component.scss");

.past-table input {
  background: #ffffff;
  border: 1px solid #cacaca !important;
}
.form-control:focus {
  box-shadow: none !important;
}

.scale-box {
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-top: 10px;
  }
}
.disabled-form {
    img {
      pointer-events: none;
    }
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    textarea,
    ng-select {
        pointer-events: none;
        cursor: not-allowed;
    }
}