.ma-border {
  margin: 22px 35px 22px 35px !important;
}

.h-30 {
  height: 25px !important;
  font-size: 12px !important;
}

.table {
  .main_row {
    line-height: 24px;
    th {
      padding: 4px !important;
    }
  } 
  tr td {
    max-width: 300px;
  }

  tr td:nth-child(10) {
    width: 105px !important;
  }

  tr td:nth-child(5) {
    width: 159px !important;
  }
    
  thead {
    background: #0082c8 !important;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9 !important;
  }

  .top-bottom-border {
    border-top: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
  }

  .border-end {
    border-right: 1px solid #000000 !important;
  }

  .border-start {
    border-left: 1px solid #000000 !important;
  }
}

.main-table-th {
  width: 100px;
}

.order-details-table {
  overflow: auto;
  max-height: 25vh;
  margin: 0px 6px;

  .abnormal-class {
    color: red !important;
  }
}

.lab-text-overflow{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
