@import url('../patient-profile.component.scss');

.medication-radiology-table {
    td:nth-child(1) {
      width: 240px !important;
      max-width: 240px !important;
      min-width: 240px !important;
    }
    td:nth-child(2) {
      width: 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
    td:nth-child(3) {
      width: 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
    td:nth-child(4) {
      width: 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
    td:nth-child(5) {
      width: 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
    td:nth-child(6) {
      width: 130px !important;
      max-width: 130px !important;
      min-width: 130px !important;
    }
  }