.tab-navigation-part {
  background: none !important;
}

.tab-navigation-part .tab-navigate .tab-nav {
  padding: 0px !important;
  border-bottom: none !important;
}

.tab-action {
  border: 1px solid;
  background: #3b82f6;
  color: #fff;
  padding: 5px 20px;
  border-radius: 4px;
  font-weight: 700;
  height: fit-content;
}

.tab-action:disabled {
  background: gray;
  border-color: gray;
  cursor: not-allowed;
}

.table th, .table td {
  vertical-align: middle;
}
