<ng-template #additionalInfo>
    <form [formGroup]="userGroup">
      <div class="d-flex justify-content-between align-items-center bg-comm p-2">
        <label for="additionalInfo" class="w-100 mb-0 font-witnss font-weight-bold">Witnessed by</label>
        <div>
          <img src="assets/img/CloseTab.svg" alt="" (click)="cancelAdditionalInfo()">
        </div>
      </div>
      <div class="additional-input additional-input w-100 p-3">
      <div class="mb-2">
        <label class="font-use mb-1">User Name</label>
        <input type="text" class="form-control" formControlName="username"  autocomplete="one-time-code"   autocomplete="off">
      </div>
      <div>
        <label class="font-use mb-1">password</label>
        <input type="text" class="form-control  password-input" formControlName="password" autocomplete="one-time" autocomplete="off">
      </div>
      </div>
    </form>
    <div class="button-group d-flex justify-content-center align-content-center p-3">
      <button (click)="updateAdditionalInfo()" class="d-flex
        align-items-center w-100 mr-2 bg-color justify-content-center">Save</button>
    </div>
  </ng-template>
  