<div class="row m-0">
    <div class="col-md-2">
        <label class="m-0">Apical Pulse</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Present</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Weak</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Absent</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Murmur</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Auduble</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Not Auduble</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Heart tones</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Regular</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Irragular</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Color and nail beds</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Pink</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">Pale</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Dusky</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Cyanosis</label>
    </div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Acrocyanotic</label>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <input type="radio" />
        <label class="m-0 ml-2">Clubbing</label>
    </div>
</div>
<div class="row m-0 mt-3">
    <div class="col-md-2">
        <label class="m-0">Capillary Refill</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">
            < 3 seconds</label>
    </div>
    <div class="col-md-2">
        <input type="checkbox" />
        <label class="m-0 ml-2">> 3 seconds</label>
    </div>
</div>