.form-check {
    width: 15px;
    margin-left: 5px;
}
.disabled-form {
    img {
      pointer-events: none;
    }
    input[type="checkbox"],
    input[type="radio"],
    input[type="text"],
    textarea,
    ng-select {
        pointer-events: none;
        cursor: not-allowed;
    }
}