
// header
.floors-color{
  background-color: #0056B0;
  .floors-head {
    color: white;
    font-size: 20px;
  }
  .adjust-icons{
    div{
      width: 30px !important;
      height: 30px !important;
      border-radius: 50%;
      background-color:  #1768BC;
      color: #badbfd;
      font-size: 15px;
    }
  }
}

.handwhite-spae{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 23px;
}
.font-color{
  color: #9298A1 !important;
  font-weight: 900 !important;
}
.border-rad{
  border-radius: 20px !important;
}
.hadbg-color{
  background-color:#FBFCFF;
  border: 1px solid #C6D7FB !important;
}
.handborder-bottom{
  border-bottom: 1px solid #D9DADC;
}
.hand-color{
  background-color: #fff;

  .hand-border{
    border: 1px solid #D9DADC;
    border-radius: 13px;
  }
  .hand-icon{
    background-color: #DAEDFF;
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}
.check-color{
  background-color:#55A931 ;
  color: #DFEFD8;
}
.more-color{
  background-color:#1768BC ;
  color: #DFEFD8;
}
.hand-creat{
  background-color: #EDF6FD;
}
.textarea-data{
  label{
    left: 20px;
    top: -10px;
    background-color: #fff;
    font-size: 14px;
    color: #1F6BBA !important;
  }
  textarea{
    resize: none;
    border-radius: 10px;
  }
}

// hand-popover

.hand-servi{
  height: 380px;
}

.icon-width{
  width: 35px;
  height: 35px;
}
.hand-data-bg{
  border: 2px solid #E9E9EC;
    border-radius: 14px;
    overflow: hidden;
    .ha-da-color{
      background-color: #293A4A;
      color: white;
    }
    .hand-input:focus{
      outline: none;
      box-shadow:none;
    }
}
.han-border-bot{
  border-bottom: 1px solid #F5F5F5;
  background-color: #FBFCFF;
}

.popover.popover-bottom{
  max-width: 90% !important;
  border-radius: 20px !important;
}
.hand-input{
  color: #A4AAB1 !important;
  font-weight: 400 !important;
  background: none !important;
}
.han-pen-color{
  background-color: #FBE7EA;
  color: #FF2E29;
}
.hand-background{
  border: 1px solid #1768BC !important;
}
.hand-pdf{
  border: 1px solid #293A4A;
  background-color: #E4EDF5 !important;
  border-radius:8px;
}

.hand-font{
  font-size: 12px !important;
  color: #435361 !important;
}

.position-relative {
  position: relative;

  .checkbox-panel {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &:checked~span::before {
      opacity: 1;
      visibility: visible;
    }
  }

  span.admin {
    min-width: 20px;
    min-height: 20px;
    border: 2px solid #c0c4d5;
    border-radius: 3px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      border: 2px solid #0A5BD8;
      background-color: #0064FE;
      background-image: url('../../../assets/img/check-icon.svg');
      background-size: contain;
      background-position: center;
      left: -2px;
      top: -2px;
      right: -2px;
      bottom: -2px;
      border-radius: 3px;
      opacity: 0;
      visibility: hidden;
    }
  }

  .color {
    color: #8B7D80;
  }

  label {
    color: #000;
    font-weight: bold;
    font-size: 13px;
  }
}
