.order-templete-main {
    max-height: 550px;
    overflow: hidden;
  
    .consumable-histry-table {
      table {
        border-collapse: separate;
        border-spacing: 2px;
        white-space: nowrap;
        thead {
          background: #e4edf5 !important;
          position: sticky;
          top: 0;
          z-index: 9;
  
          tr {
            th {
              font-weight: 700;
              font-size: larger;
  
            }
          }
        }
  
        tbody {
          background-color: #fbfcff;
  
          tr {
            font-weight: 600;
  
            td {
              padding: 10px;
              font-size: larger;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 100px;
            }
          }
        }
      }
    }
  }
  

  