<div class="pl-2 py-2 pl-xxl-3 py-xl-2 pr-2">
  <div class="d-flex justify-content-between align-items-center">
    <div class="mr-0">
      <div class="font-bold text-tiny-x7">Height</div>
      <span class="font-bold block text-tiny-x6">
        {{ patient?.height?.value }} {{ patient?.height?.unit }}
      </span>
    </div>
    <div class="mr-0">
      <div class="font-bold text-tiny-x7">Weight</div>
      <span class="font-bold block display-line text-tiny-x6">
        {{ patient?.weight?.value }} {{ patient?.weight?.unit }}
      </span>
    </div>
    <div class="mr-0">
      <div class="font-bold text-tiny-x7">BMI</div>
      <span class="font-bold block display-line text-tiny-x6">
        {{ patient?.bmi?.value }} {{ patient?.bmi?.unit }}
      </span>
    </div>
    <span class="bg-changing"
      ><img
        _ngcontent-htc-c67=""
        src="assets/img/output-onlinepngtools (1).png"
        style="width: 30px"
    /></span>
  </div>
</div>
