<div class="hand-servi">
  <div class="d-flex justify-content-between px-2 py-1 align-items-center">
    <h4 class="font-weight-bold">Radiology ServicesRadiology Services</h4>
    <img src="assets/img/CloseTab.svg" alt="" height="30" class="c-pointer" (click)="onPopoverClose()">
  </div>
  <div class="hand-data-bg">
    <table class="w-100">
      <thead>
        <tr class="ha-da-color">
          <td class="border-0 w-25 p-3">Services Description</td>
          <td class="border-0 w-25 p-3">Category</td>
          <td class="border-0 w-15 p-3">Code</td>
          <td class="border-0 w-15 p-3">Service Date</td>
          <td class="border-0 w-15 p-3">Service Time</td>
          <td class="border-0 w-10 p-3 text-center">Action</td>
        </tr>
      </thead>
      <tbody>
        <tr class="han-border-bot">
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="Specifice Gravity,Urine"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="-----"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="MBLB0002"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="07/02/2023"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="01:13 AM"></td>
          <!-- <td class="p-2 d-flex justify-content-center align-items-center"><button type="button" class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">pending</button></td> -->
          <td>
            <table class="d-flex justify-content-center align-items-center">
              <tr>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="han-border-bot">
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="Specifice Gravity,Urine"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="-----"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="MBLB0002"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="07/02/2023"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="01:13 AM"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button" class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">pending</button></td>
          <!-- <td>
            <table class="d-flex justify-content-center align-items-center">
              <tr>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
              </tr>
            </table>
          </td> -->
        </tr>
        <tr class="han-border-bot">
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="Specifice Gravity,Urine"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="-----"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="MBLB0002"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="07/02/2023"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="01:13 AM"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button" class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">pending</button></td>
          <!-- <td>
            <table class="d-flex justify-content-center align-items-center">
              <tr>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
              </tr>
            </table>
          </td> -->
        </tr>
        <tr class="han-border-bot">
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="Specifice Gravity,Urine"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="-----"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="MBLB0002"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="07/02/2023"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="01:13 AM"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button" class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">pending</button></td>
          <!-- <td>
            <table class="d-flex justify-content-center align-items-center">
              <tr>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
              </tr>
            </table>
          </td> -->
        </tr>
        <tr class="han-border-bot">
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="Specifice Gravity,Urine"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="-----"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="MBLB0002"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="07/02/2023"></td>
          <td class="p-2"><input type="text" class="form-control border-0 hand-input" value="01:13 AM"></td>
          <td class="p-2 d-flex justify-content-center align-items-center"><button type="button" class="border-0 px-4 py-2 border-rad han-pen-color font-weight-bold">pending</button></td>
          <!-- <td>
            <table class="d-flex justify-content-center align-items-center">
              <tr>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
                <td class="p-1">
                  <div class="p-1 hand-pdf">
                    <img src="assets/img/file-pdf.svg" alt="" height="25">
                  </div>
                </td>
              </tr>
            </table>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
